<apex:component controller="productInfoController" >
    <apex:pageBlockSection id="pi1" collapsible="true" showHeader="true" title="Product Information" columns="1">
        <apex:outputPanel layout="block">
            <apex:image value="{!URLFOR($Resource.icons, 'activeProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px"/> Active
            &nbsp;&nbsp;
            <apex:image value="{!URLFOR($Resource.icons, 'cancelledProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px"/> Cancelled
            &nbsp;&nbsp;
            <apex:image value="{!URLFOR($Resource.icons, 'doneProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px"/> Done
            <apex:commandLink type="btn" value="Activate Products" action="{!activateProducts}" rendered="{!viewAP = true}" style="position:relative;float:right;" />
        </apex:outputPanel>
        <apex:outputPanel layout="block">
            <div style="height:6px;">&nbsp;</div>
            <table>
                <tr> 
                    <td>
                        <apex:outputText value="MSDS Management" style="font-weight:600;font-size:13px;text-decoration:underline;"/><br/>
                        <apex:outputtext rendered="{!a.Chemical_Management_Version__c != null}">
                            <apex:outputText value="Chemical Management Version: {!a.Chemical_Management_Version__c}" style="font-weight:600;font-size:11px;position:relative;top:4px"/>
                            <br/>
                        </apex:outputtext>
                        <apex:outputText rendered="{!a.GUID__c != null}">
                            <button type="button" class="btn" style="position:relative;top:4px" onclick="copyGuid()">Copy HQ URL</button>    
                        </apex:outputText>
                        <script language="javascript">
                        function copyGuid() {
                            var guidLink = document.createElement("textarea");
                            var guidId = '{!a.GUID__c}'
                            var version = '{!a.Chemical_Management_Version__c}'
                            
                            if(version == '9.0'){
                                guidLink.value = 'https://chemmanagement.ehs.com/9/'+guidId;                                
                            } else if(version != '9.0'){
                                guidLink.value = 'https://msdsmanagement.msdsonline.com/company/'+guidId;
                            }
                            
                            document.body.appendChild(guidLink);
                            guidLink.select();
                            try {
                                var successful = document.execCommand('copy');
                                var msg = successful ? 'successfully' : 'unsuccessfully';
                                alert('The HQ URL has been copied to your clipboard ' + msg);
                            } catch (err) {
                                console.log('Oops, unable to copy');
                            }
                        }
                        </script>
                    </td>
                    <td style="width:30px">
                    </td>
                    <td>
                        <apex:outputText value="EH&S Management" style="font-weight:600;font-size:13px;text-decoration:underline;"/>
                        <apex:outputtext rendered="{!a.EHS_Subscription_Model__c != null}">
                            <br/>
                            <apex:outputText value="Subscription Model: {!a.EHS_Subscription_Model__c}" style="font-weight:600;font-size:11px;position:relative;top:4px"/>
                        </apex:outputtext>
                    </td>
                    <td style="width:30px"></td>
                    <td>
                        <apex:outputText value="Ergonomics" style="font-weight:600;font-size:13px;text-decoration:underline;"/>
                    </td>
                </tr>
                <tr>
                    <!--- MSDS MANAGEMENT --->
                    <td>
                        <table>
                            <tr>
                                <apex:outputtext rendered="{!msds_l = true}">
                                    <td>
                                        <apex:outputText value="Licensing" style="font-weight:600;font-size:12px;position:relative;bottom:-4px;" />
                                    </td>
                                </apex:outputtext>
                                <apex:outputtext rendered="{!msds_s = true}">
                                    <td>
                                        <apex:outputText value="Services" style="font-weight:600;font-size:12px;position:relative;bottom:-4px;"/>
                                    </td>
                                </apex:outputtext>
                                <apex:outputtext rendered="{!msds_a = true}">
                                    <td>
                                        <apex:outputText value="Additional Compliance Services" style="font-weight:600;font-size:12px;position:relative;bottom:-4px;"/>
                                    </td>
                                </apex:outputtext>
                            </tr>
                            <tr>
                                <apex:outputtext rendered="{!msds_l = true}">
                                    <td>
                                        <table>
                                            <tr>
                                                <apex:repeat value="{!wraps}" var="w">
                                                    <apex:outputText rendered="{!w.prodCat = 'msdsL'}">
                                                        <tr>
                                                            <td>
                                                                <apex:image value="{!URLFOR($Resource.icons, 'activeProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'active'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'cancelledProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'cancelled'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'doneProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'done'}"/> 
                                                                {!w.prodName}
                                                            </td>
                                                        </tr>
                                                    </apex:outputText>
                                                </apex:repeat>
                                            </tr>
                                        </table>
                                    </td>
                                </apex:outputtext>
                                <apex:outputtext rendered="{!msds_s = true}">
                                    <td>
                                        <table>
                                            <tr>
                                                <apex:repeat value="{!wraps}" var="w">
                                                    <apex:outputText rendered="{!w.prodCat = 'msdsC'}">
                                                        <tr>
                                                            <td>
                                                                <apex:image value="{!URLFOR($Resource.icons, 'activeProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'active'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'cancelledProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'cancelled'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'doneProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'done'}"/> 
                                                                {!w.prodName}
                                                            </td>
                                                        </tr>
                                                    </apex:outputText>
                                                </apex:repeat>
                                            </tr>
                                        </table>
                                    </td>
                                </apex:outputtext>
                                <apex:outputtext rendered="{!msds_a = true}">
                                    <td>
                                        <table>
                                            <tr>
                                                <apex:repeat value="{!wraps}" var="w">
                                                    <apex:outputText rendered="{!w.prodCat = 'msdsA'}">
                                                        <tr>
                                                            <td>
                                                                <apex:image value="{!URLFOR($Resource.icons, 'activeProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'active'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'cancelledProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'cancelled'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'doneProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'done'}"/> 
                                                                {!w.prodName}
                                                            </td>
                                                        </tr>
                                                    </apex:outputText>
                                                </apex:repeat>
                                            </tr>
                                        </table>
                                    </td>
                                </apex:outputtext>
                            </tr>
                        </table>
                    </td>
                    <!--- /MSDS MANAGEMENT --->
                    
                    <!--- SPACER ROW --->
                    <td>
                        <div style="width:1px;height:100px;background-color:#ECECEC;position:relative;right:-14px;">&nbsp;</div>
                    </td>
                    <!--- /SPACER ROW --->
                    
                    <!--- EHS MANAGEMENT --->
                    <td>
                        <table>
                            <tr>
                                <apex:outputtext rendered="{!kmi_l = true}">
                                    <td>
                                        <apex:outputText value="Licensing" style="font-weight:600;font-size:12px;position:relative;bottom:-4px"/>
                                    </td>
                                </apex:outputtext>
                                <apex:outputtext rendered="{!kmi_s = true}">
                                    <td>
                                        <apex:outputText value="Services" style="font-weight:600;font-size:12px;position:relative;bottom:-4px"/>
                                    </td>
                                </apex:outputtext>
                                <apex:outputtext rendered="{!kmi_a = true}">
                                    <td>
                                        <apex:outputText value="Add-On Services" style="font-weight:600;font-size:12px;position:relative;bottom:-4px"/>
                                    </td>
                                </apex:outputtext>
                            </tr>
                            <tr>
                                <apex:outputtext rendered="{!kmi_l = true}">
                                    <td>
                                        <table>
                                            <tr>
                                                <apex:repeat value="{!wraps}" var="w">
                                                    <apex:outputText rendered="{!w.prodCat = 'kmiL'}">
                                                        <tr>
                                                            <td>
                                                                <apex:image value="{!URLFOR($Resource.icons, 'activeProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'active'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'cancelledProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'cancelled'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'doneProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'done'}"/> 
                                                                {!w.prodName}
                                                            </td>
                                                        </tr>
                                                    </apex:outputText>
                                                </apex:repeat>
                                            </tr>
                                        </table>
                                    </td>
                                </apex:outputtext>
                                <apex:outputtext rendered="{!kmi_s = true}">
                                    <td>
                                        <table>
                                            <tr>
                                                <apex:repeat value="{!wraps}" var="w">
                                                    <apex:outputText rendered="{!w.prodCat = 'kmiS'}">
                                                        <tr>
                                                            <td>
                                                                <apex:image value="{!URLFOR($Resource.icons, 'activeProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'active'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'cancelledProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'cancelled'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'doneProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'done'}"/> 
                                                                {!w.prodName}
                                                            </td>
                                                        </tr>
                                                    </apex:outputText>
                                                </apex:repeat>
                                            </tr>
                                        </table>
                                    </td>
                                </apex:outputtext>
                                <apex:outputtext rendered="{!kmi_a = true}">
                                    <td>
                                        <table>
                                            <tr>
                                                <apex:repeat value="{!wraps}" var="w">
                                                    <apex:outputText rendered="{!w.prodCat = 'kmiA'}">
                                                        <tr>
                                                            <td>
                                                                <apex:image value="{!URLFOR($Resource.icons, 'activeProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'active'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'cancelledProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'cancelled'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'doneProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'done'}"/> 
                                                                {!w.prodName}
                                                            </td>
                                                        </tr>
                                                    </apex:outputText>
                                                </apex:repeat>
                                            </tr>
                                        </table>
                                    </td>
                                </apex:outputtext>
                            </tr>
                        </table>
                    </td>
                    <!--- /EHS MANAGEMENT --->
                    
                    <!--- SPACER ROW --->
                    <td>
                        <div style="width:1px;height:100px;background-color:#ECECEC;position:relative;right:-14px;">&nbsp;</div>
                    </td>
                    <!--- /SPACER ROW --->
                    
                    <!--- ERGO MANAGEMENT --->
                    <td>
                        <table>
                            <tr>
                                <apex:outputtext rendered="{!ergo_l = true}">
                                    <td>
                                        <apex:outputText value="Licensing" style="font-weight:600;font-size:12px;position:relative;bottom:-4px"/>
                                    </td>
                                </apex:outputtext>
                                <apex:outputtext rendered="{!ergo_s = true}">
                                    <td>
                                        <apex:outputText value="Services" style="font-weight:600;font-size:12px;position:relative;bottom:-4px"/>
                                    </td>
                                </apex:outputtext>
                            </tr>
                            <tr>
                                <apex:outputtext rendered="{!ergo_l = true}">
                                    <td>
                                        <table>
                                            <tr>
                                                <apex:repeat value="{!wraps}" var="w">
                                                    <apex:outputText rendered="{!w.prodCat = 'ergoL'}">
                                                        <tr>
                                                            <td>
                                                                <apex:image value="{!URLFOR($Resource.icons, 'activeProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'active'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'cancelledProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'cancelled'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'doneProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'done'}"/> 
                                                                {!w.prodName}
                                                            </td>
                                                        </tr>
                                                    </apex:outputText>
                                                </apex:repeat>
                                            </tr>
                                        </table>
                                    </td>
                                </apex:outputtext>
                                <apex:outputtext rendered="{!ergo_s = true}">
                                    <td>
                                        <table>
                                            <tr>
                                                <apex:repeat value="{!wraps}" var="w">
                                                    <apex:outputText rendered="{!w.prodCat = 'ergoS'}">
                                                        <tr>
                                                            <td>
                                                                <apex:image value="{!URLFOR($Resource.icons, 'activeProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'active'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'cancelledProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'cancelled'}"/> 
                                                                <apex:image value="{!URLFOR($Resource.icons, 'doneProduct.png')}" height="15px" width="15px" style="position:relative;bottom:-3px" rendered="{!w.prodStatus = 'done'}"/> 
                                                                {!w.prodName}
                                                            </td>
                                                        </tr>
                                                    </apex:outputText>
                                                </apex:repeat>
                                            </tr>
                                        </table>
                                    </td>
                                </apex:outputtext>
                            </tr>
                        </table>
                    </td>
                    <!--- /ERGO MANAGEMENT --->
                </tr>
            </table>
        </apex:outputPanel>
    </apex:pageBlockSection>
</apex:component>