@page footer
{
    size: 8.5in 11in;
    margin: 1.5in .25in 1.5in .25in;
    @top-left {
        content: element(header);
    }
    @bottom-left {
        content: element(footer);
    }
}

@page nofooter
{
    size: 8.5in 11in;
    margin:0in 0in 0in 0in;
    
}


/**********************Start Normalize************************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* ==========================================================================
Base
========================================================================== */

/*
* 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevents iOS text size adjust after orientation change, without disabling
*    user zoom.
*/

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    min-width: 753.4px;
}

/*
* Addresses `font-family` inconsistency between `textarea` and other form
* elements.
*/

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
* Addresses margins handled incorrectly in IE6/7.
*/

body {
    background-color:#fff;
    columns: #333;;
    font-family:Arial, Sans-Serif;
    font-size:12px;
    font-weight:normal;
    line-height:1.2;
    margin: 0;
    position:relative;
    padding-bottom: 6rem;
    min-height: 100%;
    
}

/* ==========================================================================
Links
========================================================================== */
a
{
    color:#1080bc;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
}
/*
* Addresses `outline` inconsistency between Chrome and other browsers.
*/

a:focus {
    outline: thin dotted;
}

/*
* Improves readability when focused and also mouse hovered in all browsers.
* people.opera.com/patrickl/experiments/keyboard/test
*/

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
Typography
========================================================================== */

/*
* Addresses font sizes and margins set differently in IE6/7.
* Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
*/

h1 {
    font-size: 2.4em;
    margin: .2em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
* Addresses style set to `bolder` in FF3+, S4/5, Chrome.
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
* Addresses margins set differently in IE6/7.
*/

p,
pre {
    margin: 1em 0;
}

/*
* Improves readability of pre-formatted text in all browsers.
*/

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
* Addresses CSS quotes not supported in IE6/7.
*/

q {
    quotes: none;
}


/* ==========================================================================
Lists
========================================================================== */

/*
* Addresses margins set differently in IE6/7.
*/

dl,
menu,
ol,
ul {
    margin: .2em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
* Addresses paddings set differently in IE6/7.
*/

menu,
ol,
ul {
    padding: 0 0 0 24px;
    list-style-image:url(images/bullet-blue-square.gif);
}

ul ul {
    padding-left: 3in;
	list-style-image:url(images/bullet-sub-blue-square.gif);
}

ul li {
    margin-bottom:.2em;
}

/* ==========================================================================
Embedded content
========================================================================== */

/*
* 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
* 2. Improves image quality when scaled in IE7.
*    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
*/

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}


/* ==========================================================================
Tables
========================================================================== */

/*
* Remove most spacing between table cells.
*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**********************End Normalize************************/

body.noFooter {
    page: noFooter;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

body.bodyClass {
    page: footer;
    margin: 0;
    
    
}

/**********************Shared Components************************/

/* ============ Footer ============== */
.footer {
    padding: 16px;
    position: running(footer);
}
.footerDontShow {
    visibility: hidden;
    margin: 150px !important;
    padding: 0px !important;
    height: 0px !important;
}
.footer-logo {
    float: right;
}
.footer p {
    font-size: .9em;
    line-height: .4;
    color: #949ca1;
    margin-bottom: 0;
}
p.footer-lede {
    color:#006892;
}

/* ============ Heading Bar ============== */

.heading-bar {
    background-color: #00b6dd;
    padding: 8px 5px 8px 20px;
    position: running(header);
}
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* ============ Main section ============== */
.main {
    
    margin: 0 auto;
    padding-top: 0px;
    max-width: 640px;
    width: 94%;
}
.mainNonCoverPage {
    
    margin-left: 30px;
    padding-top: 0px;
    
}
.page-title {
    margin-top: 0px;
    font-size: 2.5em;
    color: #036992;
    text-transform: uppercase;
    margin-bottom: 24px;
}


/* ============ Table Styles ============== */
.data-table {
    width: 100%;
}
.data-table td,
.data-table th
{
    border: solid 1px #cccccc;
    padding: 8px 12px;
}
.data-table th {
    background-color: #418cae;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    padding: 8px 12px;
}

.data-table tfoot td {
    background-color: #e7f0f7;
    font-weight: bold;
    color: #14789c;
    vertical-align: middle;
}
.data-table th.data-table-th-alt {
    background-color: #b0b5b8;
}
.data-table ul {
    padding-left: 14px;
    
}
.secondIndent{
    padding-left: 24px;
    
}
.data-table-total {
    font-size: 1.2em;
    text-transform: uppercase;
}
.col-70 {
    width: 70%;
}
.col-25 {
    min-width: 25%;
    max-width: 30%;
}
.col-12 {
    max-width: 8%;
}
.v-align-middle {
    vertical-align: middle;
}
.data-table th.text-align-center,
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
/* ============ Callout Styles ============== */
.callout {
    border: solid 1px #cccccc;
    padding: 16px;
    margin: 24px 0;
}
.callout-green {
    background-color: #e8f2d6;
}
/* ============ Miscellaneous Styles ============== */
.text-grey {
    color: #7c7c7c;
}
.heading-med-blue {
    color: #006890;
    font-size: 1.2em;
    font-weight: bold;
}
/**********************Cover Page Components************************/
.cover-title {
    font-size: 3em;
    color: #036992;
    margin-top: 80px;
    margin-bottom: 24px;
}
.cover-prepared-for {
    font-size: 2em;
    color: #00b6de;
    margin-bottom: 0;
}
.cover-company {
    font-size: 2em;
    color: #949ca1;
    margin-bottom: 24px;
}
.cover-date {
    font-size: 2em;
    color: #949ca1;
    margin-bottom: 250px;
}
.rep-name {
    color: #00b6de;
}
.rep-contact {
    margin: 16px 0 60px;
}

/****Proposed Solution Specific Styling****/
.strikethroughClass {
    text-decoration: line-through;
    color:red;
}

.addBlack{
    color: black;
}


.addRed{
    color: red;
}

tr.footerStyle {
      background-color: #e7f0f7;
    font-weight: bold;
    color: #14789c;
    vertical-align: middle;
   
}

td.bottomPadding {
     padding-bottom: 8px !important;
     padding-top: 8px !important;
}
.cost-table td,
.cost-table th
{
	border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    padding: 8px 12px;;
}

td.leftBorder{
    border-left: solid 1px #cccccc;
}

td.rightBorder{
    border-right: solid 1px #cccccc;
} 