@page {
    size: 8.5in 11in;
    margin: 1.25in .25in .5in .25in;
    @top-center {
        content: element(header);
    }
    @bottom-left {
        content: element(footer_left);
    }
    @bottom-center {
        content: element(footer_center);
    }
    @bottom-right {
        content: element(footer_right);
    }
}                    
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */

/* ==========================================================================
HTML5 display definitions
========================================================================== */

/* FROM RESET*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* ==========================================================================
Base
========================================================================== */

/*
* 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevents iOS text size adjust after orientation change, without disabling
*    user zoom.
*/

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    min-width: 753.4px;
}

/*
* Addresses `font-family` inconsistency between `textarea` and other form
* elements.
*/

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
* Addresses margins handled incorrectly in IE6/7.
*/

body {
    background-color:#fff;
    color:#363636;
    font-family:Arial, Sans-Serif;
    font-size:12px;
    font-weight:normal;
    line-height:1.2;
    margin: 0;
    position:relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

/* ==========================================================================
Links
========================================================================== */
a
{
    color:#1080bc;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
}
/*
* Addresses `outline` inconsistency between Chrome and other browsers.
*/

a:focus {
    outline: thin dotted;
}

/*
* Improves readability when focused and also mouse hovered in all browsers.
* people.opera.com/patrickl/experiments/keyboard/test
*/

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
Typography
========================================================================== */

/*
* Addresses font sizes and margins set differently in IE6/7.
* Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
*/

h1 {
    font-size:22px;
    margin-right:65px;
}

h2 {
    font-size: 16px;
    margin:0 0 5px 0;
}

h3 {
    font-size: 1.17em;
    margin:0;
    font-weight:300;
}

h4 {
    font-size: 14px;
    margin:0 0 5px 0;
}


/*
* Addresses style set to `bolder` in FF3+, S4/5, Chrome.
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
* Addresses margins set differently in IE6/7.
*/

p,
pre {
    margin: 1em 0;
}

/*
* Improves readability of pre-formatted text in all browsers.
*/

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
* Addresses CSS quotes not supported in IE6/7.
*/

q {
    quotes: none;
}


/* ==========================================================================
Lists
========================================================================== */



/* ==========================================================================
Embedded content
========================================================================== */

/*
* 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
* 2. Improves image quality when scaled in IE7.
*    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
*/

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

body {
    margin: 0;
}
html {
    height: 100%;
    box-sizing: border-box;
}


/* ============ Product & Pricing Table Styles ============== */
.data-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top:10px;
}
.data-table td {
    font-size: 1em;
    border: solid .5px #cccccc;
    padding: 5px;
}
.data-table th
{
    border: solid .5px #cccccc;
    padding: 5px;
}
.data-table th {
    background-color: #418cae;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding-left:10px;
}

.footerStyle {
    background-color: #e7f0f7;
    font-weight: bold;
    color: #14789c;
    vertical-align: middle;
}

.darkBlueHeaderStyle {
    background-color: #418cae;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.lightBlueHeaderStyle {
    background-color: #e7f0f7;
    font-weight: bold;
    <!---color: #14789c; --->
    color: Black;
    vertical-align: middle;
    text-align: center;
}

.greyHeaderStyle {
    background-color: #e6e7e8;
    font-weight: bold;
    color: Black;
    text-align: center;
}

.data-table th.data-table-th-alt {
    background-color: #b0b5b8;
}
.noBorder {
    border-style: none;
}

/* ==========================================================================
Tables
========================================================================== */
.table{
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top:10px;
}

.categoryRow {
    display: table-row;
    background-color: #418cae;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    padding-left:10px;
}

.tableRow {
    display: table-row;
}

.tableRowGrey {
    display: table-row;
}

.productName {
    display: table-cell;
    border: solid 1px #cccccc;
    padding-left:10px; 
    padding:5px;
}

.tableCell {
    display: table-cell;
    padding: 5px;
    border: solid 1px #cccccc;
    text-align:right;
}

.tableHeaderCell {
    display: table-cell;
    padding: 5px;
    border: solid 1px #cccccc;
}

.tableFooterCell {
    display: table-cell;
    padding: 5px;
    border: solid 1px #cccccc;
    text-align:right;
    background-color: #e7f0f7;
    font-weight: bold;
    color: #14789c;
    vertical-align: middle;
}
.tableFooterCellTopBottomBorder {
    display: table-cell;
    padding: 5px;
    text-align:right;
    background-color: #e7f0f7;
    font-weight: bold;
    color: #14789c;
    vertical-align: middle;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
}

.tableFooterTotalCell {
    display: table-cell;
    padding: 5px;
    border-left: solid 1px #cccccc;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    text-align:right;
    background-color: #e7f0f7;
    font-weight: bold;
    color: #14789c;
    vertical-align: middle;
}

.tableBody {
    display: table-row-group;
}

/**********************End Normalize************************/


/**********************Begin Page Code************************/

/* ============ Heading Bar ============== */
.heading-bar {
    position: running(header);
    background-color: #00b6dd;
    height:50px;
    padding: 8px 5px 8px 20px;
}

.heading-left {
    float: left;
    width:380px;
    height:50px;
}
.heading-right {
    float:right;
    font-size:18px;
    color: #ffffff;
    width:320px;
    text-align:center;
    padding-top: 15px;
    text-transform: uppercase;
}

html {
    height: 100%;
    box-sizing: border-box;
}

/* ==========================================================================
Common Styles
========================================================================== */
.right {
    float:right;
}

.left {
    float:left;
}

.clear-fix {
    overflow:hidden;
}

#exhibita ul li {
    list-style:disc;
    padding:0 0 0 10px;
    margin:0 0 2px 0;
    
}

ul, li {
    list-style:none;
    padding:0px;
    margin:0px;
}

.column.left {
    width:375px;
}

.column.right {
    width:325px;
}

#page-wrap
{
    margin:auto;
    position:relative;
    width: 100%;
    padding-top: 0px;
}

.section,
#page-header {
    padding:10px 0;
    border-bottom:solid 1px #969595;
}
.section p {
    margin:0;
    font-size:8px;
}

.sectionExhibitA p {
    
    margin:0;
    font-size:9px;
}
ul.label {
    font-weight:bold;
}
ul.left {
    margin-right:0px;
}
.left ul.left,
.right ul.left{
    margin-right:10px;
}
.seal {
    width:47%;
}
.seal li span{
    width:100%;
    display:block;
    padding-top:20px;
    border-bottom:solid 1px #959595;
    font-size:10px;
}
.seal li span.first{
    width:100%;
    display:block;
    padding-top:10px;
    border-bottom:solid 1px #959595;
    font-size:10px;
}

div.footer {
    width:100%;
    text-align:center;
    font-size:9px;
    padding:5px 0 0 0;
}

.footer_left {
    text-align: left;
    border-top:solid 1px #969595;
    position: running(footer_left);
}

.footer_center {
    text-align: center;
    border-top:solid 1px #969595;
    position: running(footer_center);
}

.footer_right {
    text-align: right;
    border-top:solid 1px #969595;
    position: running(footer_right);
}

.strikethroughClass {
    text-decoration: line-through;
    color:red;
}

.addBlack{
    color: black;
}


.addRed{
    color: red;
}



.pagenumber:before {
    
    content: counter(page);
    
}

.pagecount:before {
    
    content: counter(pages);
    
}

.removeCellWrap {
    white-space: nowrap;    
}

.text-align-right {
    text-align: right;
}