/* tables */
.pricing table,
.product table  {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; 
	font-size: 1em;
	background-color: #ffffff;
	margin:10px 0pt 15px;
	text-align:center;
	border-collapse:collapse;
}
.pricing thead tr th,
.product thead tr th {
	background: #f6f6f6 url(ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
	border: 1px solid #cccccc;
	font-size: 1.1em;
	color:#3C4A7C;
	text-align:center;
	padding:4px;	
	
}
.pricing thead td ,
.pricing tfoot tr th,
.product tfoot tr th, 
.product thead td  {
	background: #99c3c3;
	border: 1px solid #347677;
	font-size: 11pt;
	color: #000000; 
	text-align:center;	
	font-weight: bold; 
	padding:4px;
}

.pricing tbody td,
.product tbody td {
	color: #333333;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background: #eeeeee url(ui-bg_highlight-soft_100_eeeeee_1x100.png)50% top repeat-x;
	vertical-align: middle;
	border:1px solid #dddddd;
}

/* tables */
.opptypricing table,
.opptyproduct table  {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; 
	font-size: 1em;
	background-color: #ffffff;
	margin:10px 0pt 15px;
	text-align:center;
	border-collapse:collapse;
}
.opptypricing thead tr th,
.opptyproduct thead tr th {
	background: #f6f6f6 url(ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
	border: 1px solid #cccccc;
	font-size: 1.1em;
	color:#000099;
	text-align:center;
	padding:4px;	
	
}
.opptypricing thead td ,
.opptypricing tfoot tr th,
.opptyproduct tfoot tr th, 
.opptyproduct thead td  {
	background: #f3e19b url(ui-bg_gloss-wave_35_f3e19b_500x100.png) 50% 50% repeat-x;
	border: 1px solid #E5C130;
	font-size: 11pt;
	color: #000000; 
	text-align:center;	
	font-weight: bold; 
	padding:4px;
}

.opptypricing tbody td,
.opptyproduct tbody td {
	color: #333333;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background: #eeeeee url(ui-bg_highlight-soft_100_eeeeee_1x100.png)50% top repeat-x;
	vertical-align: middle;
	border:1px solid #dddddd;
}