/**CSS RESET**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6, b
{
	font-weight:bold;
}
/**PRINT STYLE MARGIN**/
@page
{
	margin:.34in;
}
/***Main Styling***/
body
{
	background-color:#fff;
	color:#303030;
	font-family:Sans-serif;
	font-size:8pt;
}
/**header**/
div.header
{
	height:.93in;
	text-align:center;
}
img.logo
{
	float:left;
}
h1
{
	font-size:20pt;
}
.contactInfo
{
	float:right;
	text-align:left;
	line-height:10pt;
}
.contactInfo .fax
{
	font-size:11pt;
	line-height:12pt;
}
/**sections**/
div.section
{
	background:#fff url(images/SectionBg.jpg) repeat-x top left;
	border:solid 2pt #1980ba;
	margin-top:6pt;
	font-size:8pt;
}
div.section .row
{
	border-bottom:solid 1pt #c4c8c9;
	overflow:hidden;
}
div.field
{
	float:left;
	width:50%;
	padding:1pt 0;
}
div.field:first-child
{
	border-right:solid 1pt #c4c8c9;
	width:49%;
}
div.field.msdsonline
{
	text-align:center;
}
.section label
{
	font-weight:bold;
	padding-left:3pt;
	width:76pt;
	display:inline-block;
}
.signatures label
{
	width:60pt;
}
.customer div.field
{
	font-weight:bold;
}
div.section.instructions
{
	padding:5pt;
}
div.section.instructions p
{
	font-size:6pt;
	padding-top:5pt;
}
span.bold
{
	font-weight:bold;
}
p.terms
{
	padding:4pt 6pt;
}
/**Account Type / Inclusions **/
.accountType,
.inclusions
{
	clear:both;
	margin:8pt 0 4pt 0;
	overflow:hidden;
}/*
.accountType:after,
.inclusions:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
8*/
.accountType h3,
.inclusions h3
{
	width:130pt;
	float:left;
}
.accountType .options
{
	float:left;
}
.accountType label
{
	padding-right:16pt;
	padding-left:2pt
}
.inclusions div
{
	float:left;
	padding-right:10pt;
}
.inclusions div.adminCount
{
	width:212pt;
}
.orderOptions
{
	border:solid 2pt #1980ba;
	padding:4pt;
	margin:6pt 0 2pt;
}
.orderOptions:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/**OLD pricing table**/
table.oldPricing
{
	border:solid 2pt #1980ba;
	margin-top:6pt;
	font-size:7pt;
	text-align:left;
	width:100%;
}
table.oldPricing thead th
{
	background-color:#1980ba;
	color:#fff;
	font-size:8pt;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	padding:1pt 2pt;
}
table.oldPricing tfoot td
{
	background-color:#1980ba;
	border-left-color:#1980ba;
	color:#fff;
	font-size:8pt;
	font-weight:bold;
}

table.oldPricing thead th.productCol
{
	border-left:1px solid #fff;
}
table.oldPricing thead .feesCol + th.productCol
{
	border-left-color:#777;
}
table.oldPricing tfoot td.productCol
{
	text-align:right;
	padding-right:2pt;
}
.pricing
{
	text-align:center;
}

table.oldPricing tfoot td.emptyCell
{
	background-color:#fff;
	border-top:solid 1pt #999;
}
table.oldPricing thead .subHead th,
table.oldPricing thead .subHead td
{
	background-color:#fff;
	color:#303030;
	font-size:7pt;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;	
	border-top:solid 1pt #777;
	border-left:solid 1pt #777;
}
table.oldPricing thead th.yearCol
{
	background-color:#fff;
}
table.oldPricing thead .yearCol,
table.oldPricing thead .other
{
	width:30pt;
}
table.oldPricing td
{
	min-width:30pt;
	padding:1pt 2pt;
}
table.oldPricing thead th.feesCol
{
	background-color:#fff;
	color:#303030;
	border-top:solid 1pt #777;
	border-left:solid 1pt #777;
}
table.oldPricing thead .subHead th.emptyCell
{
	background-color:#ccc;
}
table.oldPricing thead .subHead td.productCol.hasTable{
	padding:0;
}
table.oldPricing tfoot td
{
	padding:3pt 0 1pt;
}
table.oldPricing td
{
	border-top:solid 1pt #777;
	border-left:solid 1pt #777;
}
/***Table Faxback***/
table.faxback
{
	border:none;
	border-collapse:collapse;
	width:100%;
	text-align:center;
}
table.faxback tr
{
	text-align:center;
	border:none;
}
table.faxback tr td, 
table.faxback tr th
{
	text-align:center;
	border:none;
}
table.oldPricing table.faxback tr th
{
	background-color:#1980ba;
	color:white;
}
table.faxback tr th,
table.faxback tr td
{
	border-right-width:0px;
}
table.faxback tr th:first-child,
table.faxback tr td:first-child
{
	border-left-width:0px;
}
table.faxback tr td:first-child
{
	text-align:center;
}
 table.oldPricing thead .subHead td table tr th{
	 border-top-width:0;
 }
/******************/
/**pricing table**/
table.pricing
{
	border:solid 2pt #1980ba;
	margin-top:6pt;
	font-size:8pt;
	text-align:left;
	width:100%;
}
table.pricing thead th,
table.pricing tfoot td
{
	background-color:#1980ba;
	color:#fff;
	font-size:9pt;
	font-weight:bold;
}
table.pricing thead th
{
	padding:1pt 0 3pt;
}
table.pricing tfoot td
{
	padding:3pt 0 1pt;
}
table.pricing tbody
{
	background:#fff url(images/SectionBg.jpg) repeat-x top left;
}
table.pricing tbody tr td
{
	border-bottom:solid 1pt #c4c8c9;
	padding:2pt 0;
	vertical-align:bottom;
}
	table.pricing tr.product td,
	table.pricing tr.productType td,
	table.pricing tr.optionsGroup td,
	table.pricing tr.option td.emptyCell
	{
		border-bottom:0;
	}
	table.pricing tbody tr.product.msdsManagement td
	{
		border-bottom:solid 1pt #c4c8c9;
	}
table.pricing tbody tr.option td
{
	font-size:7pt;
	padding-bottom:0;
	padding-top:0;
}
table.pricing img.bullet
{
	margin-right:8pt;
}
table.pricing tr.option td.emptyCell
{
	width:16pt;
}
/*product column*/
table.pricing thead .productCol,
table.pricing tfoot .productCol
{
	padding-left:4pt;
}
tr.productType .productCol
{
	font-weight:bold;
	padding-left:4pt;
}
tr.product .productCol,
tr.optionsGroup .productCol
{
}
tr.option .productCol
{
	padding-left:4pt;
}
/*year column*/
table.pricing .yearCol
{
	border-left:solid 1pt #c4c8c9;
	padding-right:4pt;
	text-align:right;
	width:.9in;
}
	table.pricing thead .yearCol
	{
		text-align:center;
		padding-right:0;
		border-left:solid 1pt #1980ba;
	}
	table.pricing tfoot .yearCol
	{
		border-left:solid 1pt #1980ba;
	}