<apex:page standardController="Account" extensions="corporateAccountController" showHeader="true" title="Account: {!Account.Name}" sidebar="true" standardStylesheets="true" >
<apex:includeScript value="{!URLFOR($Resource.jquery, '/js/jquery-1.6.2.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.jquery, '/js/jquery-ui-1.8.15.custom.min.js')}"  />
<apex:stylesheet value="{!URLFOR($Resource.jquery, '/css/quote/jquery-ui-1.8.15.custom.css')}"  />
<apex:includeScript value="{!URLFOR($Resource.jqPlugin, '/jquery.blockUI.js')}"/>
    <script>
        var sd,sd2;
        function openSimpleDialog(){
            var htmlBody = "<p align='center'><img src='/img/msg_icons/confirm32.png' style='margin:0 5px;'/></p><p align='center'>Corporate account has been approved</p><p align='center'><br /><button class='btn' onclick='backToRecord(); return false;'>Close</button></p>";
            sd = showSimpleDialog('Corporate Account Approval',htmlBody,false);
        }
    function openSimpleDialog2(){
            var htmlBody = "<p align='center'><img src='/img/msg_icons/error32.png' style='margin:0 5px;'/></p><p align='center'>Corporate account has been rejected</p><p align='center'><br /><button class='btn' onclick='backToRecord(); return false;'>Close</button></p>";
            sd = showSimpleDialog('Corporate Account Approval',htmlBody,false);
        }
        
        function backToRecord(){
			location.reload();location.href='/{!account.ID}'
		}        
        /*Simple dialog reusable function*/
        function showSimpleDialog(title,htmlBody,isDraggable){    
           var sd = new SimpleDialog("SD"+Dialogs.getNextId(), isDraggable);    
           sd.setTitle(title);    
           sd.createDialog();     
           sd.setContentInnerHTML(htmlBody);    
           sd.show();   
           return sd;   
        }
        $j = jQuery.noConflict();
        
        /*
        *Pass the Id of the element to block
        **/
        function blockElement(sfId){
            $j('[id$='+sfId+']').block({ message: '<img src="/img/loading32.gif" /><h1>Processing...</h1>',
                css: {
                     border: 'none',
                     padding: '15px',
                     '-webkit-border-radius': '10px',
                     '-moz-border-radius': '10px',
                     opacity: .9
                }
            });
            return false;
        }
        function openWin(){
				myWindow=window.open('https://login.salesforce.com/{!Account.ID}','','menubar=yes,titlebar=yes,toolbar=yes,scrollbars=yes,fullscreen=yes,location=no,width=1024,height=768');
				}
    function openWin2(){
				myWindow=window.open('https://test.salesforce.com/{!Account.ID}','','menubar=yes,titlebar=yes,toolbar=yes,scrollbars=yes,fullscreen=yes,location=no,width=1024,height=768');
				}
</script>
<apex:form >
<apex:actionStatus onstart="blockElement('pb2Block')" onstop="unblockElement('pb2Block')" id="blockElement"/>
	<apex:pageBlock mode="edit" title="Corporate Account Approval" id="thePageBlock">
		<apex:pageBlockButtons >
				<apex:commandButton id="viewAccount" onclick="openWin()" action="{!reload}" value="View Account" rendered="{!(CONTAINS(LEFT($CurrentPage.URL,FIND('/',$CurrentPage.URL,9)), 'https://c.na')) || (CONTAINS(LEFT($CurrentPage.URL,FIND('/',$CurrentPage.URL,9)), 'https://na'))}"/> 
            	<apex:commandButton id="viewAccount2" onclick="openWin2()" action="{!reload}" value="View Account" rendered="{!(CONTAINS(LEFT($CurrentPage.URL,FIND('/',$CurrentPage.URL,9)), 'https://c.cs')) || (CONTAINS(LEFT($CurrentPage.URL,FIND('/',$CurrentPage.URL,9)), 'https://cs'))}"/>
				<apex:commandButton action="{!approveCorpAccount}" reRender="shwmsg,pb" status="blockElement" oncomplete="openSimpleDialog();return false;" value="Approve"/>
            	<apex:commandButton action="{!rejectCorpAccount}" reRender="shwmsg,pb" status="blockElement" oncomplete="openSimpleDialog2();return false;" value="Reject"/>
            	<apex:commandButton immediate="true" value="Cancel"/>
        </apex:pageBlockButtons>
        <apex:pageMessages id="shwmsg"></apex:pageMessages>
        <apex:pageBlockSection title="Account Detail" columns="1" id="accountDetail">
	        <apex:outputField value="{!Account.Name}"/>
	        <apex:outputField value="{!Account.Owner.Name}"/>
	        <apex:outputField title="# of Locations" value="{!Account.Num_of_Locations__c}"/>
            <apex:pageblocksectionitem >
                <apex:outputlabel value="Link To Locations"/>
                <a href="{!Account.Corporate_Account_Locations_Link__c}" target="_blank">{!Account.Corporate_Account_Locations_Link__c}</a>
            </apex:pageblocksectionitem>
	        <apex:outputField value="{!Account.Corporate_Pricing_Description__c}"/>
           

        </apex:pageBlockSection>
     	<apex:pageBlockSection title="Rejection Reason" columns="1" id="rejectReason">
	        <apex:inputTextarea cols="50" rows="5"  value="{!Account.Corporate_Account_Rejection_Reason__c}"/>
	     </apex:pageBlockSection>
	</apex:pageBlock>	             
</apex:form>
</apex:page>