<apex:page controller="accountEHSEnterpriseReferralController" showHeader="true" title="Account: {!a.Name}" sidebar="true" standardStylesheets="true" >
    
    <style>
        .q1 { font-weight: 600; color: #4A4A56; }
        .multibox1 { background-color: #FFFFFF; border: 1px solid #ABADB3; overflow: auto; }
        .breaker1 { width: 600px; height: 1px; background-color: #000000; }
    </style>
    <apex:actionStatus onstart="blockPage()" onstop="unblockPage()" id="blockUI"/>
    <apex:form id="theForm">
        <apex:sectionHeader title="Account Referral " subtitle="{!a.name}"/>
        <apex:pageBlock mode="edit" title="Enterprise Referral" id="thePageBlock">
            <apex:pageBlockButtons >
                <apex:commandButton value="Submit" action="{!saveRef}" rerender="thePageBlock" status="blockUI"/>
                <apex:commandButton immediate="true" value="Cancel" action="{!cancel}"/> 
            </apex:pageBlockButtons>
            <br/><br/>
            
            
            <apex:pageMessages id="shwmsg"></apex:pageMessages>
            <apex:pageBlockSection title="Referral Detail" columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Account"/>
                    <apex:outputLink value="/{!a.id}">{!a.Name}</apex:outputLink> 
                </apex:pageBlockSectionItem>
                <apex:outputField value="{!a.Territory__c}"/>
                <apex:outputField value="{!refName.Name}" label="Referral Recipient"/>  
                
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Contact"/>
                    <apex:outputPanel >
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <apex:selectList required="true" id="contactName"  size="1" value="{!ref.Contact__c}">
                                <apex:selectOptions value="{!ContactSelectList}"/>
                            </apex:selectList>
                        </div>
                    </apex:outputPanel> 
                </apex:pageBlockSectionItem>
                <br/><br/>
                <apex:outputPanel layout="block">
                    
                    <!---Lead Radio Buttons--->
                       <div style="margin-top:10px" class="requiredInput">
                    <div class="q1">Lead Type</div> 
                      <div class="requiredBlock"></div>
                    <apex:selectRadio required="true" value="{!ref.Lead_Type__c}">
                        <apex:selectOptions value="{!leadVals}"/>
                    </apex:selectRadio>    
                    </div>
                    <!---Lead Radio Buttons--->
                    
                    <!---Reason for Referral List--->
                    <div style="margin-top:10px" class="q1">Please select all that apply below as reasons for referring this lead to Enterprise.</div>
                    <apex:inputField required="true" value="{!ref.Reason_for_Referral__c}"/>
                    <!---Reason for Referral List--->
                    
                    
                    <!---Mid Market Determine Textbox--->
                    <div style="margin-top:15px;" class="q1">Why was this determined to be a Mid-Market lead originally and what specifically, including notes on obvious configuration, caused you to refer it to Enterprise?</div>
                    <apex:inputField required="true" value="{!ref.Mid_Market_Determine__c}" style="width:900px;height:140px;margin-top:5px;"/>
                    <!---Mid Market Determine Textbox--->
                    
                    
                    <!---Primary Driver Textbox--->
                    <div style="margin-top:15px;" class="q1">What is the primary driver for looking at EHS Software? (e.g. what challenges are they facing?)</div>
                    <apex:inputField required="true" value="{!ref.Primary_Driver__c}" style="width:523px;height:140px;margin-top:5px;"/>
                    <!---Primary Driver Textbox--->
                    
                    
                    <!---Budget, Authority, Etc Textbox--->
                    <div style="margin-top:15px;" class="q1"> What, if anything, do you know about Budget, Authority, Needs, Timelines (BANT)?</div>
                    <apex:inputField required="true" value="{!ref.Budget_Authority_Etc__c}" style="width:460px;height:140px;margin-top:5px;"/>
                    <!---Budget, Authority, Etc Textbox--->
                    
                </apex:outputPanel>
            </apex:pageBlockSection> 
        </apex:pageBlock>
    </apex:form>
</apex:page>