<apex:page controller="ameConsoleHomeController" showHeader="false" standardStylesheets="true" sidebar="false" applyBodyTag="false"
    docType="html-5.0" readOnly="true">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <style>
        .bar.total rect {
            fill: #3296ED;
        }

        .bar.positive rect {
            fill: #067d1e;
        }

        .bar.negative rect {
            fill: #e3193b;
        }

        .bar line.connector {
            stroke: grey;
            stroke-dasharray: 3;
        }

        .bar text {
            fill: white;
            font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            font-size: 12px;
            text-anchor: middle;
        }

        .axis text {
            font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            font-size: 12px;
            fill: grey;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: rgba(0, 0, 0, 0.1);
            shape-rendering: crispEdges;
        }

        .Color {
            color: #e3193b;
        }
    </style>
    <c:ame_console_header page="ame_console_home" tab="dashboard" />
    <apex:slds />

    <body>
        <div class="slds-scope">
            <apex:form >
                <!---Spinner-->
                <div class="slds-spinner_container" id="spinner" style="position:fixed;display:none">
                    <div class="slds-spinner slds-spinner_brand slds-spinner_medium" aria-hidden="false" role="alert">
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
                <!---/Spinner-->
                <apex:actionStatus onstart="showSpinner()" onstop="hideSpinner()" id="spinnerStatus" />
                <apex:outputPanel id="chartFields">
                    <apex:outputPanel >
                        <center>
                            <div class="slds-box slds-m-top_small" style="background-color: #f4f6f9; width:60%; min-width:900px; padding:0">
                                <div class="slds-grid slds-gutters slds-p-vertical_xx-small slds-p-horizontal_x-small">
                                    <div class="slds-form__item" role="listitem">
                                        <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                                            <span class="slds-form-element__label">
                                                Batch Month</span>
                                            <div class="slds-form-element__control">
                                                <apex:selectList styleClass="slds-select" size="1" value="{!batchMonthLabel}">
                                                    <apex:selectOption itemLabel="All" itemvalue="" />
                                                    <apex:selectOption itemLabel="January" itemvalue="Jan" />
                                                    <apex:selectOption itemLabel="February" itemvalue="Feb" />
                                                    <apex:selectOption itemLabel="March" itemvalue="Mar" />
                                                    <apex:selectOption itemLabel="April" itemvalue="Apr" />
                                                    <apex:selectOption itemLabel="May" itemvalue="May" />
                                                    <apex:selectOption itemLabel="June" itemvalue="Jun" />
                                                    <apex:selectOption itemLabel="July" itemvalue="Jul" />
                                                    <apex:selectOption itemLabel="August" itemvalue="Aug" />
                                                    <apex:selectOption itemLabel="September" itemvalue="Sept" />
                                                    <apex:selectOption itemLabel="October" itemvalue="Oct" />
                                                    <apex:selectOption itemLabel="November" itemvalue="Nov" />
                                                    <apex:selectOption itemLabel="December" itemvalue="Dec" />
                                                    <apex:actionSupport event="onchange" status="spinnerStatus" action="{!userIdChange}" rerender="chartFields, charts" />
                                                </apex:selectList>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form__item" role="listitem">
                                        <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                                            <span class="slds-form-element__label">
                                                Batch Year</span>
                                            <div class="slds-form-element__control">
                                                <div class="slds-form-element__static">
                                                    <apex:selectList id="batchyear" styleClass="slds-select" size="1" value="{!batchYearLabel}">
                                                        <apex:selectOptions value="{!BatchYears}" />
                                                        <apex:actionSupport event="onchange" status="spinnerStatus" action="{!userIdChange}" rerender="chartFields, charts" />
                                                    </apex:selectList>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form__item" role="listitem">
                                        <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                                            <span class="slds-form-element__label">
                                                Retention Specialist</span>
                                            <div class="slds-form-element__control">
                                                <div class="slds-form-element__static">
                                                    <apex:selectList id="userName" size="1" styleclass="slds-select" disabled="{!disablePicklistValues = true}" value="{!userId}">
                                                        <apex:selectOptions value="{!RetentionUserSelectList}" />
                                                        <apex:actionSupport event="onchange" status="spinnerStatus" action="{!userIdChange}" rerender="chartFields, charts" />
                                                    </apex:selectList>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </apex:outputPanel>
                    <apex:outputPanel id="charts">
                        <div class="slds-box slds-m-around_medium" style="padding:0;">
                            <div class="slds-grid slds-p-top_xx-small slds-p-bottom_small slds-wrap slds-p-left_x-small slds-p-right_x-small" style="background-color: #f4f6f9;">
                                <div id="Price_Increases_Realized" class="slds-p-horizontal_xx-small slds-size_1-of-3 slds-p-top_small">
                                    <div class="slds-box slds-box--x-small slds-text-align--center" style="background-color:#ffffff;">
                                        <div class="slds-text-heading_medium">
                                            Price Increases Realized
                                        </div>
                                        <canvas id="canvas1" width="700px" height="450px"></canvas>
                                    </div>
                                </div>
                                <!----------------------Cancels Chart------------------------>
                                <div id="Req_Cancels" class="slds-p-horizontal_xx-small slds-size_1-of-3 slds-p-top_small">
                                    <div class="slds-box slds-box--x-small slds-text-align--center" style="background-color:#ffffff;">
                                        <div class="slds-text-heading_medium">
                                            Cancels
                                        </div>
                                        <canvas id="other" width="700px" height="450px"></canvas>
                                    </div>
                                </div>
                                <!----------------------Re-Sign Rate Chart------------------------>
                                <div id="Re_Sign_Rate" class="slds-p-horizontal_xx-small slds-size_1-of-3 slds-p-top_small">
                                    <div class="slds-box slds-box--x-small slds-text-align--center" style="background-color:#ffffff;">
                                        <div class="slds-text-heading_medium">
                                            Re-Sign Rate
                                        </div>
                                        <canvas id="line-chart" width="700" height="450"></canvas>
                                    </div>
                                </div>

                                <!----------------------Saves Chart------------------------>
                                <div id="Save" class="slds-p-horizontal_xx-small slds-size_1-of-3 slds-p-top_small">
                                    <div class="slds-box slds-box--x-small slds-text-align--center" style="background-color:#ffffff;">
                                        <div class="slds-text-heading_medium">
                                            Saves
                                        </div>
                                        <canvas id="saves" width="700" height="450"></canvas>
                                    </div>
                                </div>
                                <!----------------------Renewals with Tasks/Null tasks------------------------>
                                <div id="Renewals_Not_Yet_Worked" class="slds-p-horizontal_xx-small slds-size_1-of-3 slds-p-top_small">
                                    <div class="slds-box slds-box--x-small slds-text-align--center" style="background-color:#ffffff;">
                                        <div class="slds-text-heading_medium">
                                            Renewals Not Yet Worked
                                        </div>
                                        <canvas id="chart" width="700" height="450"></canvas>
                                    </div>
                                </div>

                                <!----------------------Upcoming Batch table------------------------>
                                <div id="Upcoming_Batch" class="slds-p-horizontal_xx-small slds-p-top_small slds-size_1-of-3">
                                    <div class="slds-box slds-box_x-small slds-text-align_center" style="background-color:#ffffff;">
                                        <div class="slds-text-heading_medium">
                                            Upcoming Batch
                                        </div>
                                        <div class="slds-grid slds-p-top_x-small">
                                            <div class="slds-col slds-size_1-of-1">
                                                <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped">
                                                    <thead>
                                                        <tr class="slds-text-title--caps">
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="Batch Month">Batch</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="#">#</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="$">$</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <apex:repeat value="{!upBatchWrapper}" var="ub">
                                                        <tr>
                                                            <th scope="row" data-label="Batch Month">
                                                                <div class="slds-truncate">
                                                                    {!ub.monthYear}
                                                                </div>
                                                            </th>
                                                            <td data-label="#">
                                                                <div class="slds-truncate">
                                                                    <div class="slds-truncate">
                                                                        <apex:outputText value="{0, number, ###,###,###,###}">
                                                                            <apex:param value="{!ub.openAMECount}" />
                                                                        </apex:outputText>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td data-label="$">
                                                                <div class="slds-truncate">
                                                                    <apex:outputText value="{0, number, currency}">
                                                                        <apex:param value="{!ub.renewalAmountTotal}" />
                                                                    </apex:outputText>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </apex:repeat>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!----------------------Open AME------------------------>
                                <div id="Open_AME" class="slds-p-horizontal_xx-small slds-size_1-of-3 slds-p-top_small">
                                    <div class="slds-box slds-box--x-small slds-text-align--center" style="background-color:#ffffff;">
                                        <div class="slds-text-heading_medium">
                                            Open AME's
                                        </div>
                                        <canvas id="chart1" width="600" height="340"></canvas>
                                    </div>
                                </div>

                                <!----------------------Waterfall Chart------------------------>
                                <div id="waterfall" class="slds-p-horizontal_xx-small slds-size_2-of-3 slds-p-top_small">
                                    <div class="slds-box slds-box--x-small slds-text-align--center" style="background-color:#ffffff;">
                                        <div class="slds-text-heading_medium slds-border_bottom slds-p-bottom_x-small">
                                            ARR Breakdown
                                        </div>
                                        <svg class="waterfallChart" width="800" height="340"></svg>

                                        <div class="slds-grid slds-p-top_x-small">
                                            <div class="slds-col slds-size_1-of-1">
                                                <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped">
                                                    <thead>
                                                        <tr class="slds-text-title--caps">
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="Batch Month">Batch</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="Renewal">Renewal</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="Cancel">Cancel</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="New">New</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="PI">PI</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="Total">Total</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <apex:repeat value="{!wBatchWrap}" var="wb">
                                                        <tr>
                                                            <th scope="row" data-label="Batch">
                                                                <div class="slds-truncate">
                                                                    {!wb.Month}
                                                                </div>
                                                            </th>
                                                            <th scope="row" data-label="Renewal">
                                                                <div class="slds-truncate">
                                                                    <apex:outputText value="{0, number, currency}">
                                                                        <apex:param value="{!wb.sumRenewalAmount}" />
                                                                    </apex:outputText>
                                                                </div>
                                                            </th>
                                                            <td data-label="Cancel">
                                                                <div class="slds-truncate">
                                                                    <!-- <span class = "{!IF(wb.negativeSumOfRenewalAmount > 0, 'Color', '')}" >
                                                                    ({!wb.negativeSumOfRenewalAmount})
                                                            </span> -->
                                                                    <apex:outputText value="({0, number, currency})" styleClass="Color" rendered="{!IF(wb.negativeSumOfRenewalAmount = 0, false, true)}">
                                                                        <apex:param value="{!wb.negativeSumOfRenewalAmount}" />
                                                                    </apex:outputText>
                                                                    <apex:outputText value="{!wb.negativeSumOfRenewalAmount}" rendered="{!IF(wb.negativeSumOfRenewalAmount != 0, false, true)}"
                                                                    />
                                                                </div>
                                                            </td>
                                                            <td data-label="New">
                                                                <div class="slds-truncate">
                                                                    <apex:outputText value="{0, number, currency}">
                                                                        <apex:param value="{!wb.sumNewRevenue}" />
                                                                    </apex:outputText>
                                                                </div>
                                                            </td>
                                                            <td data-label="PI">
                                                                <div class="slds-truncate">
                                                                    <apex:outputText value="{0, number, currency}">
                                                                        <apex:param value="{!wb.sumPIWaterfall}" />
                                                                    </apex:outputText>
                                                                </div>
                                                            </td>
                                                            <td data-label="Total">
                                                                <div class="slds-truncate">
                                                                    <apex:outputText value="{0, number, currency}">
                                                                        <apex:param value="{!wb.sumAll}" />
                                                                    </apex:outputText>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </apex:repeat>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <script>
                                monthLabels = JSON.parse('{!JSENCODE(monthSort)}');
                                var barChartData = {
                                    datasets: [{
                                        label: "%",
                                        type: 'line',
                                        data: [{!percentagePiData}],
                                    fill: false,
                                    borderColor: '#3296ED',
                                    backgroundColor: '#3296ED',
                                    pointBorderColor: '#3296ED',
                                    pointBackgroundColor: '#3296ED',
                                    pointHoverBackgroundColor: '#3296ED',
                                    pointHoverBorderColor: '#3296ED',
                                    yAxisID: 'y-axis-234'
                                }, {
                                    type: 'bar',
                                    label: "PI",
                                    data: [{!piData}],
                                fill: false,
                                    backgroundColor: '#9D53F2',
                                        borderColor: '#9D53F2',
                                            hoverBackgroundColor: '#9D53F2',
                                                hoverBorderColor: '#9D53F2',
                                                    yAxisID: 'y-axis-134'
                        }]
                    };

                                var ctx = document.getElementById("canvas1").getContext("2d");
                                window.myBar = new Chart(ctx, {
                                    type: 'bar',
                                    data: barChartData,
                                    options: {
                                        responsive: true,
                                        tooltips: {
                                            mode: 'label'
                                           
                                        },
                                        elements: {
                                            line: {
                                                fill: false
                                            }
                                        },
                                        legend: {
                                            position: 'bottom'
                                        },
                                        scales: {
                                             xAxes: [{
                                                display: true,
                                                gridLines: {
                                                    display: true
                                                },
                                                labels: {
                                                    show: true,
                                                },
                                                labels: monthLabels
                                            }],
                                            yAxes: [{
                                                type: "linear",
                                                display: true,
                                                position: "left",
                                                id: "y-axis-134",
                                                gridLines: {
                                                    display: true
                                                },
                                                labels: {
                                                    show: true,
                                                },
                                                ticks:{
                                                    callback: function (value, index, values) {
                                                        return dollarFormatter(value);
                                                    }
                                                }
                                            }, {
                                                type: "linear",
                                                display: true,
                                                position: "right",
                                                id: "y-axis-234",
                                                gridLines: {
                                                    display: false
                                                },
                                                labels: {
                                                    show: true,

                                                },
                                                ticks: {
                                                    beginAtZero: true,
                                                    callback: function (value, index, values) {
                                                        return value + '%';
                                                    }
                                                }
                                            }]
                                        }
                                    }
                                });

                                // Cancels         
                                var lineBarChart = {
                                    datasets: [{
                                        label: "%",
                                        type: 'line',
                                        data: [{!cancelsPercentageData}],
                                    fill: false,
                                    borderColor: '#3296ED',
                                    backgroundColor: '#3296ED',
                                    pointBorderColor: '#3296ED',
                                    pointBackgroundColor: '#3296ED',
                                    pointHoverBackgroundColor: '#3296ED',
                                    pointHoverBorderColor: '#3296ED',
                                    yAxisID: 'y-axis-2'
                                }, {
                                    type: 'bar',
                                    label: "Cancels",
                                    data: [{!cancelsData}],
                                fill: false,
                                    backgroundColor: '#9D53F2',
                                        borderColor: '#9D53F2',
                                            hoverBackgroundColor: '#9D53F2',
                                                hoverBorderColor: '#9D53F2',
                                                    yAxisID: 'y-axis-1'
                        }]
                    };

                                var ctx2 = document.getElementById("other").getContext("2d");
                                window.myBar2 = new Chart(ctx2, {
                                    type: 'bar',
                                    data: lineBarChart,
                                    options: {
                                        responsive: true,
                                        tooltips: {
                                            mode: 'label'
                                        },
                                        elements: {
                                            line: {
                                                fill: false
                                            }
                                        },
                                        legend: {
                                            position: 'bottom'
                                        },
                                        scales: {
                                            xAxes: [{
                                                display: true,
                                                gridLines: {
                                                    display: true
                                                },
                                                labels: {
                                                    show: true,
                                                },
                                                labels: monthLabels
                                            }],
                                            yAxes: [{
                                                type: "linear",
                                                display: true,
                                                position: "left",
                                                id: "y-axis-1",
                                                gridLines: {
                                                    display: true
                                                },
                                                ticks: {
                                                    beginAtZero: true,
                                                    userCallback: function (label, index, labels) {
                                                        // when the floored value is the same as the value we have a whole number
                                                        if (Math.floor(label) === label) {
                                                            return label;
                                                        }

                                                    },
                                                },
                                                labels: {
                                                    show: true,

                                                }

                                            }, {
                                                type: "linear",
                                                display: true,
                                                position: "right",
                                                id: "y-axis-2",
                                                gridLines: {
                                                    display: false
                                                },
                                                labels: {
                                                    show: true,

                                                },
                                                ticks: {
                                                    beginAtZero: true,
                                                    callback: function (value, index, values) {
                                                        return value + '%';
                                                    }
                                                }
                                            }]
                                        }
                                    }
                                });

                                //Re-Sign Rate chart

                                new Chart(document.getElementById("line-chart"), {
                                    type: 'line',
                                    data: {
                                        datasets: [{

                                            data: [{!resignRatePercentage}],
                                        label: "Re-Sign Rate %",
                                        backgroundColor: "#3296ED",
                                        borderColor: "#3296ED",
                                        fill: false
                                    }
                                        ]
                                },
                                    options: {

                                        legend: {
                                            position: 'bottom'
                                        },
                                        scales: {
                                            yAxes: [{
                                                type: "linear",
                                                display: true,
                                                position: "left",
                                                id: "y-axis-2",
                                                gridLines: {
                                                    display: true
                                                },
                                                labels: {
                                                    show: true,

                                                },
                                                ticks: {
                                                    min: 0,
                                                    callback: function (value) {
                                                        return value + "%"
                                                    }
                                                }
                                            }],
                                            xAxes: [{
                                                display: true,
                                                gridLines: {
                                                    display: true
                                                },
                                                labels: monthLabels

                                            }]

                                        }
                                    }
                    });

                                // Saves
                                var barLineChart = {
                                    datasets: [{
                                        label: "% of Saves",
                                        type: 'line',
                                        data: [{!savesPercentage}],
                                    fill: false,
                                    borderColor: '#3296ED',
                                    backgroundColor: '#3296ED',
                                    pointBorderColor: '#3296ED',
                                    pointBackgroundColor: '#3296ED',
                                    pointHoverBackgroundColor: '#3296ED',
                                    pointHoverBorderColor: '#3296ED',
                                    yAxisID: 'y-axis-2'
                                }, {
                                    type: 'bar',
                                    label: "# of Saves",
                                    data: [{!savesCount}],
                                fill: false,
                                    backgroundColor: '#9D53F2',
                                        borderColor: '#9D53F2',
                                            hoverBackgroundColor: '#9D53F2',
                                                hoverBorderColor: '#9D53F2',
                                                    yAxisID: 'y-axis-1'
                        } ]
                    };

                                var ctx3 = document.getElementById("saves").getContext("2d");
                                window.myBar = new Chart(ctx3, {
                                    type: 'bar',
                                    data: barLineChart,
                                    options: {
                                        legend: {
                                            position: 'bottom'
                                        },
                                        responsive: true,
                                        tooltips: {
                                            mode: 'label'
                                        },
                                        elements: {
                                            line: {
                                                fill: false
                                            }
                                        },
                                        scales: {
                                            xAxes: [{
                                                display: true,
                                                gridLines: {
                                                    display: true
                                                },
                                                labels: {
                                                    show: true,
                                                },
                                                labels: monthLabels
                                            }],
                                            yAxes: [{
                                                type: "linear",
                                                display: true,
                                                position: "left",
                                                id: "y-axis-1",
                                                gridLines: {
                                                    display: true
                                                },
                                                ticks: {
                                                    beginAtZero: true,
                                                    userCallback: function (label, index, labels) {
                                                        // when the floored value is the same as the value we have a whole number
                                                        if (Math.floor(label) === label) {
                                                            return label;
                                                        }

                                                    },
                                                },
                                                labels: {
                                                    show: true,
                                                }
                                            }, {
                                                type: "linear",
                                                display: true,
                                                position: "right",
                                                id: "y-axis-2",
                                                gridLines: {
                                                    display: false
                                                },
                                                labels: {
                                                    show: true,

                                                },
                                                ticks: {
                                                    beginAtZero: true,
                                                    callback: function (value, index, values) {
                                                        return value + '%';
                                                    }
                                                }
                                            }]
                                        }
                                    }
                                });

                                //stacked chart
                                var ctx = document.getElementById('chart');
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        datasets: [
                                            {
                                                label: 'Worked',
                                                data: [{!renewalsWorked}],
                                        backgroundColor: "#26ABA4",
                                    },
                                {
                                        label: 'Not Worked',
                                        data: [{!renewalsNotYetWorked}],
                                    backgroundColor: '#77B9F2',
                                }
                            ]
                        },
                                options: {
                                    legend: {
                                        position: 'bottom'
                                    },
                                    scales: {
                                        xAxes: [{
                                            stacked: true,
                                            labels: monthLabels
                                        }],
                                            yAxes: [{
                                                stacked: true,
                                                ticks: {
                                                    beginAtZero: true,
                                                    userCallback: function (label, index, labels) {
                                                        // when the floored value is the same as the value we have a whole number
                                                        if (Math.floor(label) === label) {
                                                            return label;
                                                        }

                                                    },
                                                }
                                            }]
                                    }
                                }
                    });

                                //Open AME's
                                recordTypeLabels = JSON.parse('{!JSENCODE(recordTypeSort)}');
                                var ctx = document.getElementById('chart1');

                                var myChart = new Chart(ctx, {
                                    type: 'horizontalBar',
                                    data: {
                                        datasets: [
                                            {
                                                label: 'Active',
                                                data: [{!statusActive}],
                                        backgroundColor: "#3296ED",
                                    },
                                {
                                        label: 'Pending Approval',
                                        data: [{!statusPendingApproval}],
                                    backgroundColor: '#77B9F2',
                                },
                                {
                                    label: 'Approved',
                                        data: [{!statusApproved}],
                                backgroundColor: '#9D53F2',
                                },
                                {
                                    label: 'Sent to Orders',
                                        data: [{!statusSentToOrders}],
                                backgroundColor: '#C398F5',
                                },
                                {
                                    label: 'Not Yet Created',
                                        data: [{!statusNotYetCreated}],
                                backgroundColor: '#26ABA4',
                                }
                            ]
                        },
                                options: {
                                    legend: {
                                        position: 'bottom'
                                    },
                                    scales: {
                                        xAxes: [{ stacked: true }],
                                            yAxes: [{ stacked: true, labels: recordTypeLabels }]
                                    }
                                }
                    });

                                //Waterfall chart
                                var margin = { top: 20, right: 30, bottom: 30, left: 50 },
                                    width = 800 - margin.left - margin.right,
                                    height = 210 - margin.top - margin.bottom,
                                    padding = 0.2;

                                var formatAxis = d3.format("$");

                                var x = d3.scale.ordinal()
                                    .rangeRoundBands([0, width], padding);

                                var y = d3.scale.linear()
                                    // .range([height, 0]);
                                    .range([height - padding, padding]);

                                var xAxis = d3.svg.axis()
                                    .scale(x)
                                    .orient("bottom");


                                var yAxis = d3.svg.axis()
                                    .scale(y)
                                    .orient("left")
                                    .tickFormat(function (d) { return dollarFormatter(d); });


                                var tooltip = d3.select("body").append("div")
                                    .attr("class", "tooltip")
                                    .style("opacity", 0)
                                    .attr("align", "middle");


                                var chart = d3.select(".waterfallChart")
                                    .attr("width", width + margin.left + margin.right)
                                    .attr("height", height + margin.top + margin.bottom)
                                    .append("g")
                                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");




                                data = [
                                    { "name": "Renewal", "value": {!waterfallRenewal }},
                                    { "name": "Cancel", "value": -{!waterfallCancel }},
                                    { "name": "New", "value": {!waterfallNew }},
                                    { "name": "PI", "value": {!waterfallPI }},


                                ];

                                x.domain(data.map(function (d) { return d.name; }));
                                y.domain([0, d3.max(data, function (d) { return d.end; })]);

                                // Transform data (i.e., finding cumulative values and total) for easier charting
                                var cumulative = 0;
                                for (var i = 0; i < data.length; i++) {
                                    data[i].start = cumulative;
                                    cumulative += data[i].value;
                                    data[i].end = cumulative;
                                    data[i].class = 'total';
                                    if (i > 0) {
                                        data[i].class = (data[i].value >= 0) ? 'positive' : 'negative';
                                    }
                                }
                                data.push({
                                    name: 'Total',
                                    end: cumulative,
                                    start: 0,
                                    class: 'total',
                                    value: cumulative
                                });

                                x.domain(data.map(function (d) { return d.name; }));
                                y.domain([0, d3.max(data, function (d) { return d.end; })]);

                                chart.append("g")
                                    .attr("class", "x axis")
                                    .attr("transform", "translate(0," + height + ")")
                                    .call(xAxis);

                                chart.append("g")
                                    .attr("class", "y axis")
                                    .call(yAxis);

                                var bar = chart.selectAll(".bar")
                                    .data(data)
                                    .enter().append("g")
                                    .attr("class", function (d) { return "bar " + d.class })
                                    .attr("transform", function (d) { return "translate(" + x(d.name) + ",0)"; });

                                bar.append("rect")
                                    .attr("y", function (d) { return y(Math.max(d.start, d.end)); })
                                    .attr("height", function (d) { return Math.abs(y(d.start) - y(d.end)); })
                                    .attr("width", x.rangeBand());



                                bar.filter(function (d) { return d.class != "total" }).append("line")
                                    .attr("class", "connector")
                                    .attr("x1", x.rangeBand() + 5)
                                    .attr("y1", function (d) { return y(d.end) })
                                    .attr("x2", x.rangeBand() / (1 - padding) - 5)
                                    .attr("y2", function (d) { return y(d.end) })


                                function type(d) {
                                    d.value = +d.value;
                                    return d;
                                }

                                function dollarFormatter(n) {
                                    n = Math.round(n);
                                    var result = n;
                                    if (Math.abs(n) >= 1000) {
                                        result = Math.round(n / 1000) + 'K';
                                    }
                                    if (Math.abs(n) >= 1000000) {
                                        if (Number.isInteger(n / 1000000)) {
                                            result = Math.round(n / 1000000) + 'M';
                                        } else {
                                            result = (n / 1000000).toFixed(1) + 'M';
                                        }
                                    }
                                    return '$' + result;
                                }

                                //spinner function
                                function showSpinner() {
                                    j$('#spinner').show();
                                }
                                function hideSpinner() {
                                    j$('#spinner').hide();
                                }
                            </script>
                        </div>
                    </apex:outputPanel>
                </apex:outputPanel>
            </apex:form>
        </div>
    </body>

    </html>
</apex:page>