<apex:page standardController="Case_Notes__c" standardStylesheets="true" tabStyle="Case_Notes__c" title="Case Note: {!Case_Notes__c.Name}" showHeader="true" sidebar="true" extensions="caseNoteController">
    <apex:sectionHeader title="Case Note" subtitle="Case - {!theCase.CaseNumber}"/>
    <apex:form id="theForm" >
        <apex:pageBlock mode="mainDetail" title="Case Note Detail">
            <apex:pageMessages />
            <apex:pageBlockButtons >
                <apex:commandButton action="{!edit}" value="Edit" id="editButton"/>
            </apex:pageBlockButtons>
                <apex:pageBlockSection showHeader="false" columns="1">
                    <apex:outputField value="{!theNote.Case__c}"/>
                    <apex:pageblocksectionitem rendered="{!theCase.Type = 'CC Support'}">
                        <apex:outputlabel value="Associated Issue"/>
                    	<apex:outputText value="{!noteIssuelabel}"/>
                    </apex:pageblocksectionitem>
                    <apex:outputField value="{!Case_Notes__c.Notes_Type__c}"/>
                    <apex:outputField rendered="{!theNote.Notes_Type__c == 'Training' || theNote.Notes_Type__c == 'Training - Scheduled' || theNote.Notes_Type__c == 'Training - Canceled' || theNote.Notes_Type__c == 'Training - No Show' }" value="{!theNote.Product__c}"/>
                    <apex:outputField rendered="{!theNote.Notes_Type__c == 'Training' || theNote.Notes_Type__c == 'Training - No Show'}" value="{!theNote.Unable_login_gotomeeting__c}" label="Unable to Log In to Go To Meeting"/>
                    <apex:outputField value="{!theNote.Call_Duration__c}" rendered="{!theCase.Type != 'CC Support'}"/>
                    <apex:outputField value="{!theNote.Customer_Contacted__c}" rendered="{!theCase.Type != 'CC Support'}"/>
                    <apex:outputField rendered="{!theNote.Notes_Type__c == 'Work Received'}" value="{!theNote.Date_Work_Received__c}"/>
                    <apex:outputField rendered="{!theNote.Notes_Type__c == 'Work Received'}" value="{!theNote.Num_of_Work_Received__c}"/>
                </apex:pageBlockSection>
            <apex:pageBlockSection title="Comments" columns="1">
                <apex:outputField value="{!theNote.Issue__c}"/>
            </apex:pageBlockSection>
            <apex:pageblockSection title="System Information" columns="2">
                        <apex:pageBlockSectionItem dataStyleClass="pbSubsection">
                            <apex:outputPanel style="padding-left:100px;">
                                <font class="labelCol  first"> Created By </font>
                                <apex:outputLink value="/{!Case_Notes__c.CreatedBy.ID}">{!Case_Notes__c.CreatedBy.Name}</apex:outputLink>,&nbsp;
                                <apex:outputField styleClass="dataCol col02" value="{!Case_Notes__c.CreatedDate}"/>
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel style="padding-left:70px;">
                                <font class="labelCol last"> Last Modified By</font>
                                <apex:outputLink value="/{!Case_Notes__c.LastModifiedBy.ID}">{!Case_Notes__c.LastModifiedBy.Name}</apex:outputLink>,&nbsp;
                                <apex:outputField styleClass="dataCol last" value="{!Case_Notes__c.LastModifiedDate}"/>
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                    </apex:pageblockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>