<apex:page renderAS="PDF" sidebar="false" showHeader="false" extensions="contractPrint" standardController="Contract__c">
    <apex:outputPanel rendered="{!showContractNumber = FALSE}">
        <img src="{!URLFOR($Resource.proposal_style_v2, '/images/watermark.png')}" width="6in" style="position: fixed;background-repeat:repeat;left: 10%; top:0%; z-index:0;display: block;" /> 
    </apex:outputPanel>
    <apex:include id="contract_cof" pageName="contract_cof"/>
    <apex:include id="contract_product_grids" pageName="contract_product_grids" rendered="{!Contract__c.Include_COF_Summary_Table__c}"/>
    <apex:include id="contractPrint_exhibitA" pageName="contractPrint_exhibitA"/>
    <apex:include rendered="{!theContract.MSA_Legal_Language__c != NULL}" id="contractPrint_exhibitB" pageName="contractPrint_exhibitB"/>
</apex:page>