<apex:page title="Calendar: Event Edit" standardController="Event" standardStyleSheets="true" extensions="eventController" tabStyle="Activities__tab">
    <apex:sectionHeader title="Calendar Event Edit" subtitle="{!theEvent.Subject}"/>
    <apex:form >
        <apex:pageBlock id="thePageBlock" title="Event Edit" mode="edit">
            <apex:pageMessages />
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Save" action="{!Save}"/>
                <apex:commandButton value="Save & New Task" action="{!saveNew}" />
                <apex:commandButton value="Save & New Event" action="{!saveNewEvent}" />
                <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Calendar Details" columns="2">
                <apex:inputField value="{!theEvent.OwnerId}" required="true"/>
                <apex:inputField rendered="{!theEvent.Who.Type !='Lead'}" value="{!theEvent.WhatId}" required="false"/>
                <apex:inputField rendered="{!theEvent.Who.Type =='Lead'}" value="{!theEvent.WhoId}" required="false"/>
                <apex:inputField rendered="{!whoType !='Lead' && whatType !='Account' && whatType!='Opportunity'}" value="{!theEvent.Subject}"/>
                <apex:inputField rendered="{!whoType !='Lead' && whatType !='Account' && whatType!='Opportunity' && whatType!='Case'}" value="{!theEvent.whoID}"/>
                <apex:pageBlockSectionItem rendered="{!whoType =='Lead' || whatType =='Account' || whatType=='Opportunity'}">
                    <apex:outputLabel value="Subject" />
                    <apex:outputPanel >
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <apex:selectList id="subjects"  size="1" value="{!theEvent.Subject}">
                                <apex:selectOptions value="{!subjects}"/>
                            </apex:selectList>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem> 
                <apex:outputText rendered="{!theEvent.Who.Type =='Lead'}" />
                <apex:pageBlockSectionItem rendered="{!whatType =='Account' || whatType=='Opportunity' || whatType=='Case'}"  >
                    <apex:outputLabel value="Contact" />
                    <apex:outputPanel >
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <apex:selectList id="contactName"  size="1" value="{!theEvent.WhoID}">
                                <apex:selectOptions value="{!ContactSelectList}"/>
                                <apex:actionSupport event="onchange" action="{!setName}" rerender="thePageBlock">
                                    <apex:param assignTo="{!cID}" value="{!theEvent.WhoID}"/>
                                </apex:actionSupport>
                            </apex:selectList>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:inputField value="{!theEvent.Event_Status__c}"/>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Start" />
                    <apex:outputPanel >
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <apex:inputField id="StartDateTime" value="{!theEvent.StartDateTime}">
                                <apex:actionSupport event="onchange" action="{!changeEndDate}" reRender="thePageBlock"/>
                            </apex:inputField>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:inputField value="{!theEvent.Call_Result__c}" required="false"/>
                <apex:inputField id="EndDateTime" value="{!theEvent.EndDateTime}" required="false"/>
                <apex:inputField value="{!theEvent.Type__c}" required="false"/>
                <br/>
                 <apex:inputField value="{!theEvent.Unable_login_gotomeeting__c}" style="vertical-align:center; text-align:center;" label="Prospect Unable to<br/>Log In to Go To Meeting" required="false"/>
                <apex:outputText />
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Description Information" columns="1">
                <apex:inputTextarea cols="100" rows="5" value="{!theEvent.Description}" required="false"/>
                <apex:inputField value="{!theEvent.Important_Note__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Additional Information" columns="1">
                <apex:inputField value="{!theEvent.Approval_Process__c}"/>
                <apex:inputField value="{!theEvent.Value_Proposition__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection id="reminder" title="Reminder" columns="1">
                <apex:inputField label="Reminder" value="{!theEvent.IsReminderSet}" required="false"/>
                <apex:inputField value="{!theEvent.ReminderDateTime}" required="false"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>