<apex:page standardStylesheets="false" >
    <style type="text/css">
        .tftable {
        font-family:Verdana;
        font-size:10px;
        color:#333333;
        width:100%;
        border-width: 1px;
        border-color: #a9a9a9;
        border-collapse: collapse;
        }
        .tftable th {
        font-family:Verdana;
        font-size:11px;
        background-color:#E98463;
        border-width: 1px;
        padding: 5px;
        border-style: solid;
        border-color: #a9a9a9;
        text-align:left;
        }
        .tftable tr {
        font-family:Verdana;
        background-color:#F8D8CE;
        }
        .tftable td {
        font-family:Verdana;
        font-size:10px;
        border-width: 1px;
        padding: 5px;
        border-style: solid;
        border-color: #a9a9a9;
        }
    </style>
    <table>
        <tbody>
            <tr>
                <td>
                    <table class="tftable" border="1">
                        <tbody>
                            <tr>
                                <td>**These are estimated project timelines for services. Before you promise any firm dates please seek approval from Stephanie Luca.</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="tftable" border="1">
                        <tbody>
                            <tr colspan="2">
                                <th colspan="2">
                                    <u>BVA</u>
                                </th>
                            </tr>
                            <tr>
                                <td >
                                    <b>Project Size</b> 
                                </td>
                                <td>
                                    <b>Time for Completion</b>
                                </td>
                            </tr>
                            <tr>
                                <td>0-250</td>
                                <td>5-7 Weeks</td>
                            </tr>
                            <tr>
                                <td>251-500</td>
                                <td>6-8 Weeks</td>
                            </tr>
                            <tr>
                                <td>501-1000</td>
                                <td>8-10 Weeks</td>
                            </tr>
                            <tr>
                                <td>1001-2500</td>
                                <td>11-13 Weeks</td>
                            </tr>
                            <tr>
                                <td>2501-5000</td>
                                <td>15-17 Weeks</td>
                            </tr>
                            <tr>
                                <td>5000+</td>
                                <td>General Sales Support Email Template</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="tftable" border="1">
                        <tbody>
                            <tr colspan="2">
                                <th colspan="2">
                                    <u>Verification</u>
                                </th>
                            </tr>
                            <tr>
                                <td >
                                    <b>Project Size</b> 
                                </td>
                                <td>
                                    <b>Time for Completion</b>
                                </td>
                            </tr>
                            <tr>
                                <td>0-250</td>
                                <td>6-8 Weeks</td>
                            </tr>
                            <tr>
                                <td>251-500</td>
                                <td>7-8 Weeks</td>
                            </tr>
                            <tr>
                                <td>501-1000</td>
                                <td>9-11 Weeks</td>
                            </tr>
                            <tr>
                                <td>1001-2500</td>
                                <td>12-14 Weeks</td>
                            </tr>
                            <tr>
                                <td>2501-5000</td>
                                <td>16-18 Weeks</td>
                            </tr>
                            <tr>
                                <td>5000+</td>
                                <td>General Sales Support Email Template</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="tftable" border="1">
                        <tbody>
                            <tr colspan="2">
                                <th colspan="2">
                                    <u>PDF</u>
                                </th>
                            </tr>
                            <tr>
                                <td >
                                    <b>Project Size</b> 
                                </td>
                                <td>
                                    <b>Time for Completion</b>
                                </td>
                            </tr>
                            <tr>
                                <td>0-250</td>
                                <td>4-6 Weeks</td>
                            </tr>
                            <tr>
                                <td>251-500</td>
                                <td>5-7 Weeks</td>
                            </tr>
                            <tr>
                                <td>501-1000</td>
                                <td>5-7 Weeks</td>
                            </tr>
                            <tr>
                                <td>1001-2500</td>
                                <td>6-8 Weeks</td>
                            </tr>
                            <tr>
                                <td>2501-5000</td>
                                <td>7-9 Weeks</td>
                            </tr>
                            <tr>
                                <td>5000+</td>
                                <td>General Sales Support Email Template</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
                        <tr>
                <td>
                    <table class="tftable" border="1">
                        <tbody>
                            <tr colspan="2">
                                <th colspan="2">
                                    <u>Scan</u>
                                </th>
                            </tr>
                            <tr>
                                <td >
                                    <b>Project Size</b> 
                                </td>
                                <td>
                                    <b>Time for Completion</b>
                                </td>
                            </tr>
                            <tr>
                                <td>0-250</td>
                                <td>5-7 Weeks</td>
                            </tr>
                            <tr>
                                <td>251-500</td>
                                <td>6-8 Weeks</td>
                            </tr>
                            <tr>
                                <td>501-1000</td>
                                <td>6-8 Weeks</td>
                            </tr>
                            <tr>
                                <td>1001-2500</td>
                                <td>7-9 Weeks</td>
                            </tr>
                            <tr>
                                <td>2501-5000</td>
                                <td>8-11 Weeks</td>
                            </tr>
                            <tr>
                                <td>5000+</td>
                                <td>General Sales Support Email Template</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
                        <tr>
                <td>
                    <table class="tftable" border="1">
                        <tbody>
                            <tr colspan="2">
                                <th colspan="2">
                                    <u>CIP</u>
                                </th>
                            </tr>
                            <tr>
                                <td >
                                    <b>Project Size</b> 
                                </td>
                                <td>
                                    <b>Time for Completion</b>
                                </td>
                            </tr>
                            <tr>
                                <td>0-250</td>
                                <td>6-8 Weeks</td>
                            </tr>
                            <tr>
                                <td>251-500</td>
                                <td>6-8 Weeks</td>
                            </tr>
                            <tr>
                                <td>501-1000</td>
                                <td>7-9 Weeks</td>
                            </tr>
                            <tr>
                                <td>1001-2500</td>
                                <td>8-10 Weeks</td>
                            </tr>
                            <tr>
                                <td>2501-5000</td>
                                <td>9-11 Weeks</td>
                            </tr>
                            <tr>
                                <td>5000+</td>
                                <td>General Sales Support Email Template</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="tftable" border="1">
                        <tbody>
                            <tr colspan="2">
                                <th colspan="2">
                                    <u>Onboarding Training</u>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <b>Account Types</b>
                                </td>
                                <td>
                                    <b>Training Schedule</b>
                                </td>
                            </tr>
                            <tr>
                                <td>Standard HQs</td>
                                <td>ASAP</td>
                            </tr>
                            <tr>
                                <td>All other HQs/Products</td>
                                <td>1 - 2 Weeks</td>
                            </tr>
                            <tr>
                                <td>Enterprise Accounts</td>
                                <td>1 - 2 Weeks</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="tftable" border="1">
                        <tbody>
                            <tr colspan="3">
                                <th colspan="3">
                                    <u>Upload/Request TAT's</u>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <b>Type</b>
                                </td>
                                <td>
                                    <b>TAT (to Customer)</b>
                                </td>
                                <td>
                                    <b>TAT AVG</b>
                                </td>
                            </tr>
                            <tr>
                                <td>UPL</td>
                                <td>5 Days</td>
                                <td>1-2 Days</td>
                            </tr>
                            <tr>
                                <td>REQ</td>
                                <td>10 Days</td>
                                <td>3-5 Days</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</apex:page>