<apex:page showHeader="false" sidebar="false" id="proposalProposedSolution" controller="proposalPrint2" standardStylesheets="false" renderAs="pdf">
    <apex:stylesheet value="{!URLFOR($Resource.proposalPrintResource, 'default.css')}"/>
    
    <apex:repeat value="{!options}" var="op"> 
        
        <!--  REPEAT THIS  --> 
        <body style="
                     {!IF(op.isNewPage && op.opNum = 1, 'page-break-before:never;border-top:18px solid #00B6DE;', '')}
                     {!IF(op.isNewPage && op.opNum != 1, 'border-top:36px solid #00B6DE;page-break-before:always;page-break-after:never;', '')}
                     {!IF(!op.isNewPage, 'border-top:0px;', '')}
                     {!IF(op.isLastPage, 'page-break-after:always;', '')}
                     {!IF(!op.quote.Include_Option_In_Proposal__c =true, 'display:none;', '')}
                     {!IF(numInclOptions = 1, 'page-break-after:always;', '')}
                     " class="pricingSchedule"> 
            
            <!--  PAGE HEADER  -->
            <div class="header" style="padding-bottom:0px;{!IF(op.isNewPage, '', 'display:none;')}">
                <apex:image value="{!URLFOR($Resource.proposalPrintResource, '/images/logo-msdsonline.png')}" styleClass="msdsonlineLogo" width="234" height="59" />
                <h1>Proposed Solution</h1>
            </div>
            <!--  /PAGE HEADER  -->
            
            <div class="pageContent" style="padding-bottom:12px;">
                
                <!--  OPTION NUM AND NAME  -->
                <div style="font-size:16px;font-weight:600;{!IF(numInclOptions = 1, 'display:none', '')};">
                    Option {!op.opNum} of {!numQuotes}
                    <br/>
                    <apex:outputText value="{!op.quote.Option_Name__c}" rendered="{!op.quote.Option_Name__c != null}"/>
                    <apex:outputText value="Unnamed Option" rendered="{!op.quote.Option_Name__c = null}"/>
                </div>
                <div style="width:100%;height:16px;{!IF(numInclOptions > 1, 'display:none', '')};"/>
                <!--  /OPTION NUM AND NAME  -->
                
                <table border="0" cellpadding="0" cellspacing="0" style="position:relative;bottom:12px;">
                    
                    <!-- TABLE HEADER -->
                    <thead>
                        <tr>
                            <th class="solutionCol">Solution</th>
                            <th class="yearCol">Qty</th>
                            <th class="yearCol">Year 1</th>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                <th class="yearCol">Year 2</th>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                <th class="yearCol">Year 3</th>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                <th class="yearCol">Year 4</th>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                <th class="yearCol">Year 5</th>
                            </apex:outputText>
                        </tr>
                    </thead>
                    <!-- /TABLE HEADER -->
                    
                    <!--  SHOW CHEM  -->
                    <tbody style="border-top:0px;{!IF(op.showChem, '', 'display:none')};">
                        <tr class="header">
                            <td class="solutionCol">MSDS/Chemical Management</td>
                            <td class="yearCol"></td>
                            <td class="yearCol"></td>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                        </tr>
                        <apex:repeat value="{!op.chemItems}" var="c" id="theRepeat">
                            <tr>
                                <td class="solutionCol">
                                    <div class="item">
                                        {!c.Product_Print_Name__c}
                                    </div>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!c.Product__r.Display_Quantity_On_Proposal__c = true}">
                                        <apex:outputText rendered="{!c.Product__r.Quantity_to_Display_on_Proposal__c = 'Product Quantity'}">
                                            <apex:outputText value="{!FLOOR(c.Quantity__c)}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!c.Product__r.Quantity_to_Display_on_Proposal__c = 'Custom Quantity'}">
                                            <apex:outputText value="{!FLOOR(c.Product__r.Custom_Proposal_Quantity__c)}"/>
                                        </apex:outputText>
                                    </apex:outputText>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!c.Year_1__c = TRUE}">
                                        <c:currency value="{!c.Y1_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!c.Bundled_Product__c ='' && NOT(BEGINS(c.Product_Print_Name__c,'Management Licenses'))}"/>
                                        <apex:outputText rendered="{!OR(c.Bundled_Product__c !='', BEGINS(c.Product_Print_Name__c,'Management Licenses'))}" value="Included"/>
                                    </apex:outputText>
                                </td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!c.Year_2__c = TRUE}">
                                            <c:currency value="{!c.Y2_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!c.Bundled_Product__c ='' && NOT(BEGINS(c.Product_Print_Name__c,'Management Licenses'))}"/>
                                            <apex:outputText rendered="{!OR(c.Bundled_Product__c !='', BEGINS(c.Product_Print_Name__c,'Management Licenses'))}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!c.Year_3__c = TRUE}">
                                            <c:currency value="{!c.Y3_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!c.Bundled_Product__c ='' && NOT(BEGINS(c.Product_Print_Name__c,'Management Licenses'))}"/>
                                            <apex:outputText rendered="{!OR(c.Bundled_Product__c !='', BEGINS(c.Product_Print_Name__c,'Management Licenses'))}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!c.Year_4__c = TRUE}">
                                            <c:currency value="{!c.Y4_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!c.Bundled_Product__c ='' && NOT(BEGINS(c.Product_Print_Name__c,'Management Licenses'))}"/>
                                            <apex:outputText rendered="{!OR(c.Bundled_Product__c !='', BEGINS(c.Product_Print_Name__c,'Management Licenses'))}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!c.Year_5__c = TRUE}">
                                            <c:currency value="{!c.Y5_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!c.Bundled_Product__c ='' && NOT(BEGINS(c.Product_Print_Name__c,'Management Licenses'))}"/>
                                            <apex:outputText rendered="{!OR(c.Bundled_Product__c !='', BEGINS(c.Product_Print_Name__c,'Management Licenses'))}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                            </tr>
                        </apex:repeat>
                    </tbody>
                    <!--  /SHOW CHEM  -->
                    
                    <!--  SHOW OPTIONS  -->
                    <tbody style="{!IF(op.showOptions, '', 'display:none')};">
                        <tr class="header">
                            <td class="solutionCol">Options</td>
                            <td class="yearCol"></td>
                            <td class="yearCol"></td>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                        </tr>
                        <apex:repeat value="{!op.oItems}" var="o" id="oItemRepeat">
                            <tr> 
                                <td class="solutionCol">
                                    <div class="item">
                                        {!o.Product_Print_Name__c}
                                    </div>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!o.Product__r.Display_Quantity_On_Proposal__c = true}">
                                        <apex:outputText rendered="{!o.Product__r.Quantity_to_Display_on_Proposal__c = 'Product Quantity'}">
                                            <apex:outputText value="{!FLOOR(o.Quantity__c)}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!o.Product__r.Quantity_to_Display_on_Proposal__c = 'Custom Quantity'}">
                                            <apex:outputText value="{!FLOOR(o.Product__r.Custom_Proposal_Quantity__c)}"/>
                                        </apex:outputText>
                                    </apex:outputText>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!o.Year_1__c = TRUE}">
                                        <c:currency value="{!o.Y1_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!o.Bundled_Product__c =''}"/>
                                        <apex:outputText rendered="{!o.Bundled_Product__c !=''}" value="Included"/>
                                    </apex:outputText>
                                </td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!o.Year_2__c = TRUE}">
                                            <c:currency value="{!o.Y2_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!o.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!o.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!o.Year_3__c = TRUE}">
                                            <c:currency value="{!o.Y3_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!o.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!o.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!o.Year_4__c = TRUE}">
                                            <c:currency value="{!o.Y4_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!o.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!o.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!o.Year_5__c = TRUE}">
                                            <c:currency value="{!o.Y5_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!o.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!o.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>   
                            </tr>
                        </apex:repeat>
                    </tbody>
                    <!--  /SHOW OPTIONS  -->
                    
                    <!--  SHOW SERVICES -->
                    <tbody style="{!IF(op.showServices,'', 'display:none')};">
                        <tr class="header">
                            <td class="solutionCol">
                                Services
                            </td>
                            <td class="yearCol"></td>
                            <td class="yearCol"></td>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                        </tr>
                        <apex:repeat value="{!op.servicesItems}" var="s" id="servicesItems">
                            <tr style="{!IF(s.Group_Name__c != null && s.Group_ID__c != null && s.Bundle__c = true && op.quote.Bundled_Indexing_Display_Type__c = 'Combined','display:none','')}">
                                <td class="solutionCol">
                                    <apex:outputText rendered="{!s.Group_Name__c = null || (s.Group_Name__c != null && s.Group_ID__c = null)}">
                                        <div class="item">
                                            {!s.Product_Print_Name__c}
                                            <span style="font-size:9px;position:relative;bottom:4px;right:2px;{!IF(op.quote.Bundled_Indexing_Display_Type__c = 'Combined','','display:none')};">{!LEFT(s.Combined_Indexing_Language__c,1)}</span>
                                        </div>
                                    </apex:outputText>
                                    <apex:outputText rendered="{!s.Group_Name__c != null && s.Group_ID__c != null && (s.Bundle__c = false || op.quote.Bundled_Indexing_Display_Type__c = 'Itemized')}">
                                        <div class="subitem">
                                            {!s.Product_Print_Name__c}
                                        </div>
                                    </apex:outputText>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!s.Product__r.Display_Quantity_On_Proposal__c = true}">
                                        <apex:outputText rendered="{!s.Product__r.Quantity_to_Display_on_Proposal__c = 'Product Quantity'}">
                                            <apex:outputText value="{!FLOOR(s.Quantity__c)}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!s.Product__r.Quantity_to_Display_on_Proposal__c = 'Custom Quantity'}">
                                            <apex:outputText value="{!FLOOR(s.Product__r.Custom_Proposal_Quantity__c)}"/>
                                        </apex:outputText>
                                    </apex:outputText>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!s.Year_1__c = TRUE}">
                                        <c:currency value="{!s.Y1_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!s.Bundled_Product__c =''}"/>
                                        <apex:outputText rendered="{!s.Bundled_Product__c !=''}" value="Included"/>
                                    </apex:outputText>
                                </td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!s.Year_2__c = TRUE}">
                                            <c:currency value="{!s.Y2_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!s.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!s.Bundled_Product__c !='' && s.Name__c != 'eBinder Valet' && s.Name__c != 'Scan/PDF Process'}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!s.Year_3__c = TRUE}">
                                            <c:currency value="{!s.Y3_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!s.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!s.Bundled_Product__c !='' && s.Name__c != 'eBinder Valet' && s.Name__c != 'Scan/PDF Process'}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!s.Year_4__c = TRUE}">
                                            <c:currency value="{!s.Y4_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!s.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!s.Bundled_Product__c !='' && s.Name__c != 'eBinder Valet' && s.Name__c != 'Scan/PDF Process'}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!s.Year_5__c = TRUE}">
                                            <c:currency value="{!s.Y5_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!s.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!s.Bundled_Product__c !='' && s.Name__c != 'eBinder Valet' && s.Name__c != 'Scan/PDF Process'}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                            </tr>
                        </apex:repeat>
                    </tbody>
                    <!--  /SHOW SERVICES -->
                    
                    <!--  SHOW ADDITONAL COMPLIANCE SOLUTIONS  -->
                    <tbody style="{!IF(op.showADC, '', 'display:none')};">
                        <tr class="header">
                            <td class="solutionCol">Additional Compliance Solutions</td>
                            <td class="yearCol"></td>
                            <td class="yearCol"></td>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                        </tr>
                        <apex:repeat value="{!op.adcItems}" var="a" id="adcItems">
                            <tr>
                                <td class="solutionCol">
                                    <div class="item">{!a.Product_Print_Name__c}</div>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!a.Product__r.Display_Quantity_On_Proposal__c = true}">
                                        <apex:outputText rendered="{!a.Product__r.Quantity_to_Display_on_Proposal__c = 'Product Quantity'}">
                                            <apex:outputText value="{!FLOOR(a.Quantity__c)}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!a.Product__r.Quantity_to_Display_on_Proposal__c = 'Custom Quantity'}">
                                            <apex:outputText value="{!FLOOR(a.Product__r.Custom_Proposal_Quantity__c)}"/>
                                        </apex:outputText>
                                    </apex:outputText>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!a.Year_1__c = TRUE}">
                                        <c:currency value="{!a.Y1_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!a.Bundled_Product__c =''}"/>
                                        <apex:outputText rendered="{!a.Bundled_Product__c !=''}" value="Included"/>
                                    </apex:outputText>
                                </td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!a.Year_2__c = TRUE}">
                                            <c:currency value="{!a.Y2_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!a.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!a.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!a.Year_3__c = TRUE}">
                                            <c:currency value="{!a.Y3_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!a.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!a.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!a.Year_4__c = TRUE}">
                                            <c:currency value="{!a.Y4_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!a.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!a.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!a.Year_5__c = TRUE}">
                                            <c:currency value="{!a.Y5_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!a.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!a.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                            </tr>
                            <tr style="{!IF(a.Product__r.Display_Num_of_Courses__c = true, '', 'display:none')};">
                                <td class="solutionCol">
                                    <apex:outputText rendered="{!a.Name__c='On-Demand Training - MSDSonline Courses Loaded into Developer'
                                                               ||a.Name__c='On-Demand Training - Source File Delivery'}">
                                        <div class="subitem">
                                            <apex:outputText value="{!FLOOR(a.Quantity__c)}"/> Courses
                                        </div>                                    
                                    </apex:outputText>
                                    <apex:outputText rendered="{!a.Name__c='On-Demand Training - SCORM Course Licensing'}">
                                        <div class="subitem">
                                            <apex:outputText value="{!a.ODT_Scorm_Num_of_Courses__c}"/> Courses
                                        </div>                                    
                                    </apex:outputText>
                                    <apex:outputText rendered="{!a.Name__c !='On-Demand Training - SCORM Course Licensing'
                                                               && a.Name__c!='On-Demand Training - MSDSonline Courses Loaded into Developer'
                                                               && a.Name__c!='On-Demand Training - Source File Delivery'}">
                                        <div class="subitem">
                                            <apex:outputField value="{!a.ODT_num_of_Courses__c}"/> Courses
                                        </div>
                                    </apex:outputText>
                                </td>
                                <td class="yearCol"></td>
                                <td class="yearCol"></td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                            </tr>
                            <tr style="{!IF(a.Product__r.Display_Num_of_Students__c = true, '', 'display:none')};">
                                <td class="solutionCol">
                                    <div class="subitem"><apex:outputText value="{!FLOOR(a.Quantity__c)}"/> Students</div>
                                </td>
                                <td class="yearCol"></td>
                                <td class="yearCol"></td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                            </tr>
                            <tr style="{!IF(a.Product__r.Display_Num_of_Enrollments_Per_Student__c = true, '', 'display:none')};">
                                <td class="solutionCol">
                                    <div class="subitem"><apex:outputField value="{!a.ODT_Flex_Max_Num_of_Enrollments__c}"/> Enrollments Per Student</div>
                                </td>
                                <td class="yearCol"></td>
                                <td class="yearCol"></td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                            </tr>
                            <tr style="{!IF(a.Product__r.Display_Cost_Per_Student__c = true, '', 'display:none')};">
                                <td class="solutionCol">
                                    <div class="subitem">
                                        <c:currency value="{!a.Per_Unit_Price__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}"/>
                                        Per Student
                                    </div>
                                </td>
                                <td class="yearCol"></td>
                                <td class="yearCol"></td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                            </tr>
                            <tr style="{!IF(a.Product__r.Display_Num_of_Seats__c = true, '', 'display:none')};">
                                <td class="solutionCol">
                                    <div class="subitem"><apex:outputText value="{!FLOOR(a.Quantity__c)}"/> Seats</div>
                                </td>
                                <td class="yearCol"></td>
                                <td class="yearCol"></td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                            </tr>
                            <tr style="{!IF(a.Product__r.Display_Cost_Per_Seat__c = true, '', 'display:none')};">
                                <td class="solutionCol">
                                    <div class="subitem">
                                        <c:currency value="{!a.Per_Unit_Price__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}"/>
                                        Per Seat
                                    </div>
                                </td>
                                <td class="yearCol"></td>
                                <td class="yearCol"></td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol"></td>
                                </apex:outputText>
                            </tr>
                        </apex:repeat>
                    </tbody>
                    <!--  /SHOW ADDITONAL COMPLIANCE SOLUTIONS  -->
                    
                    <!--  SHOW INCIDENT MANAGEMENT - IM MAIN  -->
                    <tbody style="{!IF(op.showIMMain, '', 'display:none')};">
                        <tr class="header">
                            <td class="solutionCol">Injury &amp; Illness Recordkeeping</td>
                            <td class="yearCol"></td>
                            <td class="yearCol"></td>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                        </tr>
                        <apex:repeat value="{!op.imMain}" var="c" id="IMMain">
                            <tr>
                                <td class="solutionCol">
                                    <div class="item">{!c.Product_Print_Name__c}</div>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!c.Product__r.Display_Quantity_On_Proposal__c = true}">
                                        <apex:outputText rendered="{!c.Product__r.Quantity_to_Display_on_Proposal__c = 'Product Quantity'}">
                                            <apex:outputText value="{!FLOOR(c.Quantity__c)}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!c.Product__r.Quantity_to_Display_on_Proposal__c = 'Custom Quantity'}">
                                            <apex:outputText value="{!FLOOR(c.Product__r.Custom_Proposal_Quantity__c)}"/>
                                        </apex:outputText>
                                    </apex:outputText>
                                </td> 
                                <td class="yearCol">
                                    <apex:outputText rendered="{!c.Year_1__c = TRUE}">
                                        <c:currency value="{!c.Y1_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!c.Bundled_Product__c =''}"/>
                                        <apex:outputText rendered="{!c.Bundled_Product__c !=''}" value="Included"/>
                                    </apex:outputText>
                                </td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!c.Year_2__c = TRUE}">
                                            <c:currency value="{!c.Y2_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!c.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!c.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!c.Year_3__c = TRUE}">
                                            <c:currency value="{!c.Y3_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!c.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!c.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!c.Year_4__c = TRUE}">
                                            <c:currency value="{!c.Y4_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!c.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!c.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!c.Year_5__c = TRUE}">
                                            <c:currency value="{!c.Y5_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!c.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!c.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                            </tr>
                        </apex:repeat>
                    </tbody>
                    <!--  /SHOW INCIDENT MANAGEMENT - IM MAIN  -->
                    
                    <!--  SHOW INCIDENT MANAGEMENT - IM OPTIONS -->
                    <tbody style="{!IF(op.showIMOptions, '', 'display:none')};">
                        <tr class="header">
                            <td class="solutionCol">Options</td>
                            <td class="yearCol"></td>
                            <td class="yearCol"></td>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                        </tr>
                        <apex:repeat value="{!op.imOptions}" var="o" id="imOItemRepeat">
                            <tr> 
                                <td class="solutionCol">
                                    <div class="item">
                                        <apex:outputText value="{!FLOOR(o.Quantity__c)}"/> 
                                        {!o.Product_Print_Name__c}
                                    </div>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!o.Product__r.Display_Quantity_On_Proposal__c = true}">
                                        <apex:outputText rendered="{!o.Product__r.Quantity_to_Display_on_Proposal__c = 'Product Quantity'}">
                                            <apex:outputText value="{!FLOOR(o.Quantity__c)}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!o.Product__r.Quantity_to_Display_on_Proposal__c = 'Custom Quantity'}">
                                            <apex:outputText value="{!FLOOR(o.Product__r.Custom_Proposal_Quantity__c)}"/>
                                        </apex:outputText>
                                    </apex:outputText>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!o.Year_1__c = TRUE}">
                                        <c:currency value="{!o.Y1_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!o.Bundled_Product__c =''}"/>
                                        <apex:outputText rendered="{!o.Bundled_Product__c !=''}" value="Included"/>
                                    </apex:outputText>
                                </td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!o.Year_2__c = TRUE}">
                                            <c:currency value="{!o.Y2_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!o.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!o.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!o.Year_3__c = TRUE}">
                                            <c:currency value="{!o.Y3_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!o.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!o.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!o.Year_4__c = TRUE}">
                                            <c:currency value="{!o.Y4_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!o.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!o.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!o.Year_5__c = TRUE}">
                                            <c:currency value="{!o.Y5_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!o.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!o.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>   
                            </tr>
                        </apex:repeat>
                    </tbody>
                    <!--  SHOW INCIDENT MANAGEMENT - IM OPTIONS -->
                    
                    <!--  SHOW INCIDENT MANAGEMENT - IM SERVICES -->
                    <tbody style="{!IF(op.showIMServices, '', 'display:none')};">
                        <tr class="header">
                            <td class="solutionCol">Services Options</td>
                            <td class="yearCol"></td>
                            <td class="yearCol"></td>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                        </tr>
                        <apex:repeat value="{!op.imServices}" var="s" id="imServicesItems">
                            <tr>
                                <td class="solutionCol">
                                    <div class="item">{!s.Product_Print_Name__c}</div>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!s.Product__r.Display_Quantity_On_Proposal__c = true}">
                                        <apex:outputText rendered="{!s.Product__r.Quantity_to_Display_on_Proposal__c = 'Product Quantity'}">
                                            <apex:outputText value="{!FLOOR(s.Quantity__c)}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!s.Product__r.Quantity_to_Display_on_Proposal__c = 'Custom Quantity'}">
                                            <apex:outputText value="{!FLOOR(s.Product__r.Custom_Proposal_Quantity__c)}"/>
                                        </apex:outputText>
                                    </apex:outputText>
                                </td>
                                <td class="yearCol">
                                    <apex:outputText rendered="{!s.Year_1__c = TRUE}">
                                        <c:currency value="{!s.Y1_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!s.Bundled_Product__c =''}"/>
                                        <apex:outputText rendered="{!s.Bundled_Product__c !=''}" value="Included"/>
                                    </apex:outputText>
                                </td>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!s.Year_2__c = TRUE}">
                                            <c:currency value="{!s.Y2_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!s.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!s.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!s.Year_3__c = TRUE}">
                                            <c:currency value="{!s.Y3_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!s.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!s.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!s.Year_4__c = TRUE}">
                                            <c:currency value="{!s.Y4_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!s.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!s.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                                <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                    <td class="yearCol">
                                        <apex:outputText rendered="{!s.Year_5__c = TRUE}">
                                            <c:currency value="{!s.Y5_Total_with_Bundle__c}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}" rendered="{!s.Bundled_Product__c =''}"/>
                                            <apex:outputText rendered="{!s.Bundled_Product__c !=''}" value="Included"/>
                                        </apex:outputText>
                                    </td>
                                </apex:outputText>
                            </tr>
                        </apex:repeat>
                    </tbody> 
                    <!--  /SHOW INCIDENT MANAGEMENT - IM SERVICES -->
                    
                    <tfoot>
                        <tr>
                            <td class="solutionCol" colspan="2">TOTAL ANNUAL COST</td>
                            <td class="yearCol" style="border-left: none;"> 
                                <c:currency value="{!op.Y1Total['sum']}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}"/>
                            </td>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                <td class="yearCol" style="border-left: none;">
                                    <c:currency value="{!op.Y2Total['sum']}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}"/>
                                </td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                <td class="yearCol" style="border-left: none;">
                                    <!-- normal amount -->
                                    <c:currency value="{!op.Y3Total['sum']}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}"/>
                                </td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                <td class="yearCol" style="border-left: none;">
                                    <c:currency value="{!op.Y4Total['sum']}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}"/>
                                </td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(op.quote.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                <td class="yearCol" style="border-left: none;">
                                    <c:currency value="{!op.Y5Total['sum']}" currency="{!op.quote.Currency__c}" rate="{!op.quote.Currency_Rate__c}"/>
                                </td>
                            </apex:outputText>
                        </tr>
                    </tfoot>
                </table>
                
                <div style="position:relative;bottom:12px;">
                    
                    <!-- implementation fee language -->
                    <apex:outputText rendered="{!op.hqProduct.size >0}">
                        <div style="text-align:center;padding:0 0 14px 0;">
                            &#42;Implementation Services includes standard account start-up &amp; system training costs.
                        </div>
                    </apex:outputText>
                    <!-- /implementation fee language -->
                    
                    <!-- combined indexing language -->
                    <apex:outputText rendered="{!op.quote.Bundled_Indexing_Display_Type__c = 'Combined'}">
                        <apex:repeat value="{!op.servicesItems}" var="s">
                            <div style="padding:5px 0 5px 0;{!IF(s.Combined_Indexing_Language__c != null,'','display:none')};">
                                <span style="font-size:9px;position:relative;bottom:4px;right:0px;">{!LEFT(s.Combined_Indexing_Language__c,1)}</span>
                                {!SUBSTITUTE(s.Combined_Indexing_Language__c,LEFT(s.Combined_Indexing_Language__c,1),'')}
                            </div>
                        </apex:repeat>
                    </apex:outputText>
                    <!-- /combined indexing language -->
                    
                    <!-- pricing terms and conditions -->
                    <div class="terms">
                        <strong>Pricing Terms &amp; Conditions:</strong> 
                        <apex:outputText rendered="{!op.quote.Pricing_Terms__c = 'Specific Date'}"> 
                            This Proposal is valid until&nbsp;
                            <apex:outputField value="{!op.quote.Pricing_Terms_Specific_Date__c}"/>.
                        </apex:outputText>
                        <apex:outputText rendered="{!op.quote.Pricing_Terms__c = '60 Days from Proposal Date'}"> 
                            This Proposal is valid for 60 days from the Proposal Date set forth above.
                        </apex:outputText>  
                        If not received by MSDSonline within such period, MSDSonline may deem this pricing null and void.
                        <apex:outputText rendered="{!op.quote.Proposal_Show_Employees__c = true && op.quote.Proposal_Show_Locations__c = false}"> 
                            The client-provided data of 
                            <apex:outputText value="{0, number, ###,###,###,###}"> 
                                <apex:param value="{!op.pricingFactor.Quantity__c}"/>
                            </apex:outputText> 
                            <apex:outputText rendered="{!op.pricingFactor.Quantity_Field_Name__c = '# of Beds'}" value=" beds"/> 
                            <apex:outputText rendered="{!op.pricingFactor.Quantity_Field_Name__c = '# of Employees'}" value=" employees"/> 
                            was factored into the MSDS/Chemical Management pricing.
                        </apex:outputText>
                        <apex:outputText rendered="{!op.quote.Proposal_Show_Locations__c = true && op.quote.Proposal_Show_Employees__c = false}"> 
                            The client-provided data of 
                            <apex:outputText value="{0, number, ###,###,###,###}"> 
                                <apex:param value="{!op.quote.Proposal_Locations__c}"/>
                            </apex:outputText> 
                            locations was factored into the MSDS/Chemical Management pricing.
                        </apex:outputText>
                        <apex:outputText rendered="{!op.quote.Proposal_Show_Employees__c = true && op.quote.Proposal_Show_Locations__c = true}"> 
                            The client-provided data of 
                            <apex:outputText value="{0, number, ###,###,###,###}"> 
                                <apex:param value="{!op.pricingFactor.Quantity__c}"/>
                            </apex:outputText> 
                            <apex:outputText rendered="{!op.pricingFactor.Quantity_Field_Name__c = '# of Beds'}" value=" beds"/> 
                            <apex:outputText rendered="{!op.pricingFactor.Quantity_Field_Name__c = '# of Employees'}" value=" employees"/> 
                            and 
                            <apex:outputText value="{0, number, ###,###,###,###}"> 
                                <apex:param value="{!op.quote.Proposal_Locations__c}"/>
                            </apex:outputText> 
                            locations were factored into the MSDS/Chemical Management pricing.
                        </apex:outputText>
                        <apex:outputText rendered="{!op.quote.Currency__c != null && op.quote.Currency__c != 'USD'}">
                            Contract and invoice amounts may vary based on changes in FX rate from date of proposal to date of contract and/or date of invoice conversion rates.
                        </apex:outputText>
                    </div>
                    <!-- /pricing terms and conditions -->
                    
                </div>
                
            </div>
            <div class="footer">
                Proprietary &amp; Confidential. &copy; Copyright MSDSonline Inc., DBA <em>VelocityEHS</em>. Do not distribute without authorized consent.
                <div class="pageNumber">
                    Page <span class="pagenumber"/> of <span class="pagecount"/>
                </div>
            </div>
        </body>
        <!-- /REPEAT THIS -->
    </apex:repeat>
    
</apex:page>