<apex:page id="proposalTrainingStandardProductDetail" showHeader="FALSE" sidebar="FALSE" renderAS="PDF" standardController="Quote__c" standardStylesheets="false" extensions="proposalPrint" >
<apex:stylesheet value="{!URLFOR($Resource.proposalPrintResource, 'default.css')}"/>
<body style="page-break-after:always;" class="productDetail">
    <div class="header">
        <apex:image value="{!URLFOR($Resource.proposalPrintResource, '/images/logo-msdsonline.png')}" styleClass="msdsonlineLogo" width="234" height="52" />        
        <h1>Training</h1>
    </div>
    <div class="pageContent">
        <p class="description">
            <span style="color:#1580B8; font-weight:bold;">Workplace Training (Standard Package)</span> - Ideal for companies who need a cost-effective way to quickly deploy targeted training programs to a small set of employees. Our Standard On-Demand Training Package enables you to deliver interactive training courses – from more than 100 EH&amp;S related topics – to one or all of your employees.
        </p>
        <div class="featuresWrap">
           <apex:image value="{!URLFOR($Resource.proposalPrintResource, 'images/preview-odt.jpg')}" width="186" height="133" />
            <div class="featureListNoImage">
                <div>
                    <h4>Key Features Include:</h4>
                    <ul>
                        <li>Choice of certification courses from our extensive catalog</li>
                        <li>Personal “My Training” assignment and “Transcript” pages</li>
                        <li>Track and manage employee training and certification</li>
                        <li>Automated tracking and reporting of student training records</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</apex:page>