<apex:page showHeader="false" sidebar="false" id="proposalAuthoringSolution" standardController="Quote__c" standardStylesheets="false" extensions="proposalPrint" renderAs="pdf">
    <apex:stylesheet value="{!URLFOR($Resource.proposalPrintResource, 'default.css')}"/>
    <body style="page-break-after:always;" class="pricingSchedule">
        <div class="header">
            <apex:image value="{!URLFOR($Resource.proposalPrintResource, '/images/logo-msdsonline.png')}" styleClass="msdsonlineLogo" width="234" height="59" />
            <h1>Authoring Services Pricing Schedule</h1>
        </div>
        <div class="pageContent">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th class="solutionCol">Solution</th>
                        <th class="yearCol">Year 1</th>
                        <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                            <th class="yearCol">Year 2</th>
                        </apex:outputText>
                        <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                            <th class="yearCol">Year 3</th>
                        </apex:outputText>
                        <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                            <th class="yearCol">Year 4</th>
                        </apex:outputText>
                        <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                            <th class="yearCol">Year 5</th>
                        </apex:outputText>
                    </tr>
                </thead>
                <tbody>
                    <apex:repeat value="{!authComplexFormula}" var="auth" id="authoringItems">
                        <tr>
                            <td class="solutionCol">
                                <apex:outputText escape="false" value="{!auth.Auth_Project_Terms__c}"/>
                            </td>
                            <td class="yearCol"><apex:outputField rendered="{!auth.Bundled_Product__c ='' && auth.Year_1__c = TRUE}" value="{!auth.Y1_Total_with_Bundle__c}"/>
                                <apex:outputText rendered="{!auth.Bundled_Product__c !='' && auth.Year_1__c = TRUE}" value="Included"/>
                            </td>
                            <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                <td class="yearCol"><apex:outputField rendered="{!auth.Bundled_Product__c ='' && auth.Year_2__c = TRUE}" value="{!auth.Y2_Total_with_Bundle__c}"/>
                                    <apex:outputText rendered="{!auth.Bundled_Product__c !='' && auth.Year_2__c = TRUE}" value="Included"/>
                                </td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                <td class="yearCol"><apex:outputField rendered="{!auth.Bundled_Product__c ='' && auth.Year_3__c = TRUE}" value="{!auth.Y3_Total_with_Bundle__c}"/>
                                    <apex:outputText rendered="{!auth.Bundled_Product__c !='' && auth.Year_3__c = TRUE}" value="Included"/>
                                </td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                <td class="yearCol"><apex:outputField rendered="{!auth.Bundled_Product__c ='' && auth.Year_4__c = TRUE}" value="{!auth.Y4_Total_with_Bundle__c}"/>
                                    <apex:outputText rendered="{!auth.Bundled_Product__c !='' && auth.Year_4__c = TRUE}" value="Included"/>
                                </td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                <td class="yearCol"><apex:outputField rendered="{!auth.Bundled_Product__c ='' && auth.Year_5__c = TRUE}" value="{!auth.Y5_Total_with_Bundle__c}"/>
                                    <apex:outputText rendered="{!auth.Bundled_Product__c !='' && auth.Year_5__c = TRUE}" value="Included"/>
                                </td>
                            </apex:outputText>
                        </tr>
                        <tr>
                            <td class="solutionCol">
                                
                            </td>
                            <td class="yearCol"></td>
                            <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                            <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                                <td class="yearCol"></td>
                            </apex:outputText>
                        </tr>
                    </apex:repeat>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="solutionCol">
                            TOTAL COST
                        </td>
                        <td class="yearCol"> <apex:outputText value="{0,number,currency}">                 
                            <apex:param value="{!authComplexFormula[0].Y1_Total_Price__c}"/></apex:outputText></td>
                        <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 1}">
                            <td class="yearCol"><apex:outputText value="{0,number,currency}">                 
                                <apex:param value="{!authComplexFormula[0].Y2_Total_Price__c}"/></apex:outputText>
                            </td>
                        </apex:outputText>
                        <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 2}">
                            <td class="yearCol"><apex:outputText value="{0,number,currency}">                 
                                <apex:param value="{!authComplexFormula[0].Y3_Total_Price__c}"/></apex:outputText>
                            </td>
                        </apex:outputText>
                        <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 3}">
                            <td class="yearCol"><apex:outputText value="{0,number,currency}">                 
                                <apex:param value="{!authComplexFormula[0].Y4_Total_Price__c}"/></apex:outputText></td>
                        </apex:outputText>
                        <apex:outputText rendered="{!VALUE(CASE(Quote__c.Contract_Length__c, '1 Year', '1', '2 Years', '2', '3 Years', '3', '4 Years', '4', '5 Years', '5', '1'))> 4}">
                            <td class="yearCol"><apex:outputText value="{0,number,currency}">                 
                                <apex:param value="{!authComplexFormula[0].Y5_Total_Price__c}"/></apex:outputText></td>
                        </apex:outputText>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="footer">
            Proprietary &amp; Confidential. &copy; Copyright MSDSonline Inc., DBA <em>VelocityEHS</em>. Do not distribute without authorized consent.
            <div class="pageNumber">
                Page <span class="pagenumber"/> of <span class="pagecount"/>
            </div>
        </div>
    </body>
</apex:page>