<apex:page showHeader="true" standardStylesheets="true" sidebar="false"  applyBodyTag="false" docType="html-5.0" controller="proposalBuilderPageSelection">
    <apex:includeScript value="{!URLFOR($Resource.salesperformance_resources, 'jQuery/jquery-3.2.1.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jQuery_UI_1_10_2, '/js/jquery-ui-1.10.2.custom.min.js')}"  />

    
    <script>
    var j$ = jQuery.noConflict();
    
    </script>
    
    <style>
        .tableEdit{
        padding: 0;
        }
        .darkHeader {
        background:#e5e5e5 !important;
        border-color: #d6d1d1 !important;
        }
        tr.border_bottom td {
        border-bottom:1pt solid #e5e5e5;
        }
        .borderTop {
        border-top:1pt solid #e5e5e5;
        }
        
        .mytable {
        vertical-align: middle;
        padding: 2px;
        cursor: pointer;
        }
        
        }
        .div-table {
        padding-bottom: 24px; 
        }
        .addBottomBorder{
        border-bottom: 1px solid rgb(221, 219, 218);
        }
        
        .descriptionStyle {
        font-size: small;
        color: gray;
        }
        
        .docTitleStyle {
        font-size: medium;
        }
        .updateTable {
        line-height:none !important;
        }
    </style>
    
    <apex:form id="form" >
        <c:proposal_builder_header CurrentStep="1" QuoteId="{!QuoteId}" QuoteName="{!thisQuote.Name}" DisplayNeeds="{!hasNeeds}"></c:proposal_builder_header> 
        <apex:slds />
        <div class="slds-scope mainBody" style="line-height: 2.0;" >
            <article class="slds-card slds-m-top_x-small">              
                <header class="slds-modal__header">
                    <h2 id="card-heading-01" class="slds-text-heading_medium slds-hyphenate">Select and Order Proposal Pages.</h2>
                </header>
                
                <div class="slds-grid">
                    <div class="slds-col slds-size_9-of-12 slds-border_right">
                        <header class="slds-modal__header" style="background-color:rgb(243, 242, 242);">
                            <h2 id="card-heading-01"  class="slds-text-heading_small slds-hyphenate" style="line-height: .5;">Available Pages</h2>
                        </header>
                        
                        <div class="slds-vertical-tabs" style="-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; border:none; height: 100%;">
                            <ul class="slds-vertical-tabs__nav" role="tablist" aria-orientation="vertical" >
                                <li class="Standard-Content-tab slds-vertical-tabs__nav-item slds-is-active" title="Standard Content" role="presentation">
                                    <div class="slds-vertical-tabs__link" role="tab" tabindex="0" aria-selected="true" aria-controls="slds-vertical-tabs-0" id="Standard-Content-tab">Standard Content
                                        <apex:outputPanel id="check" styleClass="slds-p-left_xx-small">
                                            ({!standardCount})
                                        </apex:outputPanel>
                                    </div>
                                </li>
                                <li class="Marketing-Content-tab slds-vertical-tabs__nav-item" title="Marketing Content" style="width: 12rem;" role="presentation">
                                    <div class="slds-vertical-tabs__link" role="tab" tabindex="-1" aria-selected="false" aria-controls="slds-vertical-tabs-1" id="Marketing Content">Marketing Content
                                        <apex:outputPanel id="check2" styleClass="slds-p-left_xx-small">
                                            ({!marketingCount})
                                        </apex:outputPanel>
                                    </div>
                                </li>
                                <li class="Sell-Sheet-tab slds-vertical-tabs__nav-item" title="Sell Sheets" style="width: 12rem;" role="presentation">
                                    <div class="slds-vertical-tabs__link" role="tab" tabindex="-1" aria-selected="false" aria-controls="slds-vertical-tabs-1" id="Sell Sheet-tab">
                                        Solution Sheets
                                        <apex:outputPanel id="check3" styleClass="slds-p-left_xx-small">
                                            ({!sellSheetCount})
                                        </apex:outputPanel>
                                    </div>
                                </li>
                            </ul>
                            
                            <!--- Standard Page Options ---->
                            <div class="Standard-Content-tab slds-tabs_default__content slds-show" style="padding: 0rem" id="standard-content" role="tabpanel" aria-labelledby="Standard-Content-tab">
                                <apex:outputPanel id="standardPageTable">
                                    <table role="grid" id="standardPageTable" class="slds-table slds-table_fixed-layout slds-table_resizable-cols slds-no-row-hover slds-scrollable_none slds-m-bottom_small" >
                                        <thead>
                                            <tr class="slds-line-height_reset" style="display:none">                                  
                                                <th scope="col" style="width: 3.75rem;"></th>
                                                <th aria-label="Name" aria-sort="none" class="slds-is-resizable slds-text-title_caps" width="2rem" scope="col" height="26">
                                                    <div class="slds-truncate" title="Name">Name</div>
                                                </th>
                                                <th scope="col"></th>
                                            </tr >
                                        </thead>
                                        <tbody >
                                            <apex:variable var="standardCount" value="{!0}" />
                                            <apex:repeat value="{!contentWrappers}" var="wrap">
                                                <apex:variable rendered="{!wrap.Type == 'Standard'}" var="standardCount" value="{!standardCount+1}" />
                                                
                                                <apex:outputText rendered="{!wrap.Type == 'Standard'}" >
                                                    <tr  id="notSelectedRow" class="slds-hint-parent" style="border-bottom: 1px solid rgb(221, 219, 218);  border-top: none;"  > 
                                                        <td role="gridcell" tabindex="0" class="slds-text-align_right" style="width: 5.5rem; ">
                                                            <apex:commandLink action="{!setSelectValue}" oncomplete="makeDraggable()" reRender="testing, selectedPageTable, standardPageTable, MarketingPageTable, SellSheetTable, check" styleClass="slds-icon_small slds-button slds-button_neutral btnSubmit slds-p-around_xx-small" >
                                                                <apex:param name="currPage"  value="{!wrap.uniqueId}"/>
                                                                <apex:param name="currPageName"  value="{!wrap.name}"/>
                                                                <apex:param name="selected"  value="true"/>
                                                                <svg class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#add')}" />
                                                                </svg>
                                                            </apex:commandLink> 
                             
                                                            <apex:commandLink action="/{!wrap.docId}" target="_blank" rendered="{!wrap.docId != Null}" styleClass="slds-icon_small slds-button slds-button_neutral slds-p-around_xx-small" >
                                                                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#preview')}" />
                                                                </svg>
                                                            </apex:commandLink>  
                                                            
                                                            <apex:outputPanel styleClass="slds-icon_small slds-button  slds-button_neutral slds-p-around_xx-small" rendered="{!wrap.docId == Null}">
                                                                <svg style="fill:#e5e5e5;"  class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#preview')}"></use>
                                                                </svg>
                                                            </apex:outputPanel>
                                                            
                                                        </td>
                                                        <td class="updateTable" style="line-height: 17px;">
                                                            <apex:outputText rendered="{!wrap.Description != NULL}">
                                                                {!wrap.Name}
                                                                <div class="slds-truncate descriptionStyle" title="{!wrap.Description}">{!wrap.Description}</div>
                                                            </apex:outputText> 
                                                            <apex:outputText rendered="{!wrap.Description == NULL}">
                                                                {!wrap.Name}
                                                                <!--<apex:outputlink value="/{!wrap.docId}">{!wrap.Name}</apex:outputlink>--->
                                                            </apex:outputText>
                                                        </td>
                                                    </tr> 
                                                </apex:outputText>
                                            </apex:repeat>                          
                                        </tbody>
                                    </table>
                                    
                                    <apex:outputPanel rendered="{!standardCount = 0}">
                                        <center>
                                            There are no more available standard pages.
                                        </center>
                                    </apex:outputPanel>   
                                    
                                </apex:outputPanel>
                            </div>
                            <!--- /Standard Page Options ---->
                            
                            <!--- Marketing Page Options ---->
                            <div class="Marketing-Content-tab slds-tabs_default__content slds-hide" style="padding: 0rem" id="marketing-content" role="tabpanel" aria-labelledby="Marketing-Content-tab">
                                <div class="slds-grid slds-grid_vertical">
                                    <div class="slds-p-vertical_x-small slds-p-horizontal_large slds-shrink-none slds-theme_shade" style="padding-bottom: 0.6rem;">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id-2">Search</label>
                                            <div class="slds-form-element__control">
                                                <div class="slds-combobox_container" >
                                                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                                                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                            <input id="mySearchInput" onkeyup="mySearchFunction()" type="text" class="slds-input slds-combobox__input" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search"/>
                                                            <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                                <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#search')}" />
                                                                </svg>
                                                            </span>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <apex:outputPanel id="MarketingPageTable">
                                        <div class="slds-scrollable slds-grow">
                                            <table role="grid" id="MarketingTable" class="slds-table slds-table_fixed-layout slds-table_bordered slds-table_resizable-cols slds-no-row-hover slds-scrollable_none slds-m-bottom_small" 
                                                   style="border-top:none; border-collapse: none; border-top: none;">
                                                
                                                <thead>
                                                    <tr class="slds-line-height_reset" style="display:none">                                  
                                                        <th scope="col" style="width: 3.75rem;"></th>
                                                        <th aria-label="Name" aria-sort="none" class="slds-is-resizable slds-text-title_caps" width="2rem" scope="col" height="26">
                                                            <div class="slds-truncate" title="Name">Name</div>
                                                        </th>
                                                        <th scope="col"></th>
                                                    </tr >
                                                </thead>
                                                <tbody>
                                                    
                                                    <apex:variable var="marketingCount" value="{!0}" />
                                                    <apex:repeat value="{!contentWrappers}" var="wrap">
                                                        <apex:variable rendered="{!wrap.Type == 'Marketing'}" var="marketingCount" value="{!marketingCount+1}" />
                                                        <apex:outputText rendered="{!wrap.Type == 'Marketing'}" >
                                                            <!---style="display: {!IF((wrap.Type == 'Marketing' && wrap.isSelected == false), 'table-row', 'none')};"---->
                                                            <tr  id="notSelectedRow" class="slds-hint-parent"  > 
                                                                <td role="gridcell" tabindex="0" class="slds-text-align_right" style="width: 5.5rem;">
                                                                    <!----standardPageTable, MarketingPageTable, SellSheetTable,----->
                                                                    <apex:commandLink action="{!setSelectValue}" oncomplete="makeDraggable(); mySearchFunction()" 
                                                                                      reRender="testing, selectedPageTable, MarketingPageTable, SellSheetTable, standardPageTable, tabVar, check2" styleClass="slds-icon_small slds-button slds-button_neutral btnSubmit slds-p-around_xx-small" >
                                                                        <apex:param name="currPage"  value="{!wrap.uniqueId}"/>
                                                                        <apex:param name="currPageName"  value="{!wrap.name}"/>
                                                                        <apex:param name="selected"  value="true"/>
                                                                        <svg class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#add')}" />
                                                                        </svg>
                                                                    </apex:commandLink>  
                                                                    <apex:commandLink action="/{!wrap.docId}" target="_blank" rendered="{!wrap.docId != Null}" styleClass="slds-icon_small slds-button slds-button_neutral slds-p-around_xx-small" >
                                                                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#preview')}" />
                                                                        </svg>
                                                                    </apex:commandLink>  
                                                                    
                                                                    <apex:outputPanel styleClass="slds-icon_small slds-button  slds-button_neutral slds-p-around_xx-small" rendered="{!wrap.docId == Null}">
                                                                        <svg style="fill:#e5e5e5;"  class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#preview')}"></use>
                                                                        </svg>
                                                                    </apex:outputPanel>
                                                                </td>
                                                                
                                                                <td class="updateTable" style="line-height: 17px;">
                                                                    <apex:outputText rendered="{!wrap.Description != NULL}">
                                                                        {!wrap.Name}
                                                                        <div class="slds-truncate descriptionStyle" title="{!wrap.Description}">{!wrap.Description}</div>
                                                                    </apex:outputText> 
                                                                    <apex:outputText rendered="{!wrap.Description == NULL}">
                                                                        {!wrap.Name}
                                                                        <!--<apex:outputlink value="/{!wrap.docId}">{!wrap.Name}</apex:outputlink>--->
                                                                    </apex:outputText>
                                                                </td>
                                                            </tr> 
                                                        </apex:outputText>
                                                    </apex:repeat>                          
                                                </tbody>
                                            </table>
                                            
                                            <apex:outputPanel rendered="{!marketingCount = 0}">
                                                <center>
                                                    There are no more available marketing pages.
                                                </center>
                                            </apex:outputPanel>
                                        </div>
                                    </apex:outputPanel>
                                </div>
                            </div>
                            <!--- /Marketing Page Options ---->
                            
                            
                            <!----Sell Sheet --->
                            <div class="Sell-Sheet-tab slds-tabs_default__content slds-hide" style="padding: 0rem" id="marketing-content" role="tabpanel" aria-labelledby="Marketing-Content-tab">
                                <apex:outputPanel id="SellSheetTable">
                                    
                                    <table role="grid" class="slds-table slds-table_fixed-layout slds-table_resizable-cols slds-no-row-hover slds-scrollable_none slds-m-bottom_small"
                                           style="border-top:none; border-collapse: none; border-left: none; ">
                                        <thead>
                                            <tr class="slds-line-height_reset" style="display:none">
                                                <th scope="col" style="width: 3.25rem;"></th>
                                                <th aria-label="Name" aria-sort="none" class="slds-is-resizable slds-text-title_caps" scope="col" height="26">
                                                    <div class="slds-truncate" title="Name">Name</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <apex:variable var="sellSheetCount" value="{!0}" />
                                            <apex:repeat value="{!contentWrappers}" var="wrap">
                                                <apex:variable rendered="{!wrap.Type == 'Sell Sheet'}" var="sellSheetCount" value="{!sellSheetCount+1}" />
                                                <tr class="slds-hint-parent border_bottom" style="display: {!IF((wrap.Type == 'Sell Sheet'), 'table-row', 'none')};" > 
                                                    <td role="gridcell" tabindex="0" class="slds-text-align_right" style="width: 5.5rem; ">
                                                        <apex:commandLink action="{!setSelectValue}" oncomplete="makeDraggable()" reRender="testing, selectedPageTable, SellSheetTable, standardPageTable, MarketingPageTable, check3" styleClass="slds-icon_small slds-button slds-button_neutral btnSubmit slds-p-around_xx-small" >
                                                            <apex:param name="currPage"  value="{!wrap.uniqueId}"/>
                                                            <apex:param name="currPageName"  value="{!wrap.name}"/>
                                                            <apex:param name="selected"  value="true"/>
                                                            <svg class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#add')}" />
                                                            </svg>
                                                        </apex:commandLink>
                                                        
                                                        <apex:commandLink action="/{!wrap.docId}" target="_blank" rendered="{!wrap.docId != Null}" styleClass="slds-icon_small slds-button slds-button_neutral slds-p-around_xx-small" >
                                                            <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#preview')}" />
                                                            </svg>
                                                        </apex:commandLink>  
                                                        
                                                        <apex:outputPanel styleClass="slds-icon_small slds-button  slds-button_neutral slds-p-around_xx-small" rendered="{!wrap.docId == Null}">
                                                            <svg style="fill:#e5e5e5;"  class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#preview')}"></use>
                                                            </svg>
                                                        </apex:outputPanel>
                                                    </td>
                                                    <td class="updateTable" style="line-height: 17px;">
                                                        <apex:outputText rendered="{!wrap.Description != NULL}">
                                                            {!wrap.Name}
                                                            <div class="slds-truncate descriptionStyle" title="{!wrap.Description}">{!wrap.Description}</div>
                                                        </apex:outputText> 
                                                        <apex:outputText rendered="{!wrap.Description == NULL}">
                                                            {!wrap.Name}
                                                            <!--<apex:outputlink value="/{!wrap.docId}">{!wrap.Name}</apex:outputlink>--->
                                                        </apex:outputText>
                                                    </td>
                                                </tr>    
                                            </apex:repeat>
                                        </tbody>
                                    </table>
                                    <apex:outputPanel rendered="{!sellSheetCount = 0}">
                                        <center>
                                            There are no more available pages.
                                        </center>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                            </div>
                            <!-----/Sell Sheet>---->
                        </div>
                    </div>
                    <!----end of first grid----->
                    
                    <div style="width:2px;background: #e5e5e5;"></div>
                    
                    <!-----beginning of second grid (Selected Pages)----->
                    <div class="slds-col slds-border_left" >
                        
                        <!----header TWO--->
                        <header class="slds-modal__header" style="background-color:rgb(243, 242, 242); border-bottom 2px solid rgb(221, 219, 218); padding: 1rem; text-align: center;">
                            <h2 id="card-heading-01" class="slds-text-heading_small slds-hyphenate" style="line-height: .5;">Selected Pages</h2>
                        </header>
                        <!----/header TWO---> 
                        
                        <!----Page Summary Table--->  
                        <apex:actionFunction action="{!Next}" reRender="testing" name="NextStep"/>
                        
                        <script>
                        function makeDraggable() {
                            j$( ".order-table" ).sortable( {
                                revert: true,
                                items: ".order-table-item", 
                            });
                        }
                        
                        function updateOrder() {
                            var mystring ="";
                            var prods1 = j$( ".order-table" ).sortable( "toArray" );
                            length1 = prods1.length;
                            for (i=0; i<length1; i++) {
                                if(i == 0){
                                    mystring += prods1[i];
                                }else{
                                    mystring += ',' + prods1[i];
                                }
                            }
                            document.getElementById('{!$Component.orderedStringField}').value = mystring;
                            NextStep();
                        }
                        </script>
                        
                        <apex:outputPanel id="selectedPageTable" styleClass="visualstrap" layout="block"  >
                            <div class="div-table">
                                <apex:inputHidden value="{!orderedString}" id="orderedStringField"/>
                                <table  id="SelectedTable" class="order-table slds-table slds-m-bottom_small">
                                    <thead>
                                        <tr class="slds-line-height_reset" style="display:none"> 
                                            <th scope="col" ></th>
                                            <th scope="col" ></th>
                                            <th aria-label="Name" aria-sort="none" class="slds-text-title_caps" width="2rem" scope="col" height="26">
                                                <div class="slds-truncate" title="Name">Name</div>
                                            </th>
                                            <th scope="col"></th>
                                        </tr >
                                    </thead>
                                    <tbody>
                                        <tr id="CoverPage" class="required border_bottom" > 
                                            <td width="2%"></td> 
                                            <td role="gridcell" width="5%" class="slds-text-align_left" >
                                                <apex:outputPanel styleClass="slds-icon_small slds-button slds-p-around_xx-small" >
                                                    <svg class="slds-button__icon slds-button__icon_medium" style="fill: rgb(176, 173, 171);" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#lock')}"></use>
                                                    </svg>
                                                </apex:outputPanel> 
                                            </td>
                                            <td class="slds-text-align_left">
                                                <div class="slds-truncate" title="Required Cover Page">Cover Page</div>   
                                            </td>
                                            <td width="10%" style="vertical-align: top">
                                                
                                                <apex:outputPanel styleClass="slds-icon_small slds-button  slds-button_neutral slds-p-around_xx-small">
                                                    <svg style="fill:#e5e5e5;"  class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#preview')}"></use>
                                                    </svg>
                                                </apex:outputPanel>
                                                
                                                
                                                <apex:outputPanel styleClass="slds-icon_small slds-button  slds-button_neutral slds-p-around_xx-small">
                                                    <svg style="fill:#e5e5e5;"  class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#remove')}"></use>
                                                    </svg>
                                                </apex:outputPanel>
                                            </td>
                                        </tr> 
                                        <apex:repeat value="{!selectedWrappers}" var="wrap">
                                            <!--<tr   id="{!wrap.Name}={!wrap.DocId}" width="2rem" class="order-table-item mytable slds-hint-parent border_bottom"  > --->
                                            <tr   id="{!wrap.uniqueId}" width="2rem" class="order-table-item mytable slds-hint-parent border_bottom"  >
                                                <td width="2%"></td>
                                                <td role="gridcell" width="5%" class="slds-text-align_left" >
                                                    <apex:outputPanel styleClass="slds-icon_small slds-button slds-p-around_xx-small" >
                                                        <svg class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#rows')}"></use>
                                                        </svg>
                                                    </apex:outputPanel> 
                                                </td>
                                                <td class="slds-text-align_left" style="line-height: 1.5">
                                                    <!---- max-width: 190px;--->
                                                    <div class="slds-cell-wrap" style="{!IF(wrap.type ='Sell Sheet', 'display:none;','')}" title="{!wrap.name}">{!wrap.name}</div>
                                                    <div class="slds-cell-wrap" style="{!IF(wrap.type ='Sell Sheet', '', 'display:none;')}" title="{!wrap.name}">{!wrap.name} <i>(Solution Sheet)</i></div>
                                                </td>
                                                <td width="10%">
                                                    <apex:commandLink action="/{!wrap.docId}" target="_blank" rendered="{!wrap.docId != Null}" styleClass="slds-icon_small slds-button slds-button_neutral slds-p-around_xx-small" >
                                                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#preview')}" />
                                                        </svg>
                                                    </apex:commandLink>  
                                                    
                                                    <apex:outputPanel styleClass="slds-icon_small slds-button  slds-button_neutral slds-p-around_xx-small" rendered="{!wrap.docId == Null}">
                                                        <svg style="fill:#e5e5e5;"  class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#preview')}"></use>
                                                        </svg>
                                                    </apex:outputPanel>
                                                    <apex:commandLink rendered="{!wrap.Description != 'Required'}" action="{!setSelectValue}" 
                                                                      oncomplete="makeDraggable(); mySearchFunction()"
                                                                      reRender="testing, selectedPageTable, MarketingPageTable, standardPageTable, SellSheetTable, tabVar, check, check2, check3" 
                                                                      styleClass="slds-icon_small slds-button slds-button_neutral btnSubmit slds-p-around_xx-small" >
                                                        <apex:param name="currPage"  value="{!wrap.uniqueId}"/>
                                                        <apex:param name="currPageName"  value="{!wrap.name}"/>
                                                        <apex:param name="selected"  value="false"/>
                                                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#remove')}"></use>
                                                        </svg>
                                                    </apex:commandLink> 
                                                    
                                                    <apex:outputPanel styleClass="slds-icon_small slds-button  slds-button_neutral slds-p-around_xx-small" rendered="{!wrap.Description == 'Required'}">
                                                        <svg style="fill:#e5e5e5;"  class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#remove')}"></use>
                                                        </svg>
                                                    </apex:outputPanel>
                                                </td>
                                            </tr> 
                                        </apex:repeat>  
                                        
                                        <tr  id="LegalPage" class="required" style="border-bottom: 1px solid rgb(221, 219, 218);"  > 
                                            <td width="2%"></td>
                                            <td role="gridcell" width="5%" class="slds-text-align_left" style="width: 3.75rem;">
                                                <apex:outputPanel styleClass="slds-icon_small slds-button slds-p-around_xx-small" >
                                                    <svg class="slds-button__icon slds-button__icon_hint slds-button__icon_medium" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#lock')}"></use>
                                                    </svg>
                                                </apex:outputPanel> 
                                            </td>
                                            <td>
                                                <div class="slds-truncate" title="Required Legal Page">Legal</div>   
                                            </td>
                                            <td width="10%" style="vertical-align: top">
                                                <apex:commandLink action="/{!legalPageId}" target="_blank" styleClass="slds-icon_small slds-button slds-button_neutral slds-p-around_xx-small" >
                                                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#preview')}" />
                                                    </svg>
                                                </apex:commandLink>  
                                                
                                                <apex:outputPanel styleClass="slds-icon_small slds-button  slds-button_neutral slds-p-around_xx-small">
                                                    <svg style="fill:#e5e5e5;"  class="slds-button__icon slds-button__icon_medium" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#remove')}"></use>
                                                    </svg>
                                                </apex:outputPanel>
                                            </td>
                                        </tr> 
                                        
                                    </tbody>
                                </table>
                            </div>
                        </apex:outputPanel>
                        <!----/Page Summary Table --->
                    </div>
                </div>
                
                <!----Footer--->
                <footer class="slds-modal__footer" style="z-index: 999; position:relative">
                    <apex:commandLink value="Cancel" onclick="if(!confirm('Are you sure you want to cancel? All changes made on the current page will not be saved.')) return false;" action="/{!QuoteId}" styleclass="slds-button slds-button_neutral"/>
                    <apex:commandLink value="Next" onclick="updateOrder();" reRender="null" styleclass="slds-button slds-button_brand"></apex:commandLink>
                </footer> 
                <!---/Footer--->
            </article>
        </div>
        
        <script>
        
        
        j$('.slds-vertical-tabs__nav-item').click(function(){
            j$('.slds-vertical-tabs__nav-item').removeClass("slds-is-active");
            j$(this).addClass("slds-is-active");
            j$('.slds-tabs_default__content').removeClass("slds-show");
            j$('.slds-tabs_default__content').addClass("slds-hide");
            if(j$(this).hasClass("Standard-Content-tab")) {
                j$("div.Standard-Content-tab").addClass("slds-show");
                j$("div.Standard-Content-tab").removeClass("slds-hide");
                j$("div.Marketing-Content-tab").addClass("slds-hide");
            }
            else {
                if(j$(this).hasClass("Marketing-Content-tab")) {
                    j$("div.Marketing-Content-tab").addClass("slds-show");
                    j$("div.Marketing-Content-tab").removeClass("slds-hide");
                    j$("div.Standard-Content-tab").addClass("slds-hide");
                }
                else {
                    j$("div.Sell-Sheet-tab").addClass("slds-show");
                    j$("div.Sell-Sheet-tab").removeClass("slds-hide");
                    j$("div.Marketing-Content-tab").addClass("slds-hide");
                }
            }
        });
        
        
        function mySearchFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("mySearchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("MarketingTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {  
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        
        j$(".order-table-item").mousedown(function() {
            j$(this).find("td").addClass("borderTop");
        });
        
        j$(".order-table-item").mouseup(function() {
            j$(this).find("td").removeClass("borderTop");
            
        });
        
        makeDraggable(); 
        </script>
        
        
    </apex:form>
</apex:page>