<apex:page id="proposalEnviroToolKitProductDetail" showHeader="FALSE" sidebar="FALSE" renderAS="PDF" standardController="Quote__c" standardStylesheets="false" extensions="proposalPrint" >
<apex:stylesheet value="{!URLFOR($Resource.proposalPrintResource, 'default.css')}"/>
<body style="page-break-after:always;" class="productDetail">
    <div class="header">
        <apex:image value="{!URLFOR($Resource.proposalPrintResource, '/images/logo-msdsonline.png')}" styleClass="msdsonlineLogo" width="234" height="52" />        
        <h1>EH&amp;S Compliance Solutions</h1>
    </div>
    <div class="pageContent">
        <p class="description">
            <span style="color:#1580B8; font-weight:bold;">Safety Tool Kit</span> - Our Safety Tool Kit gives you immediate, on-demand access to hundreds of safety training and compliance assessment resources, inspection checklists, federal and state compliance analyses, safety best practices, OSHA regulatory developments and more.
        </p>
        <div class="featuresWrap">
           <apex:image value="{!URLFOR($Resource.proposalPrintResource, 'images/preview-stk.jpg')}"/>
            <div class="featureListNoImage">
                <div>
                    <h4>Key Features Include:</h4>
                    <ul>
                        <li>Hundreds of customizable training resources, including PowerPoint meetings, handouts, quizzes, tool box talks, etc. </li>
                        <li>Compliance analyses and assistance resources written plain-English, including safety and health regulatory analyses, interpretations, notices of changes to federal and your state’s OSHA regulations, best practices, white papers, daily regulatory news feeds and more.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</apex:page>