<apex:page showHeader="false" tabStyle="Salesforce_Request__c" controller="salesforceRequestHomePage" standardStylesheets="true">
    <apex:pageBlock mode="detail" title="Last 10 Created Salesforce Requests">
        <apex:pageBlockSection collapsible="false" columns="1">
            <apex:pageBlockTable value="{!requests}" var="req" >
                
                <apex:column width="75px">
                    
                    <apex:facet name="header">Name</apex:facet>
                    <apex:outputLink value="/{!req.Id}" target="_top">
                        <apex:outputText value="{!req.name}"/>
                    </apex:outputLink>
                    
                </apex:column>
                <apex:column >
                    
                    <apex:facet name="header">Summary</apex:facet>
                    
                    <apex:outputText value="{!req.Summary__c}"/>
                    
                </apex:column>
                <apex:column >
                    
                    <apex:facet name="header">Requested By</apex:facet>
                    <apex:outputText value="{!req.Requested_By__r.Name}"/>
                    
                </apex:column>
                <apex:column >
                    
                    <apex:facet name="header">Status</apex:facet>
                    <apex:outputText value="{!req.Status__c}"/>
                    
                </apex:column>
                <apex:column >
                    
                    <apex:facet name="header">Owner</apex:facet>
                    <apex:outputText value="{!req.Owner.Name}"/>
                    
                </apex:column>
            </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>