<apex:page showHeader="false" sidebar="false" controller="salesPerformanceReportingController" standardStylesheets="false" applyBodyTag="false" docType="html-5.0" cache="true">
    <c:salesPerformanceMaintenance rendered="{!$Setup.Sales_Performance_Settings__c.Maintenance_Mode__c}"/>
    <div style="{!if(!$Setup.Sales_Performance_Settings__c.Maintenance_Mode__c,'','display:none;')}">
        <apex:includeScript value="{!URLFOR($Resource.salesperformance_resources, 'jQuery/jquery-3.2.1.min.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.salesperformance_resources, 'tableSorter/jquery.tablesorter.min.js')}"/>
        <c:salesPerformanceGlobalHeader uId="{!userID}" page="sales_performance_reporting"/>
        <c:salesPerformanceHeader uId="{!userID}" tab="setup" va="{!viewAs}"/>
        <script>
        var $j = jQuery.noConflict();
        </script>
        
        <style>
            .disabled {
            pointer-events: none;
            cursor: default;
            color: #dddbda;
            }
            .disabledPath {
            pointer-events: none;
            cursor: default;
            }
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0; 
            }
            .darkHeader {
            background:#e5e5e5 !important;
            border-color: #d6d1d1 !important;
            }
            
            .headersize {
            padding: 15px !important;
            text-align: left;
            
        </style>
        
        <apex:actionStatus id="modalTime" onstop="openRequestModal()"/>
        <apex:actionStatus id="sendAlertStatus" onstart="showSpinner()" onstop="reloadPage()"/>
        
        <div class="slds-scope">
            <apex:form id="theForm">
                
                <apex:actionStatus id="splitSpinner" onstart="showSpinner()" onstop="hideSpinner()" />
                <div id="spinner" class="slds-spinner_container slds-hide" style="position:fixed;">
                    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                        <div class="slds-assistive-text">Loading Data...</div>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
                
                <!---Navigation --->
                <div class="slds-m-left_large">
                    <nav role="navigation" aria-label="Breadcrumbs">
                        <ol class="slds-breadcrumb slds-list_horizontal slds-p-vertical_x-small" >
                            <li class="slds-breadcrumb__item slds-text-title_caps">
                                <a href="/apex/sales_performance_setup">
                                    Setup
                                </a>
                            </li>
                            <li class="slds-breadcrumb__item slds-text-title_caps">
                                <a style="pointer-events: none;cursor: default; font-weight:bold;">
                                    Reporting
                                </a>
                            </li>
                        </ol>
                    </nav> 
                </div>
                <!--- Card Starts --->    
                <article class="slds-card slds-m-horizontal_medium slds-m-bottom_medium">
                    <!----Card Header--->
                    <div class="slds-card__header slds-grid">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-utility-thunder" title="Incentive Reporting">
                                    <svg class="slds-icon slds-icon_small slds-icon-text-default" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#table')}"/>
                                    </svg>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <h2>
                                    <div style="cursor:default" class="slds-card__header-link">
                                        <span class="slds-text-heading_small">Reporting</span>
                                    </div>
                                </h2>
                            </div>
                        </header>
                    </div>
                    <!----!Card Header--->
                                        
                    <div class="slds-m-top_medium slds-card__footer" style="padding:0px;">
                        <apex:outputPanel id="cardFooter">
                            <div class="slds-path">
                                <div class="slds-grid slds-path__track slds-border_bottom slds-p-vertical_small slds-p-horizontal_xx-large">
                                    <div class="slds-grid slds-path__scroller-container">
                                        <div class="slds-path__scroller" role="application">
                                            <div class="slds-path__scroller_inner">
                                                <ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">
                                                    <li class="slds-path__item {!if(stepNumber == 1, 'slds-is-current slds-is-active disabledPath','slds-is-complete')}" role="presentation">
                                                        <apex:commandLink styleClass="slds-path__link" action="{!backToStep1}" reRender="cardFooter" id="path-1">
                                                            <span class="slds-path__stage">
                                                                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#check')}" ></use>
                                                                </svg>
                                                            </span>
                                                            <span class="slds-path__title">Report Parameters</span>
                                                        </apex:commandLink>
                                                    </li>
                                                    <li class="slds-path__item {!if(stepNumber == 2, 'slds-is-current slds-is-active disabledPath','slds-is-incomplete disabledPath')}" role="presentation">
                                                        <a aria-selected="false" class="slds-path__link" href="javascript:void(0);" id="path-2" role="option" tabindex="-1">
                                                            <span class="slds-path__stage">
                                                                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                                                </svg>
                                                            </span>
                                                            <span class="slds-path__title">Report Preview</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <div class="slds-grid slds-path__action">   
                                            <apex:outputPanel rendered="{!stepNumber =2}" >
                                                <apex:actionFunction action="{!downloadToExcel}" name="makeSis"/>
                                                <a id="downloadsps" Class="slds-button slds-path__mark-complete {!if(stepNumber == 2 && reportType='Month Summary', 'slds-button_brand', 'slds-button_neutral disabled')}" href="/apex/monthly_finance_report?month={!selectedMonth}&year={!selectedYear}" download="true" onclick="makeSis();">  
                                                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#download')}" />
                                                    </svg>
                                                    Download Report Data
                                                </a>
                                            </apex:outputPanel>
                                            <apex:commandLink styleClass="slds-button slds-path__mark-complete {!if((stepNumber == 2 && reportType='Month Summary' && day6To15), 'slds-button_brand', 'slds-button_neutral disabled')}" action="{!resetApprovals}" status="modalTime" rendered="{!sendToFinace && stepNumber =2}" reRender="requestModalHeader, pendingSprDetails">  
                                                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#approval')}" ></use>
                                                </svg>
                                                Submit to Finance
                                            </apex:commandLink>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!----Part 1---->
                            <div class="slds-path__content {!if(stepNumber == 1, 'slds-show','slds-hide')}" id="path-content-1" aria-labelledby="path-1" role="tabpanel" >
                                <apex:outputPanel id="doesNotHavePermission" rendered="{!viewReporting=false}" >
                                    <center>
                                        <div class="slds-p-around_xx-large">
                                            <div class="slds-p-top_small">
                                                <span class="slds-icon_container">
                                                    <svg class="slds-icon slds-icon_large slds-icon-text-default" style="fill:#c23934" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#error')}" />
                                                    </svg>
                                                </span>
                                            </div>
                                            <h1 class="slds-text-heading_medium slds-p-vertical_small">Error: You are not authorized to access this page.</h1>
                                        </div>
                                    </center>
                                </apex:outputPanel>
                                <apex:outputPanel id="p1" rendered="{!viewReporting=true}" >
                                    <br/>
                                    <apex:outputPanel id="missingpPar" >  <!---styleClass="slds-m-horizontal_xx-large"---->
                                        <div id="valError" class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert" style="border-radius: 0.5rem; width:1800px; {!if(valError,'','display:none;')}">
                                            <span class="slds-icon_container slds-icon-utility-error" >
                                                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#error')}" />
                                                </svg>
                                            </span>
                                            <h2>Error: Please select report parameters</h2>
                                        </div>
                                    </apex:outputPanel>
                                    <center>
                                        <fieldset class="slds-form-element">
                                            <br/>
                                            <!---apex:outputPanel id="dansButtons"> --->
                                            <div>
                                                <legend class="slds-form-element__legend slds-form-element__label">Select a report type to generate:</legend>
                                                <div class="slds-form-element__control" >
                                                    <apex:inputHidden value="{!reportType}" id="RadioButtonValue" >
                                                    </apex:inputHidden>
                                                    <apex:outputPanel rendered="{!canViewMonthly = true}">
                                                        <div class="slds-visual-picker slds-visual-picker_medium">
                                                            <input type="radio" name="selReportType" id="Month Summary" VALUE="Month Summary" />
                                                            <label id="monthlylabel" for="Month Summary" onclick="document.getElementById(this.htmlFor).checked=true;changeValue(document.getElementById(this.htmlFor),'{!$Component.RadioButtonValue}');">
                                                                <apex:actionSupport event="onclick" reRender="RadioButtonValue, monthYearBtns, valError, missingPar" status="splitSpinner"/> 
                                                                <span class="slds-visual-picker__figure slds-visual-picker__icon slds-align_absolute-center"> <!---{!if(ValError && reportType = null, ' slds-has-error','')}--->
                                                                    <span class="slds-is-selected">
                                                                        <span class="slds-icon_container" title="description of icon when needed">
                                                                            <svg class="slds-icon slds-icon_large slds-icon-action-check" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#check')}" />
                                                                            </svg>
                                                                        </span>
                                                                    </span>
                                                                    <span class="slds-is-not-selected">
                                                                        <span class="slds-icon_container" title="description of icon when needed">
                                                                            <svg class="slds-icon slds-icon-utility-connected_apps slds-icon_large slds-icon-text-default" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#monthlyview')}" />
                                                                            </svg>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                                <span class="slds-visual-picker__body">Month Summary</span>
                                                            </label>
                                                        </div>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel >
                                                        <div class="slds-visual-picker slds-visual-picker_medium">
                                                            <input type="radio" id="Pending" name="selReportType" value="Pending Approvals"/>
                                                            <label id="pendinglabel" for="Pending" onclick="document.getElementById(this.htmlFor).checked=true;changeValue(document.getElementById(this.htmlFor),'{!$Component.RadioButtonValue}');">
                                                                <apex:actionSupport event="onclick" reRender="RadioButtonValue, monthYearBtns, genReport" status="splitSpinner"/>
                                                                <span class="slds-visual-picker__figure slds-visual-picker__icon slds-align_absolute-center">  <!---{!if(ValError && reportType = null, ' slds-has-error','')}--->
                                                                    <span class="slds-is-selected">
                                                                        <span class="slds-icon_container" title="description of icon when needed">
                                                                            <svg class="slds-icon slds-icon_large slds-icon-action-check" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#check')}" />
                                                                            </svg>
                                                                        </span>
                                                                    </span>
                                                                    <span class="slds-is-not-selected">
                                                                        <span class="slds-icon_container" title="description of icon when needed">
                                                                            <svg class="slds-icon slds-icon-utility-custom_apps slds-icon_large slds-icon-text-default" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#summarydetail')}" />
                                                                            </svg>
                                                                        </span>
                                                                    </span>
                                                                    
                                                                </span>
                                                                <span class="slds-visual-picker__body">Pending Approvals</span>
                                                            </label>
                                                        </div>
                                                        <script>
                                                        function changeValue(input, textid) {
                                                            document.getElementById(textid).value = input.value;
                                                        }   
                                                        </script>
                                                    </apex:outputPanel>
                                                </div>
                                            </div>

                                            <!---end of dans buttons--->
                                            <apex:outputPanel id="monthYearBtns" >
                                                <apex:outputPanel rendered="{!reportType ='Month Summary'}">
                                                    <div class="slds-p-vertical_large">                                                     
                                                        <div class="slds-form-element {!if(ValError && (selectedYear = null || selectedYear = 'Select Year'), ' slds-has-error','')}">
                                                            <span class="slds-align_absolute-center">
                                                                <legend class="slds-form-element__legend slds-form-element__label">Year:<br/>
                                                                    <!---Year:&nbsp;--->
                                                                    <apex:selectList styleClass="slds-select viewType" value="{!selectedYear}" size="1" multiselect="false" style="width:400px;" > 
                                                                        <apex:selectOptions value="{!years}"/>
                                                                        <apex:actionSupport event="onchange" reRender="monthYearBtns, valError, genReport" status="splitSpinner"/>
                                                                    </apex:selectList>
                                                                </legend>    
                                                            </span>
                                                        </div>    
                                                        <br/>
                                                        <div class="slds-form-element {!if(ValError && (selectedMonth = null || selectedMonth = 'Select Month'), ' slds-has-error','')}">
                                                            <span class="slds-align_absolute-center">
                                                                <legend class="slds-form-element__legend slds-form-element__label">Month:<br/>
                                                                    <apex:selectList styleClass="slds-select viewType" value="{!selectedMonth}" size="1" multiselect="false" style="width:400px;" disabled="{!OR(selectedYear == NULL, selectedYear == 'Select Year')}">  
                                                                        <apex:selectOptions value="{!months}"/>
                                                                        <apex:actionSupport event="onchange" reRender="monthYearBtns, valError, genReport" status="splitSpinner"/>
                                                                    </apex:selectList>
                                                                </legend>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                        </fieldset>
                                        <br/>
                                        
                                        <apex:outputPanel id="genReport">
                                            <apex:commandLink styleclass="slds-button slds-button_neutral {!if((SelectedYear != 'Select Year' && SelectedMonth != 'Select Month' && reportType == 'Month Summary') || reportType == 'Pending Approvals', 'slds-button_brand', 'slds-button_neutral disabled')}" action="{!selectReport}" reRender="rType, cardFooter, p1, p2" status="splitSpinner">  
                                                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#download')}" />
                                                </svg>
                                                Generate Report
                                            </apex:commandLink>
                                        </apex:outputPanel>
                                    </center>
                                </apex:outputPanel>
                            </div>

                            <!-----Part 2 ----->
                            <div aria-labelledby="path-2" class="slds-path__content {!if(stepNumber == 2, 'slds-show','slds-hide')}" id="path-content-2" role="tabpanel" > 
                                <apex:outputPanel id="p2">
                                    <apex:outputPanel id="spstable" rendered="{!spsResults != null && spsResults.size > 0}">  
                                        <div class="slds-p-horizontal_xx-large">                                          
                                            <br/>
                                            <h1 class="slds-page-header__title">{!monthWord} {!selectedYear} Report</h1>
                                            <br/>

                                            <table id="month_Summary_table" class="tablesorter ms slds-table slds-table_bordered slds-table_cell-buffer slds-border_left slds-border_right slds-table_resizable-cols slds-table_fixed-layout">          
                                                <thead>
                                                    <tr class="slds-text-title_caps">
                                                        <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted slds-p-vertical_small " scope="col"> <!---height="40"--->
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-p-vertical_small slds-truncate" title="Name">Sales Rep</div>
                                                                    <div class="slds-icon_container slds-p-vertical_xx-small">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div> 
                                                            </div>
                                                        </th>
                                                        <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Employee Id">Employee Id</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Manager">Manager</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Group">Group</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" style="width:10%">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center slds-p-vertical_small ">
                                                                    <div class="slds-p-vertical_small slds-truncate" title="Bookings Amount">Bookings <br/> Amount</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted "  scope="col" style="width:10%">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Associate Incentive">Associate <br/> Incentive</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        
                                                        <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted " scope="col" style="width:10%">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Bookings">Bookings <br/> Incentive</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        
                                                        <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted " scope="col" style="width:10%">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Demo Incentives">Demo <br/> Incentive</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        
                                                        <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted " scope="col" style="width:10%">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Referral Incentive">Referral <br/> Incentive</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted " scope="col" style="width:10%">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Other Incentive">Other <br/> Incentive</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th> 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <apex:repeat value="{!spsResults}" var="sps">
                                                        <tr>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputField VALUE="{!sps.Sales_Rep__r.Name}"/>
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputText VALUE="{!sps.Employee_ID__c}"/> 
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputField VALUE="{!sps.Manager__r.Name}"/>
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputField VALUE="{!sps.Group__c}"/>
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputText VALUE="{0, number, $###,###.##}">
                                                                    <apex:param value="{!sps.My_Bookings__c}"/>
                                                                </apex:outputText>
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputText VALUE="{0, number, $###,###.##}">                
                                                                    <apex:param value="{!sps.Associate_Incentives__c}"/>
                                                                </apex:outputText>
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputText VALUE="{0, number, $###,###.##}">
                                                                    <apex:param value="{!sps.Bookings_Incentives__c}"/>
                                                                </apex:outputText>
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputText VALUE="{0, number, $###,###.##}">
                                                                    <apex:param value="{!sps.Demo_Incentives__c}"/>
                                                                </apex:outputText>
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputText VALUE="{0, number, $###,###.##}">                
                                                                    <apex:param value="{!sps.Referral_Incentives__c}"/>
                                                                </apex:outputText>
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputText VALUE="{0, number, $###,###.##}">                
                                                                    <apex:param value="{!sps.Other_Incentives__c}"/>
                                                                </apex:outputText>
                                                            </td>
                                                        </tr>
                                                    </apex:repeat>
                                                </tbody>
                                            </table>
                                        </div> 
                                    </apex:outputPanel>
                                    
                                    
                                    <!---from opportunity outlook----->
                                    <script type="text/javascript">
                                    $("[id$='month_Summary_table']").tablesorter();
                                    $j('.header').click(function(){
                                        $j(this).closest('table').find('.header').removeClass('slds-is-sorted');
                                        if(!$j(this).hasClass('slds-is-sorted_desc') && !$j(this).hasClass('slds-is-sorted_asc')){
                                            $j(this).addClass('slds-is-sorted');
                                            $j(this).addClass('slds-is-sorted_desc');
                                        }else{
                                            if($j(this).hasClass('slds-is-sorted_asc')){
                                                $j(this).removeClass('slds-is-sorted_asc');
                                                $j(this).addClass('slds-is-sorted');
                                                $j(this).addClass('slds-is-sorted_desc');
                                            }else if($j(this).hasClass('slds-is-sorted_desc')){
                                                $j(this).removeClass('slds-is-sorted_desc');
                                                $j(this).addClass('slds-is-sorted');
                                                $j(this).addClass('slds-is-sorted_asc');
                                            }              
                                        }
                                    });
                                    </script>
                                    
                                    <apex:outputPanel id="nosprtable" rendered="{(!pendingSprResults == null || pendingSprResults.size < 1) && reportType == 'Pending Approvals' }">  
                                        <center>
                                            <div class="slds-p-around_xx-large">
                                                <div class="slds-p-top_small">
                                                    <span class="slds-icon_container">
                                                        <svg class="slds-icon slds-icon_large slds-icon-text-default" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#success')}" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                <h1 class="slds-text-heading_medium slds-p-vertical_small">There are currently no pending requests.</h1>
                                            </div>
                                        </center>
                                    </apex:outputPanel>

                                    <apex:outputPanel id="sprtable" rendered="{!pendingSprResults != null && pendingSprResults.size > 0}">  
                                        <div class="slds-p-horizontal_xx-large"> 
                                            <div class="slds-p-top_medium slds-p-bottom_medium">
                                                <h1 class="slds-page-header__title">All Pending Requests</h1>
                                            </div>
                                            <table id="pending_spr_table" class="tablesorter slds-table slds-table_bordered slds-table_cell-buffer slds-border_left slds-border_right slds-table_resizable-cols slds-table_fixed-layout">           
                                                <thead>
                                                    <tr class="slds-text-title_caps">
                                                        <th id="headertwo" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" height="30">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Name">Name</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th id="headertwo" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Type">Type</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th id="headertwo" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Month">Incentive Month</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th id="headertwo" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Year">Incentive Year</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th id="headertwo" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Submitted By">Submitted By</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th id="headertwo" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col">
                                                            <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                <div class="slds-grid slds-grid_vertical-align-center">
                                                                    <div class="slds-truncate" title="Current Approver">Current Approver</div>
                                                                    <div class="slds-icon_container">
                                                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <apex:repeat value="{!pendingSprResults}" var="spr">
                                                        <tr>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <!--<apex:outputField VALUE="{!spr.Name}"/>-->
                                                                <div class="slds-form-element">
                                                                    <!---<apex:outputLink value="/{!wrap.spr.id}">{!wrap.spr.Name}</apex:outputLink>--->
                                                                    <apex:outputLink onclick="window.open('/{!spr.id}');return false;">{!spr.Name}</apex:outputLink>
                                                                </div>                                                                
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputField VALUE="{!spr.Type__c}"/>
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputField VALUE="{!spr.Month_Incentive_Applied__c}"/>
                                                            </td>
                                                            
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputField VALUE="{!spr.Year_Incentive_Applied__c}"/>
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputField VALUE="{!spr.Owner.Name}"/>
                                                            </td>
                                                            <td class="slds-text-align_left slds-truncate" role="gridcell">
                                                                <apex:outputField VALUE="{!spr.Current_Approver__c}"/>
                                                            </td>
                                                        </tr>
                                                    </apex:repeat>
                                                </tbody>
                                            </table>
                                        </div>  
                                        <!---from opportunity outlook----->
                                        <script type="text/javascript">
                                        $("[id$='pending_spr_table']").tablesorter({dateFormat : "mmddyyyy", cssChildRow: "tablesorter-childRow"});
                                        $j('.headertwo').click(function(){
                                            $j(this).closest('table').find('.headertwo').removeClass('slds-is-sorted');
                                            if(!$j(this).hasClass('slds-is-sorted_desc') && !$j(this).hasClass('slds-is-sorted_asc')){
                                                $j(this).addClass('slds-is-sorted');
                                                $j(this).addClass('slds-is-sorted_desc');
                                            }else{
                                                if($j(this).hasClass('slds-is-sorted_asc')){
                                                    $j(this).removeClass('slds-is-sorted_asc');
                                                    $j(this).addClass('slds-is-sorted');
                                                    $j(this).addClass('slds-is-sorted_desc');
                                                }else if($j(this).hasClass('slds-is-sorted_desc')){
                                                    $j(this).removeClass('slds-is-sorted_desc');
                                                    $j(this).addClass('slds-is-sorted');
                                                    $j(this).addClass('slds-is-sorted_asc');
                                                }              
                                            }
                                        });
                                        </script>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                            </div>
                            <!-----End of Part 2  ------------------>                        
                        </apex:outputPanel>
                        <!-----end of cardFooter----->
                        
                    </div>
                </article>
                
                <!---MODAL--->
                <section id="financeModal" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-1" class="slds-modal slds-modal_medium " style="text-align:left;" > 
                    <apex:outputPanel id="all">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <button type="button" onclick="closeModal()" class="close slds-button slds-button_icon slds-modal__close slds-button_icon-inverse {!if(modelNum == 2,'slds-hide','')}" title="Close">
                                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <apex:outputPanel id="requestModalHeader">
                                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Finance Incentive Submission</h2>
                                </apex:outputPanel>
                            </header>
                            <div class="slds-modal__content slds-p-horizontal_xx-large slds-p-vertical_small {!if(ModelNum == 1, 'slds-show','slds-hide')}" id="modal-content-id-1">
                                <apex:outputPanel id="missingpParameters">  <!---styleClass="slds-m-horizontal_xx-large"---->
                                    <div id="valError" class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert" style="border-radius: 0.5rem;{!if(errorString = NULL,'display:none;','')}">
                                        <span class="slds-icon_container slds-icon-utility-error slds-m-right_x-small" >
                                            <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#error')}" />
                                            </svg>
                                        </span>
                                        <h2>Error: {!errorString}</h2>
                                    </div>
                                </apex:outputPanel>

                                <apex:outputPanel id="pendingSprDetails">
                                    <apex:outputPanel id="pendingSprs" rendered="{!requestWrappers != null && requestWrappers.size > 0}">  
                                        <div class="slds-form-element slds-m-bottom_small">
                                            <label class="slds-form-element__label" for="input-id-01">There are pending Sales Performance Requests associated with this report month.  Approve or reject the pending requests and submit for approval.</label>
                                            <div class="slds-form-element__control">                                          
                                                <table class="slds-table slds-table_fixed-layout slds-table_bordered slds-no-row-hover slds-table_cell-buffer slds-border_left slds-border_right">
                                                    
                                                    <thead>
                                                        <tr class="slds-text-title_caps">
                                                            <th scope="col" style="width:10%">
                                                                <div class="slds-truncate">Name</div>
                                                            </th>
                                                            <th scope="col" style="width:15%">
                                                                <div class="slds-truncate">Type</div>
                                                            </th>
                                                            <th scope="col" style="width:12.5%">
                                                                <div class="slds-truncate">Submitted By</div>
                                                            </th>
                                                            <th scope="col" style="width:15%">
                                                                <div class="slds-truncate">Current Approver</div>
                                                            </th>
                                                            <th scope="col" style="width:17.5%">
                                                                <div class="slds-truncate">Approve or Reject</div>
                                                            </th>
                                                            <th scope="col" style="width:30%">
                                                                <div class="slds-truncate">Reason</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <apex:repeat value="{!requestWrappers}" var="wrap">
                                                            <tr class="slds-hint-parent">
                                                                <td>
                                                                    <div class="slds-form-element">
                                                                        <!---<apex:outputLink value="/{!wrap.spr.id}">{!wrap.spr.Name}</apex:outputLink>--->
                                                                        <apex:outputLink onclick="window.open('/{!wrap.spr.id}');return false;">{!wrap.spr.Name}</apex:outputLink>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="slds-truncate">{!wrap.spr.Type__c}</div>
                                                                </td>
                                                                <td>
                                                                    <div class="slds-truncate">{!wrap.spr.Owner.Name}</div>
                                                                </td>
                                                                <td>
                                                                    <div class="slds-truncate">{!wrap.spr.Current_Approver__c}</div>
                                                                </td>
                                                                <td>
                                                                    <apex:outputPanel >
                                                                        <apex:inputHidden value="{!wrap.approvalAction}" id="RadioButtonValue"/>
                                                                        <apex:outputPanel >
                                                                            <apex:actionSupport event="onclick" reRender="rw"/>
                                                                            <fieldset class="slds-form-element">
                                                                                <div class="slds-form-element__control" >
                                                                                    
                                                                                    <div class="slds-radio_button-group ">
                                                                                        <span class="slds-button slds-radio_button">  
                                                                                            <input type="radio" id="Approve-{!wrap.spr.id}" name="approveReject-{!wrap.spr.id}" value="Approve" />  <!---class="{!if(wrap.approvalAction == 'Approve', "slds-is-selected", '')}"--->
                                                                                            <label id="approvelabel"  class="slds-radio_button__label" for="Approve-{!wrap.spr.id}" onclick="document.getElementById(this.htmlFor).checked=true;changeValue(document.getElementById(this.htmlFor),'{!$Component.RadioButtonValue}');">
                                                                                                <span class="slds-radio_faux">
                                                                                                    Approve
                                                                                                </span>
                                                                                            </label>
                                                                                        </span>
                                                                                        <span class="slds-button slds-radio_button">  
                                                                                            <input type="radio" id="Reject-{!wrap.spr.id}" name="approveReject-{!wrap.spr.id}" value="Reject"/>     <!--checked="{!if(wrap.approvalAction == 'Reject',"checked",FALSE)}"--->  <!---class="{!if(wrap.approvalAction == 'Reject', "slds-is-selected", '')}" class="{!if(wrap.approvalAction == 'Approve', "checked", '')}"---->
                                                                                            <label id="rejectlabel" class="slds-radio_button__label" for="Reject-{!wrap.spr.id}" onclick="document.getElementById(this.htmlFor).checked=true;changeValue(document.getElementById(this.htmlFor),'{!$Component.RadioButtonValue}');">
                                                                                                <span class="slds-radio_faux">
                                                                                                    Reject
                                                                                                </span>
                                                                                            </label>
                                                                                        </span>  
                                                                                    </div>
                                                                                    <script>
                                                                                    function changeValue(input, textid) {
                                                                                        document.getElementById(textid).value = input.value;
                                                                                    }   
                                                                                    </script>
                                                                                </div>
                                                                            </fieldset>
                                                                        </apex:outputPanel>
                                                                    </apex:outputPanel>
                                                                </td>
                                                                
                                                                <td>
                                                                    <div class="slds-truncate">
                                                                        <div class="slds-form-element">
                                                                            <div class="slds-form-element__control">
                                                                                <apex:inputtextarea styleclass="slds-textarea" html-placeholder="Enter a reason for approval..." value="{!wrap.approvalComments}"/>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </apex:repeat>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>                                       
                                    </apex:outputPanel>  

                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label" for="input-id-01">Comments to Finance</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputTextarea styleclass="slds-input" value="{!emailComments}" html-placeholder="Enter any relevant information for finance..."/>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                            </div>
                            <footer class="slds-modal__footer {!if(ModelNum == 1, 'slds-show','slds-hide')}">
                                <apex:outputPanel id="requestModalFooter">
                                    <center>
                                        
                                        <!---completeProcess--->
                                        <apex:commandLink styleClass="slds-button slds-button_brand"  action="{!completeProcess}" reRender="all, eMessage, modal-content-id-1, modal-content-id-2, returnButtons, requestModalFooter, pendingSprDetails" status="splitSpinner" >  
                                            <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#email')}"></use>
                                            </svg>
                                            Process Submission
                                        </apex:commandLink>  
                                    </center>
                                </apex:outputPanel>
                            </footer>
                            
                            
                            <!---- insert status update after submission ---->
                            
                            <div class="slds-modal__content slds-p-horizontal_medium slds-p-vertical_small {!if(ModelNum == 2, 'slds-show','slds-hide')}" id="modal-content-id-2">                               
                                <apex:outputPanel id="confirmationDetails" style="{!if(ModelNum == 2, 'slds-show','slds-hide')}">
                                    <center>
                                        <div>
                                            <div class="slds-p-top_small">
                                                <span class="slds-icon_container" style="{!if(errorString == NULL,'display:none','')}">
                                                    <svg class="slds-icon slds-icon_large slds-icon-text-default" style="fill:#c23934" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#error')}" />
                                                    </svg>
                                                </span>
                                            </div>
                                            <h1 style="{!if(errorString == NULL,'display:none','')}" class="slds-text-heading_medium slds-p-vertical_small">Error: {!errorString}</h1>
                                        </div>

                                        <div>
                                            <div class="slds-p-top_small">
                                                <span class="slds-icon_container" style="{!if(reportSent,'','display:none')}">
                                                    <svg class="slds-icon slds-icon_large slds-icon-text-default" style="fill:#04844b" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#success')}" />
                                                    </svg>
                                                </span>
                                            </div>
                                            <h1 style="{!if(reportSent,'','display:none')}" class="slds-text-heading_medium slds-p-vertical_small">Pending approvals have been processed and report has been submitted!</h1>
                                        </div>
                                    </center>
                                </apex:outputPanel>                     
                            </div>
                            <footer class="slds-modal__footer {!if(ModelNum == 2, 'slds-show','slds-hide')}" >  
                                <apex:outputPanel id="returnButtons">
                                    <center>
                                        <apex:commandLink action="{!returnToReporting}" status="splitSpinner" styleClass="slds-button slds-button_brand" > 
                                            <!----action="/apex/sales_performance_request{!if(viewAs != null && viewAs != $User.Id,'?va='+viewAs,'')}" ---->
                                            <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#touch_action')}" ></use>
                                            </svg>
                                            Return to Reporting
                                        </apex:commandLink>
                                    </center>
                                </apex:outputPanel>
                            </footer>
                        </div>
                    </apex:outputPanel>
                </section>
                <!---/MODAL--->
                <div id="backdrop" class="slds-backdrop"></div>
            </apex:form>
            <c:salesPerformanceFooter /> 
        </div>
        
        <script>
        function openRequestModal(){
            hideSpinner();
            $j('#financeModal').addClass('slds-fade-in-open');
            $j('#backdrop').addClass('slds-backdrop_open');
        }
        function closeModal(){
            $j('.slds-modal').removeClass('slds-fade-in-open');
            $j('#backdrop').removeClass('slds-backdrop_open');
        }
        
        
        function showSpinner() {
            $j("#spinner").removeClass("slds-hide");
        }
        function hideSpinner() {
            $j("#spinner").addClass("slds-hide");
        }

        </script>
    </div>   
</apex:page>