<apex:page controller="sfRequestTasks" sidebar="false" tabstyle="Salesforce_Request__c">
<apex:form >
 <apex:sectionHeader subTitle="{!theRequest.Name}" title="Add Tasks"/>
 <apex:pageBlock mode="mainDetail">
 	<apex:pageBlockSection title="{!theRequest.Name} - Information" columns="1" collapsible="false">
 	<apex:outputField value="{!theRequest.Summary__c}"/>
 	<apex:outputField value="{!theRequest.Description__c}"/>
 	</apex:pageBlockSection>
 </apex:pageBlock>
   <apex:pageBlock title="Add Tasks">
      <apex:pageBlockTable value="{!wrappers}" var="wrapper" id="wtable">
         <apex:column headerValue="Step #">
            <apex:inputField value="{!wrapper.sftc.Step_Number__c}"/>
         </apex:column>
         <apex:column headerValue="Owner">
            <apex:inputField value="{!wrapper.sftc.Owner__c}"/>
         </apex:column>
         <apex:column headerValue="Description">
            <apex:inputTextArea cols="100" rows="5" value="{!wrapper.sftc.Description__c}"/>
         </apex:column>
         <apex:column headerValue="Start">
            <apex:inputField value="{!wrapper.sftc.Start_Date__c}"/>
         </apex:column>
         <apex:column headerValue="End">
            <apex:inputField value="{!wrapper.sftc.End_Date__c}"/>
         </apex:column>
         <apex:column headerValue="Action">
            <apex:commandButton value="Delete" action="{!delWrapper}" rerender="wtable">
               <apex:param name="toDelIdent" value="{!wrapper.ident}" assignTo="{!toDelIdent}"/>
            </apex:commandButton>
         </apex:column>
      </apex:pageBlockTable>
      <apex:commandButton value="Add Row" action="{!addRows}" rerender="wtable">
         <apex:param name="addCount" value="1" assignTo="{!addCount}"/>
      </apex:commandButton>
      <apex:commandButton value="Save" action="{!save}"/>
   </apex:pageBlock>
 </apex:form>
</apex:page>