<apex:page standardController="Salesforce_Request__c" extensions="sfRequestTestScenario">
    <apex:form >
        <apex:sectionHeader title="{!request.Name}" subtitle="Re-Order Steps"/>
        <apex:pageBlock >
            <apex:pageMessages />
            <apex:pageBlockButtons style="padding-left:170px;">
                <apex:commandButton value="Save" action="{!saveReorder}"/>
                <apex:commandButton value="Back" action="{!backButton}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="3">
                <apex:outputText />
                <apex:pageBlockTable title="Reorder Steps" id="table" value="{!ScenarioList}" var="s" width="120%">
                    <apex:column headerValue="Step">
                        <apex:inputField value="{!s.Step__c}"/>
                    </apex:column>
                    <apex:column value="{!s.Name}"/>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>