<apex:page id="thePage" cache="false" controller="salesPerformanceOpportunityOutlook"  showHeader="false" sidebar="false" standardStylesheets="true" applyBodyTag="false" docType="html-5.0">
    <apex:includeScript value="{!URLFOR($Resource.salesperformance_resources, 'jQuery/jquery-3.2.1.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.salesperformance_resources, 'tableSorter/jquery.tablesorter.min.js')}"/>
    <style>
        span.dateFormat{
        display:none;
        }
        div.datePicker{
        background-image:none;
        background-color: white;
        webkit-box-shadow:none;
        box-shadow:none;
        font-family: "Salesforce Sans",Arial,sans-serif !important;
        font-size: initial !important;
        1px solid #d8dde6 !important;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16) !important;
        border-radius: 0.25rem !important;
        }
        .datePicker .dateBar{
        margin-top: 0px;
        background: #fdfdfd;
        }
        .calLeft{
        background-image:url({!URLFOR($Asset.slds, '/assets/icons/utility/left_60.png')}) !important;
        background-size: 15px;
        width:15px !important;
        height:15px !important;
        margin-top: 9px !important;
        }
        .calLeftOn{
        background-image:url({!URLFOR($Asset.slds, '/assets/icons/utility/left_60.png')}) !important;
        background-size: 15px;
        width:15px !important;
        height:16px !important;
        background-position: initial !important;
        opacity: 0.5;
        margin-top: 8px !important;
        }
        .calRight{
        background-image:url({!URLFOR($Asset.slds, '/assets/icons/utility/right_60.png')}) !important;
        background-size: 15px;
        background-position: initial !important;
        }
        .calRightOn{
        background-image:url({!URLFOR($Asset.slds, '/assets/icons/utility/right_60.png')}) !important;
        background-size: 15px;
        background-position: initial !important;
        opacity: 0.5;
        }
        #calYearPicker{
        background-color: #fff;
        color: #16325c;
        border: 1px solid #d8dde6;
        border-radius: .25rem;  
        height: calc(1.875rem + (1px * 2));
        transition: border 0.1s linear, background-color 0.1s linear;
        }
        #calMonthPicker{
        background-color: #fff;
        color: #16325c;
        border: 1px solid #d8dde6;
        border-radius: .25rem;  
        height: calc(1.875rem + (1px * 2));
        transition: border 0.1s linear, background-color 0.1s linear;
        }
        .calBody{
        padding: 0 !important;
        }
        .calDays{
        font-size: 0.75rem !important;
        border-collapse: collapse;
        border-spacing: 0;
        box-sizing: border-box;
        display: table;
        border-color: grey;
        line-height: 1.5;
        }
        .calDays tr{
        vertical-align: middle !important;
        }
        .calDays th{
        color: #54698d !important;
        }
        .calDays td{
        width: 1.5rem;
        height: 1.5rem;
        position: relative;
        min-width: 1.5rem;
        line-height: 1.5rem;
        border-radius: 50%;
        padding: 0.25rem !important;
        text-align: center;
        font-size: 0.75rem;
        }
        .datePicker .calDays .todayDate{
        background-color: #f4f6f9;
        color: black;
        }
        .datePicker .calDays .selectedDate{
        background-color: #005fb2;
        color: white;
        border:none;
        }
        .calToday{
        font-size: 0.75rem !important;
        }
    </style>
    <script>
    var j$ = jQuery.noConflict();
    </script>
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <apex:slds />
        </head>
        
        <body style="margin: 8px;">
            <div class="slds-scope" style="position:relative; box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.75);">
                <!-- PRIMARY CONTENT WRAPPER -->
                <apex:actionStatus onstart="showSpinner()" onstop="showAlert({!isSuccess})" id="blockElement"/>
                <apex:form id="theForm">
                    <div class="myapp">
                        <div class="slds-grid">
                            <div class="slds-tabs_scoped">
                                <ul class="slds-tabs_scoped__nav" style="border-radius: 0;border-top:none;position:relative;" role="tablist">
                                    <li class="thisMonth slds-tabs_scoped__item slds-active" title="Item One" role="presentation">
                                        <a class="slds-tabs_scoped__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-scoped-1" id="tab-scoped-1__item">
                                            This Month
                                        </a>
                                    </li>
                                    <li class="nextMonth slds-tabs_scoped__item" title="Item Two" role="presentation">
                                        <a class="slds-tabs_scoped__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-scoped-2" id="tab-scoped-2__item">
                                            Next Month
                                        </a>
                                    </li>
                                    <li style="position:absolute; right:20px;">
                                        <div  class="slds-button-group slds-p-top_xx-small" role="group">
                                            <apex:commandLink rendered="{!viewAsDefaultView = 'VP'}" reRender="null" title="Show Filters" styleClass="filter slds-button slds-button_stateful slds-button_neutral" style="border-top-left-radius: .25rem;border-bottom-left-radius: .25rem;">
                                                <svg class="slds-button__icon" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#filterList')}"></use>
                                                </svg>
                                            </apex:commandLink>
                                            <apex:commandButton rendered="{!viewAsDefaultView = 'VP'}" styleClass="slds-button slds-button_neutral" status="blockElement" action="{!saveOpportunties}" reRender="blockElement,theForm" value="Save" title="Save Opportunities" style="border-left:0px;"/>
                                            <apex:commandButton rendered="{!viewAsDefaultView != 'VP'}" styleClass="slds-button slds-button_neutral" status="blockElement" action="{!saveOpportunties}" reRender="blockElement,theForm" value="Save" title="Save Opportunities" style="border-radius: .25rem;"/>
                                        </div>
                                    </li>
                                </ul>
                                <apex:outputText id="alertOutput">
                                    <div id="alert" class="alert slds-notify_container slds-is-relative slds-hide" style="padding:0px;">
                                        <div id="alert_type" class="alertType slds-notify slds-notify_toast" role="alert">
                                            <span id="success_icon" class="successIcon slds-icon_container slds-m-right_small slds-no-flex slds-align-top slds-hide slds-icon-utility-success">
                                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#success')}"></use>
                                                </svg>
                                            </span>
                                            <div id="success_msg" class="successMessage slds-notify__content slds-hide">
                                                <h2 class="slds-text-heading_small">
                                                    Opportunties Updated
                                                </h2>
                                            </div>
                                            <span id="error_icon" class="errorIcon slds-icon_container slds-m-right_small slds-no-flex slds-align-top slds-hide slds-icon-utility-error">
                                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#error')}"></use>
                                                </svg>
                                            </span>
                                            <div id="error_msg" class="errorMessage slds-notify__content slds-hide">
                                                <h2 class="slds-text-heading_small">
                                                    There was an error
                                                </h2>
                                                <p>
                                                    {!errorMessage}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </apex:outputText>
                                <apex:outputPanel id="tablePanel" >
                                    <apex:outputPanel id="filterMessage">
                                        <apex:outputPanel rendered="{!ownerGroupsSelectedString != null}">
                                            <div class="filterMessage slds-p-vertical_xx-small" style="border-bottom:1px solid #d8dde6;border-left:1px solid #d8dde6;border-right:1px solid #d8dde6;padding-left:10%;padding-right:10%">
                                                <div class="slds-card slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning">
                                                    <span class="slds-assistive-text">info</span>
                                                    <span class="slds-icon_container slds-icon-utility-user slds-m-right_x-small" title="Description of icon when needed">
                                                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#filter')}"></use>
                                                        </svg>
                                                    </span>
                                                    <h2>Filter(s): Owner Group(s) equal to {!ownerGroupsSelectedString}</h2>
                                                </div>
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                    
                                    <div id="tab-scoped-1" class="thisMonth slds-tabs_scoped__content slds-show" style="padding:0px;" role="tabpanel" aria-labelledby="tab-scoped-1__item">
                                        <apex:outputPanel id="panelTM">
                                            <apex:outputPanel rendered="{!thisMonthWrappers.size = 0 || thisMonthWrappers = null}" style="font-size:20px;">
                                                <center>
                                                    <div style="padding-top:50px;padding-bottom:50px;">
                                                        No open opportunities for this month
                                                    </div>
                                                </center>
                                            </apex:outputPanel>
                                            <apex:outputPanel rendered="{!thisMonthWrappers != null && thisMonthWrappers.size > 0 && defaultView != 'Manager' && defaultView != 'Director' && defaultView != 'VP'}">
                                                <table id="opportunity_table" class="tablesorter slds-table slds-table_bordered slds-table_resizable-cols slds-table_fixed-layout" style="background-color:#ffffff; border-top:none; border-bottom:none;">
                                                    <thead>
                                                        <tr class="slds-text-title_caps">
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col">
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Name</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Close Date</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Stage</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Y1 Amount</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Next Open Task</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <apex:repeat value="{!thisMonthWrappers}" var="wrap">
                                                            <tr>
                                                                <td data-label="Name">
                                                                    <div class="slds-truncate">
                                                                        <apex:outputText rendered="{!wrap.o.CloseDate < TODAY()}" >
                                                                            <span class="slds-icon_container slds-icon-utility-announcement" title="Past Due Opportunity">
                                                                                <svg class="slds-m-right_xx-small slds-icon slds-icon_x-small slds-icon-text-warning" aria-hidden="true">
                                                                                    <use  xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#warning')}"></use>
                                                                                </svg>
                                                                            </span>
                                                                        </apex:outputText>
                                                                        <a href="/apex/opportunity_detail?id={!wrap.o.id}" title="{!wrap.o.Name}">{!wrap.o.Name}</a>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="slds-form-element"> 
                                                                        <apex:inputfield styleclass="closeDate slds-input" value="{!wrap.o.CloseDate}"/>
                                                                        <div style="display:none">
                                                                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                                                <apex:param value="{!wrap.O.CloseDate}" /> 
                                                                            </apex:outputText>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td id="stage" data-label="Stage">
                                                                    <div class="slds-truncate slds-select_container" title="{!wrap.o.StageName}">
                                                                        <apex:selectList styleClass="slds-select" id="countries" value="{!wrap.O.StageName}" size="1" required="true">
                                                                            <apex:selectOptions value="{!stageName}"/>
                                                                            <div style="display:none">
                                                                                {!wrap.O.StageName}
                                                                            </div>
                                                                        </apex:selectList>
                                                                    </div>
                                                                </td>
                                                                <td data-label="Y1 Amount">
                                                                    <div class="slds-truncate" title="{!wrap.o.Amount}">
                                                                        <apex:outputText value="{0, number, $###,###}">
                                                                            <apex:param value="{!wrap.o.Amount}"/>
                                                                        </apex:outputText>
                                                                    </div>
                                                                </td>
                                                                <td data-label="Next Open Task">
                                                                    <div class="slds-truncate" title="View Account">
                                                                        <apex:commandLink action="/{!wrap.o.accountid}" target="_blank">
                                                                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                                                <apex:param value="{!wrap.nextOpenTask}" /> 
                                                                            </apex:outputText>
                                                                        </apex:commandLink>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </apex:repeat>
                                                    </tbody>
                                                </table>
                                            </apex:outputPanel>
                                            <apex:outputPanel rendered="{!thisMonthWrappers != null && thisMonthWrappers.size > 0 && (defaultView == 'Manager' || defaultView == 'Director' || defaultView == 'VP')}">
                                                <table id="opportunity_table" class="tablesorter slds-table slds-table_bordered slds-table_resizable-cols slds-table_fixed-layout" style="background-color:#ffffff; border-top:none; border-bottom:none;">
                                                    <thead>
                                                        <tr class="slds-text-title_caps">
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Name</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Close Date</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Stage</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col">
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Y1 Amount</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Next Open Task</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Owner</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <apex:repeat value="{!thisMonthWrappers}" var="wrap">
                                                            <tr>
                                                                <td data-label="Name">
                                                                    <div class="slds-truncate">
                                                                        <apex:outputText rendered="{!wrap.o.CloseDate < TODAY()}" >
                                                                            <span class="slds-icon_container slds-icon-utility-announcement" title="Past Due Opportunity">
                                                                                <svg class="slds-m-right_xx-small slds-icon slds-icon_x-small slds-icon-text-warning" aria-hidden="true">
                                                                                    <use  xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#warning')}"></use>
                                                                                </svg>
                                                                            </span>
                                                                        </apex:outputText>
                                                                        <a href="/apex/opportunity_detail?id={!wrap.o.id}" title="{!wrap.o.Name}">{!wrap.o.Name}</a>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="slds-form-element"> 
                                                                        <apex:inputfield styleclass="closeDate slds-input" value="{!wrap.o.CloseDate}"/>
                                                                        <div style="display:none">
                                                                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                                                <apex:param value="{!wrap.O.CloseDate}" /> 
                                                                            </apex:outputText>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td id="stage" data-label="Stage">
                                                                    <div class="slds-truncate slds-select_container" title="{!wrap.o.StageName}">
                                                                        <apex:selectList styleClass="slds-select" id="countries" value="{!wrap.O.StageName}" size="1" required="true">
                                                                            <apex:selectOptions value="{!stageName}"/>
                                                                            <div style="display:none">
                                                                                {!wrap.O.StageName}
                                                                            </div>
                                                                        </apex:selectList>
                                                                    </div>
                                                                </td>
                                                                <td data-label="Y1 Amount">
                                                                    <div class="slds-truncate" title="{!wrap.o.Amount}">
                                                                        <apex:outputText value="{0, number, $###,###}">
                                                                            <apex:param value="{!wrap.o.Amount}"/>
                                                                        </apex:outputText>
                                                                    </div>
                                                                </td>
                                                                <td data-label="Next Open Task">
                                                                    <div class="slds-truncate" title="View Account">
                                                                        <apex:commandLink action="/{!wrap.o.accountid}" target="_blank">
                                                                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                                                <apex:param value="{!wrap.nextOpenTask}" /> 
                                                                            </apex:outputText>
                                                                        </apex:commandLink>
                                                                    </div>
                                                                </td>
                                                                <td data-label="Owner Name">
                                                                    <div class="slds-truncate" title="{!wrap.o.Owner.Name}">
                                                                        <apex:outputText value="{!wrap.o.Owner.Name}"/>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </apex:repeat>
                                                    </tbody>
                                                </table>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                        
                                    </div>
                                    <div id="tab-scoped-2" class="nextMonth slds-tabs_scoped__content slds-hide" style="padding:0px;" role="tabpanel" aria-labelledby="tab-scoped-2__item">
                                        <apex:outputPanel id="panelNM">
                                            <apex:outputPanel rendered="{!nextMonthWrappers.size = 0 || nextMonthWrappers = null}" style="font-size:20px;">
                                                <center>
                                                    <div style="padding-top:50px;padding-bottom:50px;">
                                                        No open opportunities for next month
                                                    </div>
                                                </center>
                                            </apex:outputPanel>
                                            <apex:outputPanel rendered="{!nextMonthWrappers != null && nextMonthWrappers.size > 0 && defaultView != 'Manager' && defaultView != 'Director' && defaultView != 'VP'}">
                                                <table id="opportunity_table" class="tablesorter slds-table slds-table_bordered slds-table_resizable-cols slds-table_fixed-layout" style="background-color:#ffffff; border-top:none; border-bottom:none;">
                                                    <thead>
                                                        <tr class="slds-text-title_caps">
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Name</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Close Date</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Stage</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Y1 Amount</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col">
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Next Open Task</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <apex:repeat value="{!nextMonthWrappers}" var="wrap">
                                                            <tr>
                                                                <td data-label="Name">
                                                                    <div class="slds-truncate">
                                                                        <apex:outputText rendered="{!wrap.o.CloseDate < TODAY()}" >
                                                                            <span class="slds-icon_container slds-icon-utility-announcement" title="Past Due Opportunity">
                                                                                <svg class="slds-m-right_xx-small slds-icon slds-icon_x-small slds-icon-text-warning" aria-hidden="true">
                                                                                    <use  xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#warning')}"></use>
                                                                                </svg>
                                                                            </span>
                                                                        </apex:outputText>
                                                                        <a href="/apex/opportunity_detail?id={!wrap.o.id}" title="{!wrap.o.Name}">{!wrap.o.Name}</a>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="slds-form-element"> 
                                                                        <apex:inputfield styleclass="closeDate slds-input" value="{!wrap.o.CloseDate}"/>
                                                                        <div style="display:none">
                                                                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                                                <apex:param value="{!wrap.O.CloseDate}" /> 
                                                                            </apex:outputText>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td id="stage" data-label="Stage">
                                                                    <div class="slds-truncate slds-select_container" title="{!wrap.o.StageName}">
                                                                        <apex:selectList styleClass="slds-select" id="countries" value="{!wrap.O.StageName}" size="1" required="true">
                                                                            <apex:selectOptions value="{!stageName}"/>
                                                                            <div style="display:none">
                                                                                {!wrap.O.StageName}
                                                                            </div>
                                                                        </apex:selectList>
                                                                    </div>
                                                                </td>
                                                                <td data-label="Y1 Amount">
                                                                    <div class="slds-truncate" title="{!wrap.o.Amount}">
                                                                        <apex:outputText value="{0, number, $###,###}">
                                                                            <apex:param value="{!wrap.o.Amount}"/>
                                                                        </apex:outputText>
                                                                    </div>
                                                                </td>
                                                                <td data-label="Next Open Task">
                                                                    <div class="slds-truncate" title="View Account">
                                                                        <apex:commandLink action="/{!wrap.o.accountid}" target="_blank">
                                                                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                                                <apex:param value="{!wrap.nextOpenTask}" /> 
                                                                            </apex:outputText>
                                                                        </apex:commandLink>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </apex:repeat>
                                                    </tbody>
                                                </table>
                                            </apex:outputPanel>
                                            <apex:outputPanel rendered="{!nextMonthWrappers != null && nextMonthWrappers.size > 0 && (defaultView == 'Manager' || defaultView == 'Director' || defaultView == 'VP')}">
                                                <table id="opportunity_table" class="tablesorter slds-table slds-table_bordered slds-table_resizable-cols slds-table_fixed-layout" style="background-color:#ffffff; border-top:none; border-bottom:none;">
                                                    <thead>
                                                        <tr class="slds-text-title_caps">
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Name</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Close Date</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Stage</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Y1 Amount</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Next Open Task</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th id="header" class="header slds-is-sortable tablesorter-header tablesorter-headerUnSorted" scope="col" >
                                                                <div class="slds-th__action slds-text-link_reset" tabindex="0">
                                                                    <div class="slds-grid slds-grid_vertical-align-center">
                                                                        <div class="slds-truncate" >Owner</div>
                                                                        <div class="slds-icon_container">
                                                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#arrowup')}" ></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <apex:repeat value="{!nextMonthWrappers}" var="wrap">
                                                            <tr>
                                                                <td data-label="Name">
                                                                    <div class="slds-truncate">
                                                                        <apex:outputText rendered="{!wrap.o.CloseDate < TODAY()}" >
                                                                            <span class="slds-icon_container slds-icon-utility-announcement" title="Past Due Opportunity">
                                                                                <svg class="slds-m-right_xx-small slds-icon slds-icon_x-small slds-icon-text-warning" aria-hidden="true">
                                                                                    <use  xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#warning')}"></use>
                                                                                </svg>
                                                                            </span>
                                                                        </apex:outputText>
                                                                        <a href="/apex/opportunity_detail?id={!wrap.o.id}" title="{!wrap.o.Name}">{!wrap.o.Name}</a>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="slds-form-element"> 
                                                                        <apex:inputfield styleclass="closeDate slds-input" value="{!wrap.o.CloseDate}"/>
                                                                        <div style="display:none">
                                                                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                                                <apex:param value="{!wrap.O.CloseDate}" /> 
                                                                            </apex:outputText>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td id="stage" data-label="Stage">
                                                                    <div class="slds-truncate slds-select_container" title="{!wrap.o.StageName}">
                                                                        <apex:selectList styleClass="slds-select" id="countries" value="{!wrap.O.StageName}" size="1" required="true">
                                                                            <apex:selectOptions value="{!stageName}"/>
                                                                            <div style="display:none">
                                                                                {!wrap.O.StageName}
                                                                            </div>
                                                                        </apex:selectList>
                                                                    </div>
                                                                </td>
                                                                <td data-label="Y1 Amount">
                                                                    <div class="slds-truncate" title="{!wrap.o.Amount}">
                                                                        <apex:outputText value="{0, number, $###,###}">
                                                                            <apex:param value="{!wrap.o.Amount}"/>
                                                                        </apex:outputText>
                                                                    </div>
                                                                </td>
                                                                <td data-label="Next Open Task">
                                                                    <div class="slds-truncate" title="View Account">
                                                                        <apex:commandLink action="/{!wrap.o.accountid}" target="_blank">
                                                                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                                                <apex:param value="{!wrap.nextOpenTask}" /> 
                                                                            </apex:outputText>
                                                                        </apex:commandLink>
                                                                    </div>
                                                                </td>
                                                                <td data-label="Owner Name">
                                                                    <div class="slds-truncate" title="{!wrap.o.Owner.Name}">
                                                                        <apex:outputText value="{!wrap.o.Owner.Name}"/>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </apex:repeat>
                                                    </tbody>
                                                </table>
                                            </apex:outputPanel>
                                            <script type="text/javascript">
                                            $("[id$='opportunity_table']").tablesorter({dateFormat : "mmddyyyy", cssChildRow: "tablesorter-childRow"});
                                            j$('.header').click(function(){
                                                j$(this).closest('table').find('.header').removeClass('slds-is-sorted');
                                                if(!j$(this).hasClass('slds-is-sorted_desc') && !j$(this).hasClass('slds-is-sorted_asc')){
                                                    j$(this).addClass('slds-is-sorted');
                                                    j$(this).addClass('slds-is-sorted_desc');
                                                }else{
                                                    if(j$(this).hasClass('slds-is-sorted_asc')){
                                                        j$(this).removeClass('slds-is-sorted_asc');
                                                        j$(this).addClass('slds-is-sorted');
                                                        j$(this).addClass('slds-is-sorted_desc');
                                                    }else if(j$(this).hasClass('slds-is-sorted_desc')){
                                                        j$(this).removeClass('slds-is-sorted_desc');
                                                        j$(this).addClass('slds-is-sorted');
                                                        j$(this).addClass('slds-is-sorted_asc');
                                                    }              
                                                }
                                            });
                                            </script>
                                        </apex:outputPanel>
                                    </div>
                                    
                                </apex:outputPanel>
                                
                            </div> 
                            
                            
                            <div class="filterDiv" style="width:25%;display:none;">
                                <div class="slds-panel slds-grid slds-grid_vertical slds-nowrap slds-panel_filters" style="margin-left:0px;">
                                    <div class="slds-form slds-form_stacked slds-grow slds-scrollable_y slds-grid slds-grid_vertical">
                                        <div class="slds-filters">
                                            <apex:outputPanel id="filters">
                                                <div class="slds-filters__header slds-grid slds-has-divider_bottom-space" style="margin-bottom:0px;border-bottom:0px;">
                                                    <h2 class="slds-align-middle slds-text-heading_small">Select Filter(s)</h2>
                                                    <button type="button" class="filterArrow slds-button slds-button_icon slds-col_bump-left slds-button_icon slds-button_icon-small" title="Close Filter Panel">
                                                        <svg class="slds-button__icon" aria-hidden="true">
                                                            <use  xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#forward')}"></use>
                                                        </svg>
                                                        <span class="slds-assistive-text">Close Filter Panel</span>
                                                    </button>
                                                </div>
                                                <div class="slds-filters__body">
                                                    <ol class="slds-list_vertical slds-list_vertical-space">
                                                        <li class="slds-item slds-hint-parent">
                                                            <div class="slds-filters__item slds-grid slds-grid_vertical-align-center slds-is-locked">
                                                                <div>
                                                                    <p class="slds-text-body_small slds-p-bottom_small">Owner Group:</p>
                                                                    <apex:repeat value="{!opportunityFilters}" var="f">
                                                                        <div class="slds-form-element">
                                                                            <label class="slds-checkbox">
                                                                                <apex:inputCheckbox styleclass="slds-input" value="{!f.isSelected}"/>
                                                                                <span class="slds-checkbox--faux"></span>
                                                                                <span class="slds-form-element__label">{!f.groupName}</span>
                                                                            </label>
                                                                        </div>
                                                                    </apex:repeat>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                    <center>
                                                        <apex:commandButton action="{!applyOpportunityFilter}" styleClass="slds-button slds-button_brand slds-m-top_medium" status="oppFilterSpinner" reRender="panelTM,panelNM,filterMessage,filters" value="Apply" title="Apply Filters"/>
                                                    </center>
                                                </div>
                                                <div class="slds-filters__footer slds-grid slds-shrink-none">
                                                    <apex:commandLink reRender="panelTM,panelNM,filterMessage,filters" status="oppFilterSpinner" styleClass="slds-button_reset slds-text-link slds-col_bump-left" action="{!removeAllOpportunityFilters}">Remove All</apex:commandLink>
                                                </div>
                                                <script type="text/javascript">
                                                j$(".filterArrow").click(function(){
                                                    j$(".filterDiv").toggle(400);
                                                    j$(".filter").toggleClass('slds-button_brand');
                                                });
                                                </script>
                                            </apex:outputPanel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-card" style="border: none;border-radius: 0;">
                            <footer class="slds-card__footer" style="margin-top:0;padding-top: .75rem;">
                            </footer>
                        </div>
                        
                        <div id="spinner" class="slds-spinner_container slds-hide" style="position:fixed;">
                            <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                                <div class="slds-assistive-text">Loading Data...</div>
                                <div class="slds-spinner__dot-a"></div>
                                <div class="slds-spinner__dot-b"></div>
                            </div>
                        </div>
                    </div>
                    <apex:actionStatus onstart="showSpinner()" onstop="hideSpinner()" id="oppFilterSpinner"/>
                    <script type="text/javascript">
                    j$(".filter").click(function(){
                        j$(".filter").addClass('slds-not-selected');
                        j$(".filterDiv").toggle(400);
                        j$(".filter").toggleClass('slds-button_brand');
                    });
                    var getUrlParameter = function getUrlParameter(sParam) {
                        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                            sURLVariables = sPageURL.split('&'),
                            sParameterName,
                            i;
                        
                        for (i = 0; i < sURLVariables.length; i++) {
                            sParameterName = sURLVariables[i].split('=');
                            
                            if (sParameterName[0] === sParam) {
                                return sParameterName[1] === undefined ? true : sParameterName[1];
                            }
                        }
                    };
                    var view = getUrlParameter('m');
                    if(view == 'nextMonth'){
                        j$(".slds-tabs_scoped__item").removeClass("slds-active");
                        j$(".slds-tabs_scoped__content").removeClass("slds-show");
                        j$(".slds-tabs_scoped__content").addClass("slds-hide");
                        j$("li.nextMonth").addClass("slds-active");
                        j$("div.nextMonth").addClass("slds-show");
                    }
                    function showAlert(success) {
                        if(success){
                            j$(".alertType").addClass("slds-theme_success");
                            j$(".successIcon").removeClass("slds-hide");
                            j$(".successMessage").removeClass("slds-hide");
                        } else {
                            j$(".alertType").addClass("slds-theme_error");
                            j$(".errorIcon").removeClass("slds-hide");
                            j$(".errorMessage").removeClass("slds-hide");
                        }
                        j$("#spinner").addClass("slds-hide");
                        j$(".alert").slideDown("5000");
                        j$(".alert").delay("4800").slideUp("5000");
                    }
                    function showSpinner() {
                        j$("#spinner").removeClass("slds-hide");
                    }
                    function hideSpinner() {
                        j$("#spinner").addClass("slds-hide");
                    }
                    j$(".slds-tabs_scoped__item").click(function(){
                        j$(".slds-tabs_scoped__item").removeClass("slds-active");
                        j$(".slds-tabs_scoped__content").removeClass("slds-show");
                        j$(".slds-tabs_scoped__content").addClass("slds-hide");
                        j$(this).addClass("slds-active");
                        if(j$(this).hasClass("thisMonth")){
                            j$("div.thisMonth").addClass("slds-show");
                        }else{
                            j$("div.nextMonth").addClass("slds-show");
                        }
                    });
                    </script>
                </apex:form>
            </div>
        </body>
        <c:salesPerformanceFooter />
    </html>
</apex:page>