<apex:page controller="updateExpectedDeliveryDateController" tabStyle="Opportunity">
    <apex:form >
        <style>
            span.dateFormat{
            display:none;
            }
        </style>
        <apex:sectionHeader title="Updated Expected Delivery Date" subtitle="{!opp.Name}"/> 
        <apex:pageblock >
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Save" action="{!save}"/>
                <apex:commandButton value="Cancel" action="/{!opp.id}" />
            </apex:pageBlockButtons>      
            <apex:pageblocktable value="{!OLI}" var="o">
                <apex:column headerValue="Name">
                    <apex:outputField value="{!o.Product2.name}"/>
                </apex:column>
                <apex:column headerValue="Expected Delivery Date">
                    <apex:inputField value="{!o.Expected_Delivery_Date__c}"/>
                </apex:column>  
            </apex:pageblocktable>
        </apex:pageblock>
        <script type="text/javascript">
        var j$ = jQuery.noConflict();
        // remove focus on load from date field
        function setFocusOnLoad(){}
        </script>
    </apex:form> 
</apex:page>