<apex:page showHeader="false" sidebar="false">
<html>
<head>
<title>Protocol for Closing Unresponsive Delivery Follow Up Cases</title>
<apex:stylesheet value="{!URLFOR($Resource.style, 'style.css')}"/>
<style>
p { text-indent: 20px; }
</style>
</head>

<body>

<div class="header">

<img src="{!$Resource.logo}" class="logo" />
    <h1>Protocol for Closing Unresponsive Cases</h1><br/>
            <h2>8.0 Upgrade</h2>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="pricing">
    <thead>
        <tr>
            <th class="productCol">
                Protocol
            </th>
        </tr>
    </thead>
 
    <tbody>
      <tr class="product msdsManagement">
            <td class="productCol">
                <font color="red"><i>
Use your own discretion if you feel the case should be left open longer or if customer should be 
    contacted at a different frequency.<br/>

Be sure to leave all contact information on last attempt and let the customer know they can 
feel free to contact us at anytime if they are still interested in training or further assistance.
</i></font> 
            </td>
        </tr>
        <tr>
            <td class="productCol">
                <img src="{!URLFOR($Resource.style, '/Images/BulletRoundBlue.png')}" class="bullet"/>Call and email every 2 – 3 business days
                <br/>
                <img src="{!URLFOR($Resource.style, '/Images/BulletRoundBlue.png')}" class="bullet"/>If customer is unresponsive after 1 month, contact on a weekly basis
                <br/>
                 <img src="{!URLFOR($Resource.style, '/Images/BulletRoundBlue.png')}" class="bullet"/>If customer is unresponsive after 3 months, close case, document necessary information in case resolution, and notify Phil Johnson and Orders
                <br/>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>




</apex:page>