/**CSS RESET**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight:normal;
    font: inherit;
    vertical-align: baseline;
}
/**PRINT STYLE MARGIN**/
@page
{
	margin:.34in;
}
/***Main Styling***/
body
{
	background-color:#fff;
	color:#231F20;
	font-family:Arial Unicode MS, Arial, sans-serif;
	font-size:8pt;
}
/**header**/
div.header
{
	height:.93in;
	text-align:center;
}
img.logo
{
	float:left;
}
h1
{
	font-size:20pt;
	font-weight:bold;
}
.contactInfo
{
	float:right;
	text-align:left;
	line-height:10pt;
}
.contactInfo .fax
{
	font-size:12pt;
	line-height:12pt;
}
/**sections**/
div.section
{
	background:#fff url(Images/SectionBg.jpg) repeat-x top left;
	border:solid 2pt #1980ba;
	margin-top:6pt;
	font-size:9pt;
}
div.section .row
{
	border-bottom:solid 1pt #c4c8c9;
	overflow:hidden;
}
div.field
{
	float:left;
	width:50%;
	padding:1pt 0;
}
div.field:first-child
{
	border-right:solid 1pt #c4c8c9;
	width:49%;
}
div.field.msdsonline
{
	text-align:center;
}
label
{
	font-weight:bold;
	padding-left:3pt;
	width:76pt;
	display:inline-block;
}
	.signatures label
	{
		width:60pt;
	}
.customer div.field
{
	font-weight:bold;
}
div.section.instructions
{
	padding:5pt;
}
h2
{
	font-weight:bold;
}
div.section.instructions p
{
	font-size:7pt;
	padding-top:5pt;
}
span.bold
{
	font-weight:bold;
}
p.terms
{
	padding:4pt 6pt;
}
/**pricing table**/
table.pricing
{
	border:solid 2pt #1980ba;
	margin-top:6pt;
	font-size:9pt;
	text-align:left;
	width:100%;
}
table.pricing thead th,
table.pricing tfoot td
{
	background-color:#1980ba;
	color:#fff;
	font-size:10pt;
	font-weight:bold;
}
table.pricing thead th
{
	padding:1pt 0 3pt;
}
table.pricing tfoot td
{
	padding:3pt 0 1pt;
}
table.pricing tbody
{
	background:#fff url(Images/SectionBg.jpg) repeat-x top left;
}
table.pricing tbody tr td
{
	border-bottom:solid 1pt #c4c8c9;
	padding:2pt 0;
	vertical-align:bottom;
}
	table.pricing tr.product td,
	table.pricing tr.productType td,
	table.pricing tr.optionsGroup td,
	table.pricing tr.option td.emptyCell
	{
		border-bottom:0;
	}
	table.pricing tbody tr.product.msdsManagement td
	{
		border-bottom:solid 1pt #c4c8c9;
	}
table.pricing tbody tr.option td
{
	font-size:8pt;
	padding-bottom:0;
	padding-top:0;
}
table.pricing img.bullet
{
	margin-right:8pt;
}
table.pricing tr.option td.emptyCell
{
	width:16pt;
}
/*product column*/
table.pricing thead .productCol,
table.pricing tfoot .productCol
{
	padding-left:4pt;
}
tr.productType .productCol
{
	font-weight:bold;
	padding-left:4pt;
}
tr.product .productCol,
tr.optionsGroup .productCol
{
}
tr.option .productCol
{
	padding-left:4pt;
}
/*year column*/
table.pricing .yearCol
{
	border-left:solid 1pt #c4c8c9;
	padding-right:4pt;
	text-align:right;
	width:.9in;
}
	table.pricing thead .yearCol
	{
		text-align:center;
		padding-right:0;
		border-left:solid 1pt #1980ba;
	}
	table.pricing tfoot .yearCol
	{
		border-left:solid 1pt #1980ba;
	}