/* tables */
table.tablesorter {
	font-family: Arial,sans-serif; 
	font-size: 8pt;
	background-color: #ffffff;
	margin:10px 0pt 15px;
	text-align:center;
	
}
table.tablesorter thead tr th {
	background: #eeeeee url(ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x;
	border: 1px solid #d8dcdf;
	font-size: 1.1em;
	color: #004276;
	text-align:center;
	padding:4px;
	
}

table.tablesorter thead td , table.tablesorter tfoot tr th {
	background: #cc0000 url(ui-bg_highlight-soft_15_cc0000_1x100.png) 50% 50% repeat-x;
	border: 1px solid #e3a1a1;
	font-size: 11pt;
	color: #FFFFFF; 
	text-align:center;	
	font-weight: bold; 
	padding:4px;
}

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #333333;
	padding: 4px;
	background: #ffffff url(ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	vertical-align: top;
	border: 1px solid #eeeeee;
}
table.tablesorter tbody tr.odd td {
	background-color:#ffffff;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #ffffff;
border: 1px solid #eeeeee;
font-weight: bold; 
color: #cc0000;
}
